﻿@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model AdvertisingBanner_M

@{
    ViewBag.Title = "Edit Advertisement";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageTitle = "Advertising Management";
}

@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li>
            <i class="fa fa-external-link-square"></i>
            <a href="@Url.Action("Index", "Advertising")">Advertising</a>
        </li>
        <li class="active">@Model.Name
        </li>
    </ul>
}
@{
}

@section HeaderScripts
{
    <script src="~/Scripts/Fileinput/fileinput.js"></script>
}


<form class="well widget flat radius-bordered no-margin" role="form" method="post" id="AddEditForm">
    <div>
        <div class="widget-header bg-blue">
            <span class="widget-caption">Edit @Model.Name</span>
        </div>
        <div class="widget-body">
            @Html.EditorForModel()

        </div>

        <div class="widget-body">
            <div class="form-group">
                <button type="submit" class="btn btn-success" id="btnSave">Save</button>
                <a href="@Url.Action("Index")" class="btn btn-warning">Cancel</a>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script src="/Content/beyond-admin/js/datetime/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        initPlugins();
        //$('.date-picker').datepicker({ dateFormat: 'dd/mm/yy' });
    </script>
}