﻿@model List<ThoroughWorks.Models.AdvertisingBanner_M>
@{
    ViewBag.Title = "Advertising Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageTitle = "Advertising Management";
}

@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li class="active">
            <i class="fa fa-external-link-square"></i>
            Advertising
        </li>
    </ul>
}


<div id="divlist">
    <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-8">
            <a class="btn btn-blue" href="@Url.Action("New", "Advertising")">Add an Advertisment</a>
        </div>
    </div>
    <div id="listingData">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>

                    <th style="width: 25%">Name</th>
                    <th style="width: 25%" class="hidden-xs hidden-sm">URL</th>
                    <th style="width: 15%" class="hidden-xs">Show From</th>
                    <th style="width: 15%" class="hidden-xs">Show To</th>
                    <th style="width: 10%"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count == 0)
                {
                    <tr>
                        <td colspan="5">No Record Found.
                        </td>
                    </tr>
                }
                else
                {
                    @Html.DisplayForModel()
                }
            </tbody>
        </table>
    </div>
</div>



@section Scripts
{
    <script type="text/javascript">
        function DeleteRecord(id) {
            var url = '@Url.Action("DeleteRecord", "Advertising")';
            if (confirm('Are you sure you want to delete this record?')) {
                showloading();
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: { BannerID: id },
                    success: function (data) {
                        location.href = location.href;
                    },
                    error: function (err) {
                        hideloading();
                        location.href = location.href;
                    }
                });
            }
        }
    </script>
}