﻿@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model AdvertisingBanner_M

@{
    ViewBag.Title = "New Advertisement";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageTitle = "Advertising Management";
}

@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li>
            <i class="fa fa-external-link-square"></i>
            <a href="@Url.Action("Index", "Advertising")">Advertising</a>
        </li>
        <li class="active">New Advertisement
        </li>
    </ul>
}
@{
}

@section HeaderScripts
{
        <script src="~/Scripts/Fileinput/fileinput.js"></script>
    @*    <script src="~/Scripts/select2/select2.js"></script>
    <link href="~/Scripts/select2/select2.css" rel="stylesheet" />*@
    @*    <script src="~/Content/beyond-admin/js/datetime/bootstrap-datepicker.js"></script>*@
}


<form class="well widget flat radius-bordered no-margin" role="form" method="post" id="AddEditForm">
    <div>
        <div class="widget-header bg-blue">
            @if (Model.ID == 0)
            {
                <span class="widget-caption">New Advertisment</span>
            }
            else
            {
                <span class="widget-caption">Edit @Model.Name</span>
            }
        </div>
        <div class="widget-body">
            @Html.EditorForModel()

        </div>

        <div class="widget-body">
            <div class="form-group">
                <button type="submit" class="btn btn-success" id="btnSave">Save</button>
                <a href="@Url.Action("Index")" class="btn btn-warning">Cancel</a>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script src="/Content/beyond-admin/js/datetime/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        initPlugins();
        //$('.date-picker').datepicker({ dateFormat: 'dd/mm/yy' });

        //$.validator.unobtrusive.parse("#AddEditForm");
        //jQuery(function ($) {
        //    $.validator.addMethod('date',
        //    function (value, element) {
        //        if (this.optional(element)) {
        //            return true;
        //        }

        //        var ok = true;
        //        try {
        //            $.datepicker.parseDate('dd/mm/yy', value);
        //        }
        //        catch (err) {
        //            ok = false;
        //        }
        //        return ok;
        //    });
        //});


    </script>
}