﻿@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model Viewer_M

@{
    ViewBag.Title = "Viewer Management";
    ViewBag.PageTitle = "Viewer Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li>
            <i class="menu-icon glyphicon glyphicon-eye-open"></i>
            <a href="@Url.Action("Index", "Viewer")">Viewers</a>
        </li>
        <li class="active">
            <i class="fa fa-user"></i>
            @if (Model.ViewerID == 0)
            {
                @Html.Raw("Add New Viewer")
            }
            else
            {
                @Model.ViewerName
            }
        </li>
    </ul>
}

<div class="col-lg-8 col-md-12 col-sm-12 col-xs-24 no-margin no-padding">
    <div class="widget">
        <div class="widget-header bg-blue">
            @if (Model.ViewerID == 0)
            {
                <span class="widget-caption">New Viewer</span>
            }
            else
            {
                <span class="widget-caption">Edit @Model.ViewerName</span>
            }

        </div>
        <div class="widget-body">
            @using (Html.BeginForm("SaveRecord", "Viewer", FormMethod.Post, new { @class = "form-horizontal", @style = "clear:none", @enctype = "multipart/form-data" }))
            {
                <input type="hidden" id="ReturnUrl" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
                @Html.EditorForModel()

                <button type="submit" class="btn btn-success">Save Changes</button>
                <a href="@Url.Action("Index")" class="btn btn-warning">Cancel</a>
            }
        </div>
    </div>
</div>


