﻿@model List<ThoroughWorks.Models.VetWorkAttribute_M>
@using ThoroughWorks.Web.Models.Helpers
@using ThoroughWorks.Models
@{
    ViewBag.Title = "Vet Work Attribute Management";
    ViewBag.PageTitle = "Vet Work Attribute Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li class="active">
            <i class="menu-icon glyphicon glyphicon-tags"></i>
            Vet Work Attributes
        </li>
    </ul>

}

<div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-8">
        <a class="btn btn-blue" href="@Url.Action("Add", "VetWorkAttribute")">Add a New Attribute</a>
    </div>
</div>


<div class="well">
    <form id="formConfig" name="formConfig">
        <h4>Search</h4>
        <input type="hidden" id="Page" name="page" />
        <div class="form-inline">
            <div class="form-group ">
                <div class="col-lg-12 no-padding">
                    <label class="sr-only" for="SearchOwner">Owner</label>
                    @Html.TextBox("SearchVetWorkAttribute", "", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group ">
                <div class="col-lg-12 no-padding">
                    <input type="hidden" id="Page" name="page" value="1">
                    <input type="submit" class="btn btn-blue" value="Search">
                </div>
            </div>
        </div>
    </form>
    <div class="clear"></div>
</div>


@using (Html.BeginForm("ReorderVetWork", "VetWorkAttribute", FormMethod.Post, new { id = "sortable-form" }))
{
    <p>
        To change the order of your attributes, please drag and drop them into the appropriate spot. 
    </p>

<table class="table table-striped table-hover table-bordered" id="tblAttributes">
    <thead>
        <tr>
            <th style="width: 30%;">Attribute</th>
            <th style="width: 15%;"></th>
        </tr>
    </thead>
    <tbody>

        @Html.DisplayForModel()

    </tbody>
</table>
}


@section Scripts
{

    <script type="text/javascript">
        $(document).ready(function () {
            $(".remove-vetworkattribute").on("click", function () {
                var url = '@Url.Action("AjaxListing")';
                var vetworkattributeID = $(this).closest("tr").find(".vetworkattribute-id").val();
                if (confirm('Are you sure you want to delete this attribute?')) {
                    showloading();
                    $.ajax({
                        url: '@Url.Action("DeleteRecord")',
                        data: { EntityID: vetworkattributeID },
                        context: document.body,
                        success: function (data) {
                            $(".alert").attr("class", "alert alert-success");
                            $(".message-text").html("Attribute Removed Successfully");
                            $(".fa-fw").attr("class", "fa-fw fa fa-check");
                            $(".alert").show();
                            setMessageTimeout();

                            $.post(url, $('#formConfig').serialize(), function (data, status) {
                                $('#listingData').html(data);
                                hideloading();
                            });

                        },
                        error: function (err) {
                            hideloading();
                            alert(err);
                        }
                    });
                }
            });

            $("#formConfig").on("submit", function () {
                var url = '@Url.Action("AjaxListing")';
                $('#Page').val('1');
                $.post(url, $('#formConfig').serialize(), function (data, status) {
                    $('#listingData').html(data);
                });
                return false;
            });

            $("#tblAttributes").sortable({
                items: '.sortable',
                //placeholder: 'sortable-placeholder',
                //'start': function (event, ui) {
                //ui.placeholder.html("<tr><td colspan='13'>Drag Here</td></tr>")
                //},
                helper: function (e, tr) {
                    var $originals = tr.children();
                    var $helper = tr.clone();
                    $helper.children().each(function (index) {
                        // Set helper cell sizes to match the original sizes
                        $(this).width($originals.eq(index).width());
                    });
                    return $helper;
                },
                update: function (event, ui) {
                    index = 0;
                    groupId = null;
                    $("#tblAttributes .sortable").each(function () {
                        index++;
                        $(this).find(".sequence").val(index);
                    });

                    $("#sortable-form").submit();
                }
            }).disableSelection();


        });

    </script>

    
}