﻿
@using ThoroughWorks.Web.Models.Helpers
@using ThoroughWorks.Models
@model Viewer_M


<tr class="sortable">
    <td>
        @Html.HiddenFor(m => m.ViewerID, new { @class = "viewer-id" })
        @Html.HiddenFor(m => m.ViewerID, new { @class = "viewer-id" })
        @Html.HiddenFor(m => m.ViewerName, new { @class = "viewer-id" })
        @Html.ActionLink(Model.ViewerName, "Edit", new { id = Model.ViewerID }, null)</td>
    

    <td style="text-align: center;">
        <a href="@Url.Action("Edit", "Viewer", new { id = Model.ViewerID })" class="edit-horse btn btn-primary icon-button btn-sm  hidden-xs" title="Edit Viewer"><i class="fa fa-edit"></i></a>
        <a href="javascript:void(0);" class="remove-viewer btn btn-danger  icon-button btn-sm" title="Remove Viewer"><i class="fa fa-times"></i></a>
    </td>
</tr>