﻿
@using ThoroughWorks.Models
@model Password_M


@Html.HiddenFor(model => model.UserID)

<div class="form-group">
    @Html.LabelFor(model => model.CurrentPassword)
    @Html.PasswordFor(model => model.CurrentPassword,  new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.CurrentPassword)

</div>

<div class="form-group">
    @Html.LabelFor(model => model.NewPassword)
    @Html.PasswordFor(model => model.NewPassword,  new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.NewPassword)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.ReTypePassword)
    @Html.PasswordFor(model => model.ReTypePassword,  new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.ReTypePassword)
</div>
