﻿@using ThoroughWorks.Web.Models.Helpers;
@model ThoroughWorks.Models.UserSaleLocation_M

<tr>
    <td>
        <a href="#">@Model.SaleName</a>
    </td>
    <td class="hidden-xs">@Model.Location
    </td>
    <td class="hidden-xs">@Helpers.ConvertDateToString(Model.StartDate)
    </td>
    <td class="hidden-xs">
        @Helpers.ConvertDateToString(Model.EndDate)
    </td>
    <td style="text-align:right">
        <a href="@Url.Action("Add", "SaleCard", new { id = Model.UserSaleLocationID })" class="btn btn-success icon-button btn-sm" title="Add Card"><i class="fa fa-plus"></i></a>
        <a href="@Url.Action("Edit", "SaleLocation", new { id = Model.UserSaleLocationID })" class="edit-location btn btn-primary icon-button btn-sm" title="Edit Sale Location"><i class="fa fa-edit"></i></a>
        <a href="@Url.Action("Index", "SaleCard", new { id = Model.UserSaleLocationID })" class="btn btn-secondary icon-button btn-sm" title="View Cards"><i class="fa fa-file-text"></i></a>
        @if (Helpers.IsInRole(Convert.ToString((int)ThoroughWorks.Web.Models.Helpers.EnumHelper.Roles.SaleManager)) || Helpers.IsInRole(Convert.ToString((int)ThoroughWorks.Web.Models.Helpers.EnumHelper.Roles.AdminUser)))
        {
            <a href="@Url.Action("SaleStatistics", "SaleCard", new { id = Model.UserSaleLocationID, ReturnUrl = Server.UrlEncode(Request.Url.ToString()) })" class="btn btn-secondary icon-button btn-sm" title="View Statistics"><i class="fa fa-bar-chart-o"></i></a>
        }
    </td>
</tr>

