﻿@using ThoroughWorks.Web.Models.Helpers;
@model ThoroughWorks.Models.VetWork_M
<tr>


    <td>
        @Html.ActionLink(Model.HorseName, "Edit", "VetWork", new { id = Model.VetWorkID }, null)
        @Html.HiddenFor(m => m.VetWorkID, new { @class = "vetwork-id" })
        @Html.HiddenFor(m => m.VetID, new { @class = "vet-id" })
    </td>
    @if (Helpers.isAdmin())
    {
        <td style="width: 15%">@Html.DisplayFor(m => m.VetName)</td>
    }
    <td class="hidden-xs hidden-sm hidden-md">@Html.DisplayFor(m => m.AgeCategoryDisplay)</td>
    <td class="hidden-xs hidden-sm">@Html.DisplayFor(m => m.LastVisitDate)</td>
    <td>@Html.DisplayFor(m => m.InFor) </td>

    <td>
        <a href="@Url.Action("Edit", "VetWork", new { id = Model.VetWorkID })" class="edit-horse btn btn-primary icon-button btn-sm  hidden-xs" title="Edit Appointment"><i class="fa fa-edit"></i></a>
        <a href="@Url.Action("Complete", "VetWork", new { id = Model.VetWorkID })" class="complete-horse btn btn-primary icon-button btn-sm  hidden-xs" title="Complete Appointment"><i class="fa fa-check"></i></a>
@if (Helpers.isAdmin())
{
        <a href="javascript:void(0);" class="remove-vetwork btn btn-danger  icon-button btn-sm" title="Remove Appointment"><i class="fa fa-times"></i></a>
}
    </td>
</tr>



