﻿@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model UserSaleLocation_M

<div class="form-group">
    @Html.LabelFor(model => model.SaleName)
    @Html.TextBoxFor(model => model.SaleName, null, new { maxlength = 500, @class = "form-control" })
    @Html.ValidationMessageFor(model => model.SaleName)

    @Html.HiddenFor(model => model.UserID)
    @Html.HiddenFor(model => model.SubscriberID)
    @Html.HiddenFor(model => model.UserSaleLocationID)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Location)
    @Html.TextBoxFor(model => model.Location, null, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Location)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.StartDate)
    <input type="text" name="StartDate" value="@String.Format("{0:dd/MM/yyyy}", Model.StartDate)" class="form-control date-picker" data-date-format="dd/mm/yyyy" />
</div>

<div class="form-group">
    @Html.LabelFor(model => model.EndDate)
    <input type="text" name="EndDate" value="@String.Format("{0:dd/MM/yyyy}", Model.EndDate)" class="form-control date-picker" data-date-format="dd/mm/yyyy" />
</div>

<div class="form-group">
    @Html.LabelFor(model => model.NumberSessions)
    @Html.TextBoxFor(model => model.NumberSessions, null, new { @class = "form-control" })
</div>
