﻿@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model UserHorseSale_M

@{
    int SubscriberID = ViewBag.SubscriberID;
}
<tr class="tablerow">
    <td>@Html.TextBoxFor(m => m.LotNumber, new { @class = "form-control" })</td>
    <td>@Html.DropDownList("HorseID", DropDownHelper.GetAllUserHorses("", SubscriberID), "--Select Horse--", new { @class = "form-control" })</td>
    <td>

        @for (int i = 0; i < ViewBag.NumberSessions; i++)
        {
            int sess = i+1;
            
                <label style="margin-right:10px;">
                    @Html.RadioButtonFor(m => m.SessionNumber, sess) <span class="text">Session @sess</span>
                </label>
            
        }


    </td>
    <td class="sequence">
        @Html.HiddenFor(m => m.Comments, new { @class = "form-control" })
        @Html.HiddenFor(m => m.Sequence, new { @class = "hdnSequence" })
        @Html.HiddenFor(m => m.UserHorseSaleID)
        @Html.HiddenFor(m => m.UserSaleLocationID)
        @Html.HiddenFor(m => m.Delete, new { @class = "mark-for-delete" })
        @Html.LinkToRemoveNestedForm("Remove", "tr.tablerow", "input.mark-for-delete")
    </td>
</tr>
