﻿@using ThoroughWorks.Web.Models.Helpers
@using System.Web.Optimization;

@{
    Layout = null;
    if (ViewBag.RenderSidebar == null)
    {
        ViewBag.RenderSidebar = true;
    }
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<!--Head-->
<head>
    <meta charset="utf-8" />
    <title>ThoroughWorks - @ViewBag.Title</title>

    @RenderSection("meta", false)

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    @Scripts.Render("~/Scripts/Jquery")
    <!--Basic Styles-->
    @Styles.Render("~/Content/Basic")

    <!--Fonts-->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">

    <!--Beyond styles-->
    @Styles.Render("~/Content/BeyondTheme")

    @Styles.Render("~/Content/Customisations")
    @Scripts.Render("~/Scripts/DatePicker")
    @Scripts.Render("~/Scripts/Common")
    @*<link id="skin-link" href="" rel="stylesheet" type="text/css" />*@
    @Scripts.Render("~/Validation")

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="/Content/beyond-admin/js/skins.min.js"></script>

    @RenderSection("HeaderScripts", false)
</head>
<!--Head Ends-->
<!--Body-->
<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="navbar-container">
                <!-- Navbar Barnd -->
                <div class="navbar-header pull-left">
                    <a href="#" class="navbar-brand">
                        <img src="/Content/images/logo.png" alt="ThoroughWorks" class="logo" />
                    </a>
                </div>
                <!-- /Navbar Barnd -->
                <!-- Sidebar Collapse -->
                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="collapse-icon fa fa-bars"></i>
                </div>
                <!-- /Sidebar Collapse -->
                <!-- Account Area and Settings --->
                <div class="navbar-header pull-right hidden-xs">
                    <div class="navbar-account">
                        <ul class="account-area">
                            <li>
                                <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                    <section>
                                        <h2><span class="profile"><span>Hello, @SessionHelper.DisplayName</span></span></h2>
                                    </section>
                                </a>
                                <!--Login Area Dropdown-->
                                <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                                    <li class="username"><a>@SessionHelper.DisplayName</a></li>
                                    <!--Avatar Area-->
                                    <li class="edit">
                                        <a href="@Url.Action("ChangePassword", "Login", new { Area = "" })" class="pull-left"><i class="fa fa-lock"></i>&nbsp;&nbsp;Change Password</a>
                                    </li>
                                    <li class="edit">
                                        <a href="@Url.Action("MyProfile", "UserManagement", new { Area = "", ReturnUrl = Request.Url })" class="pull-left"><i class="fa fa-user"></i>&nbsp;&nbsp;My Profile</a>
                                    </li>
                                    <li class="dropdown-footer">
                                        <a href="@Url.Action("Logout", "Login", new { Area = "" })">Sign out
                                        </a>
                                    </li>
                                </ul>
                                <!--/Login Area Dropdown-->
                            </li>
                            <!-- /Account Area -->
                            <!--Note: notice that setting div must start right after account area list.
                            no space must be between these elements-->
                            <!-- Settings -->
                        </ul>
                        <!-- Settings -->
                    </div>
                </div>
                <!-- /Account Area and Settings -->
            </div>
        </div>
    </div>
    <!-- /Navbar -->
    <!-- Main Container -->
    <div class="main-container container-fluid">
        <!-- Page Container -->
        <div class="page-container">
            @if ((bool)ViewBag.RenderSidebar)
            {
            <!-- Page Sidebar -->
            <div class="sidebar-filler hidden-xs">
                <div class="filler" style="height: 80px; background-color: #2DC3E8;">&nbsp;</div>
            </div>
            <div class="page-sidebar" id="sidebar">
                <!-- Sidebar Menu -->
                @{Html.RenderPartial("NavMenu");}
                <!-- /Sidebar Menu -->
            </div>
            }
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            @{
                var margin = "";
                if (!(bool)ViewBag.RenderSidebar)
                {
                    margin = "margin-left:0px;";
                }
            }
            <div class="page-content" style="@margin">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    @RenderSection("Breadcrumbs", false)
                </div>
                <!-- /Page Breadcrumb -->
                <!-- Page Header -->
                <div class="page-header position-relative">
                    <div class="header-title">
                        <h1>@ViewBag.PageTitle</h1>
                    </div>
                </div>
                <!-- /Page Header -->

                <!-- Page Messages -->
                @{
                    if (Session["Message"] != null)
                    {
                        ViewBag.Message = Session["Message"];
                        Session.Remove("Message");

                        if (Session["MessageClass"] != null)
                        {
                            ViewBag.MessageClass = Session["MessageClass"];
                            Session.Remove("MessageClass");
                        }
                        else
                        {
                            ViewBag.MessageClass = "success";
                        }
                    }
                    else
                    {
                        if (ViewBag.Message != null)
                        {
                            if (ViewBag.MessageClass == null)
                            {
                                ViewBag.MessageClass = "success";
                            }
                        }
                    }
                }

                @{Html.RenderPartial("Messages");}
                <!-- /Page Messages -->

                <!-- Page Body -->
                <div class="page-body">
                    <div class="row no-margin">
                        @RenderBody()
                    </div>
                </div>

                <div id="errorSummary" style="display: none;">
                    @Html.ValidationSummary(false, "The following errors have been found")
                </div>

                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
        </div>
        <!-- /Page Container -->
        <!-- Main Container -->

    </div>

    <!--Basic Scripts-->
    <!-- this plays havoc with the theme -->
    @*@Scripts.Render("~/Scripts/JqueryUI")*@
    @Scripts.Render("~/Scripts/Bootstrap")

    <!--Beyond Scripts-->
    @Scripts.Render("~/Scripts/BeyondTheme")
    @Scripts.Render("~/Scripts/Select2List")

    <!-- Other Scripts -->
    @RenderSection("Scripts", required: false)

    <!-- Footer Scripting Section for messages -->
    <script>
        $(".alert").hide();
        function setMessageTimeout() {
            if (timeout == undefined) {
                var timeout = setTimeout(function () { $(".alert-success").slideUp('slow') }, 5000);
            } else {
                clearTimeout(timeout);
                timeout = setTimeout(function () { $(".alert-success").slideUp('slow') }, 5000);
            }
        }
    </script>

    @if (!String.IsNullOrEmpty(ViewBag.Message))
    {
        <script>
            $(".alert").attr("class", "alert alert-@ViewBag.MessageClass");
            $(".fa-fw").attr("class", "fa-fw fa fa-@ViewBag.MessageClass");
            $(".message-text").html("@ViewBag.Message.ToString().Replace(Environment.NewLine, " ")");
            $(".alert").show();
        </script>
        if (ViewBag.MessageClass == "success")
        {
        <script type="text/javascript">
            $(".fa-fw").attr("class", "fa-fw fa fa-check");
            setMessageTimeout();
        </script>
        }
        else if (ViewBag.MessageClass == "danger")
        {
        <script type="text/javascript">
            $(".fa-fw").hide();
        </script>
        }
    }
    else if (!ViewData.ModelState.IsValid)
    {
        <script>
            $(".alert").attr("class", "alert alert-danger");
            $(".fa-fw").hide();
            $(".message-text").html($("#errorSummary").html());
            $(".alert").show();
        </script>
    }
    else
    {
        <script>
            $(".alert").attr("class", "alert");
            $(".message-text").html("");
            $(".alert").hide();
        </script>
    }


</body>
<!--Body Ends-->
</html>
