﻿@using System.Web.Optimization;
<!DOCTYPE html>
<!--
Beyond Admin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3
Version: 1.0.0
Purchase: http://wrapbootstrap.com
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<!--Head-->
<head>
    <meta charset="utf-8" />
    <title>ThoroughWorks - @ViewBag.Title</title>

    @{RenderSection("meta",false);}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @*<link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">*@

    <!--Basic Styles-->
    @Styles.Render("~/Content/Basic")

    <!--Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">

    <!--Beyond styles-->
    @Styles.Render("~/Content/BeyondTheme")

    @Styles.Render("~/Content/Customisations")
    @*<link id="skin-link" href="" rel="stylesheet" type="text/css" />*@

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="/Content/beyond-admin/js/skins.min.js"></script>
</head>
<!--Head Ends-->
<!--Body-->
<body>
    <div class="login-container animated fadeInDown">
            @RenderBody()
    </div>

    <!--Basic Scripts-->
    @Scripts.Render("~/Scripts/Jquery")
    @Scripts.Render("~/Scripts/Bootstrap")

    <!--Beyond Scripts-->
    @Scripts.Render("~/Scripts/BeyondTheme")

    <!-- Other Scripts -->
    @RenderSection("scripts", required: false)

@*    <!--Google Analytics::Demo Only-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'http://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-52103994-1', 'auto');
        ga('send', 'pageview');

    </script>*@
</body>
<!--Body Ends-->
</html>
