﻿@using ThoroughWorks.Web.Models.Helpers
@using System.Web.Optimization;

@{
    Layout = null;
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<!--Head-->
<head>
    <meta charset="utf-8" />
    <title>ThoroughWorks - @ViewBag.Title</title>

    <h4>@ViewBag.PageTitle</h4>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!--Basic Styles-->
    @Styles.Render("~/Content/Basic")

    <!--Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">

    <!--Beyond styles-->
    @Styles.Render("~/Content/BeyondTheme")

    @Styles.Render("~/Content/Customisations")

    <!-- report overrides -->
    <style>
        body:before {
            background:none;
        }
        body {
            font-size:0.8em;
        }
        .table tr th {
            font-size:0.85em !important;
        }

    </style>
    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="/Content/beyond-admin/js/skins.min.js"></script>

</head>
<!--Head Ends-->

<body>
                
        <div class="row no-margin">
            @RenderBody()
        </div>

</body>

</html>
