﻿
<div class="alert">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <button class="close" data-dismiss="alert">
                ×
            </button>
            <i class="fa-fw fa"></i>
            <span class="message-text"></span>
        </div>
    </div>
</div>
