﻿@using ThoroughWorks.Web.Models.Helpers

@{
    var dashboard = "";
    var users = "";
    var horses = "";
    var owners = "";
    var salelocation = "";
    var vetwork = "";
    var salecard = "";
    var subscriber = "";
    var advertising = "";
    var sire = "";
    var viewer = "";

    string controller = ViewContext.RouteData.Values["Controller"].ToString();
    switch (controller.ToLower())
    {
        case "dashboard":
            dashboard = "active";
            break;
        case "usermanagement":
            users = "active";
            break;
        case "owner":
            owners = "active";
            break;
        case "horse":
            horses = "active";
            break;
        case "salelocation":
            salelocation = "active";
            break;
        case "vetwork":
            vetwork = "active";
            break;
        case "salecard":
            salecard = "active";
            break;
        case "subscriber":
            subscriber = "active";
            break;
        case "advertising":
            advertising = "active";
            break;
        case "sire":
            sire = "active";
            break;
        case "viewer":
            viewer = "active";
            break;

    }
    bool isAdmin = Helpers.isAdmin();
    bool isSuperAdmin = Helpers.isSuperAdmin();
    bool isSales = Helpers.isSalesManager();
    bool isVet = Helpers.isVet();
}

<ul class="nav sidebar-menu">
    <!--Dashboard-->
    <li class="@dashboard">
        <a href="@Url.Action("Index", "Dashboard")">
            <i class="menu-icon glyphicon glyphicon-home"></i>
            <span class="menu-text">Dashboard </span>
        </a>
    </li>
    
        

    @if (!isSuperAdmin)
    {

        <li class="@owners">
            <a href="@Url.Action("Index", "Owner")">
                <i class="fa menu-icon glyphicon fa-users"></i>
                <span class="menu-text">Owners</span>
            </a>
        </li>
        <li class="@horses">
            <a href="@Url.Action("Index", "Horse")">
                <i class="menu-icon horse-font">5</i>
                <span class="menu-text">Horses </span>
            </a>
        </li>

        <li class="@salelocation">
            <a href="@Url.Action("Index", "SaleLocation")">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text">Sales </span>
            </a>
        </li>

    }
    else
    {
@*only for superadmin*@
        <li>
            <a href="@Url.Action("Index", "UserManagement")">
                <i class="menu-icon glyphicon glyphicon-user"></i>

                <span class="menu-text">Administrators </span>
            </a>
        </li>
        <li class="@subscriber">
            <a href="@Url.Action("Index", "Subscriber")">
                <i class="menu-icon fa fa-dollar"></i>
                <span class="menu-text">Subscriptions </span>
            </a>
        </li>
        <li class="@advertising">
            <a href="@Url.Action("Index", "Advertising")">
                <i class="menu-icon fa fa-external-link-square"></i>
                <span class="menu-text">Advertising </span>
            </a>
        </li>
        <li class="@sire">
            <a href="@Url.Action("Index", "Sire")">
                <i class="menu-icon horse-font">5</i>
                <span class="menu-text">Sires</span>
            </a>
        </li>
        <li class="@viewer">
            <a href="@Url.Action("Index", "Viewer")">
                <i class="menu-icon glyphicon glyphicon-eye-open"></i>
                <span class="menu-text">Viewers</span>
            </a>
        </li>
    }

    @if (isAdmin || isVet)
    {
        <li class="@vetwork">
            <a href="@Url.Action("Index", "VetWork")">
                <i class="menu-icon fa fa-stethoscope"></i>
                <span class="menu-text">Vet Work </span>
            </a>
        </li>
    }


    @if (isAdmin )
    {
        <li class="@users">

            <a href="#" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-folder-open"></i>
                <span class="menu-text">Admin </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a href="@Url.Action("Index", "UserManagement")">
                        <i class="menu-icon glyphicon glyphicon-user"></i>
                        <span class="menu-text">Users </span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Index", "VetWorkAttribute")">
                        <i class="menu-icon glyphicon glyphicon-tags"></i>
                        <span class="menu-text">Vet Work Attributes</span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Current", "Subscriber")">
                        <i class="menu-icon fa fa-dollar"></i>
                        <span class="menu-text">Subscription</span>
                    </a>
                </li>
            
            </ul>
        </li>
    }


    <li class="hidden-sm hidden-md hidden-lg hidden-xl">

        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-user"></i>
            <span class="menu-text">My Profile</span>
            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li>
                <a href="@Url.Action("ChangePassword", "Login", new { Area = "" })">
                    <i class="menu-icon fa fa-lock"></i>
                        <span class="menu-text">Change Password</span>
                    
                </a>
            </li>
            <li>
                <a href="@Url.Action("Logout", "Login", new { Area = "" })">
                    <i class="menu-icon fa fa-sign-out"></i>
                        <span class="menu-text">Logout</span>
                    
                </a>
            </li>

        </ul>
    </li>
</ul>
