﻿@using ThoroughWorks.Models;
@model CardHorseViewerModel

@{
    var preSale = Model.ViewList.Where(x => x.Date < ViewBag.SaleStartDate).Sum(x => x.Views);
    var total = Model.ViewList.Sum(x => x.Views);
}
<tr class="widget-table-data" style="border:1px solid grey;">
    <td style="text-align: left;">@Model.ViewerName</td>
    <td style="text-align: center;">
        @if (preSale > 0)
        {
            @Html.Raw(preSale)
        }
    </td>
    @foreach (var date in (List<DateTime>)ViewBag.ViewDates)
    {
        if (Model.ViewList.Any(x => x.Date == date))
        {
        <td style="text-align: center;">@Model.ViewList.FirstOrDefault(x => x.Date == date).Views</td>
        }
        else
        {
        <td></td>
        }
    }

    <td style="text-align: center;">@total</td>
</tr>
