﻿@model ThoroughWorks.Models.SaleCardViewModel

<span style="font-size: 12pt; font-weight: bold;">Lot @Model.LotNumber - @Model.HorseName</span><br />
@if (!string.IsNullOrEmpty(Model.Comments))
{
    @Model.Comments.Replace(Environment.NewLine, "<br />")<br />
    <br />
}
@if (Model.HorseImagePath != null)
{
    <img src="@Model.HorseImagePath" width="200" alt="" /><br />
}

<table style="border:0; width:700px;" cellpadding="0" cellspacing="0"  >
    <tr>
        <td style="border:0">
            @if (Model.Viewers == null)
            {
                Model.Viewers = new List<ThoroughWorks.Models.CardHorseViewerModel>();
            }
            @if (!Model.Viewers.Any())
            {
                <p><b>No Views Found</b></p>
            }
            else
            {
                        
                <table cellpadding="0" cellspacing="0" style="width: 700px; " >
                    <thead>
                        <tr class="widget-header">
                            <td class="widget-table-caption" style="text-align: left;"><span>Viewer</span></td>
                            <td class="widget-table-caption" style="width: 35px; text-align:center;"><span>Pre Sale</span></td>
                            @foreach (var date in Model.ViewDates.Where(x => x >= Model.SaleStartDate).ToList())
                            {
                                <td class="widget-table-caption" style="width: 35px; text-align:center;"><span>@date.Day.ToString()<br />@String.Format("{0:MMM}", date)</span></td>
                            }
                            <th class="widget-table-caption" style="width: 35px; text-align:center;"><span>Total</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        @Html.DisplayFor(m => m.Viewers, new { SaleStartDate = Model.SaleStartDate, ViewDates = Model.ViewDates, TotalList = Model.Viewers })
                    </tbody>
                    <tfoot>
                        <tr class="widget-table-data" style="border-top: solid 1px black; font-weight: bold;">
                            <td style="text-align: left;">Totals</td>
                            @{
                            var presaletotal = Model.Viewers.Sum(x => x.ViewList.Where(y => y.Date < ViewBag.SaleStartDate).Sum(z => z.Views));
                            var total = Model.Viewers.Sum(x => x.ViewList.Sum(z => z.Views));
                            }
                            <td style="text-align:center;">
                                @if (presaletotal > 0)
                                {
                                    @Html.Raw(presaletotal)
                                }
                            </td>
                            @foreach (var date in Model.ViewDates.Where(x => x >= Model.SaleStartDate).ToList())
                            {
                                var dayTotal = Model.Viewers.Sum(x => x.ViewList.Where(y => y.Date == date).Sum(z => z.Views));
                                var hiddensm = "";
                                if (dayTotal == 0)
                                {
                                    hiddensm = "hidden-sm hidden-md";
                                }
                                <td style="text-align:center;">
                                    @if (dayTotal > 0)
                                    {
                                        @Html.Raw(dayTotal)
                                    }
                                </td>
                            }
                            <td style="text-align:center;">
                                @if (total > 0)
                                {
                                    @Html.Raw(total)
                                }
                            </td>
                        </tr>
                    </tfoot>
                </table>
            }
        </td>
    </tr>
</table>
<br />
<br />
