﻿@using MvcPaging
@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model VetWork_M

@{
    if (ViewBag.VetID == null)
    {
        ViewBag.VetID = 0;
    }
}


<tr>
    <td>
        @Html.DisplayFor(m => m.HorseName)
    </td>
    @if (ViewBag.VetID == 0)
    {
        <td>
            @Html.DisplayFor(m => m.VetName)
        </td>
    }
    <td>
        @Html.DisplayFor(m => m.InFor)
    </td>

    @if (Model.VetWorkID != 0)
    {

        List<VetWorkCompleted_M> vcl = Model.VetWorkCompleted;
        if (vcl != null && vcl.Count > 0)
        {
            for (var i = 0; i < Model.VetWorkCompleted.Count; i++)
            {
        <td>
            @Html.DisplayFor(m => Model.VetWorkCompleted[i].AttributeValue)

        </td>
            }
        }

    }

    <td>
        @Html.DisplayFor(m => m.WorkCompleted)
    </td>
    <td>
        @String.Format("{0:dd/MM/yyyy}", Model.NextVisitDate)
        <br />
        @Html.DisplayFor(m => m.NextInFor)
    </td>
</tr>



