﻿@using ThoroughWorks.Web.Models.Helpers
@using ThoroughWorks.Models
@model VetWork_M
<tr>
    <td>
        @Html.HiddenFor(m => m.VetWorkID, new { @class = "vetwork-id" })
        @Html.ActionLink(Model.HorseName, "Edit", new { id = Model.VetWorkID, ReturnUrl = Server.UrlEncode(Request.Url.ToString()) },null)</td>
    <td class="hidden-xs hidden-sm hidden-md">@Model.AgeCategoryDisplay  </td>
    <td class="hidden-xs">@Model.VetName  </td>
<td class="hidden-xs hidden-sm hidden-md">@Helpers.ConvertDateToString(@Model.LastVisitDate)  </td>
<td class="hidden-xs hidden-sm">@Helpers.ConvertDateToString(Model.VisitDate)  </td>
<td >@Model.InFor  </td>
<td class="hidden-xs hidden-sm">@Model.Status  </td>
    

    <td style="text-align: center;">
        <a href="@Url.Action("Edit", "VetWork", new { id = Model.VetWorkID, ReturnUrl = Server.UrlEncode(Request.Url.ToString())  })" class="edit-horse btn btn-primary icon-button btn-sm  hidden-xs" title="Edit Appointment"><i class="fa fa-edit"></i></a>
        <a href="@Url.Action("Complete", "VetWork", new { id = Model.VetWorkID, ReturnUrl = Server.UrlEncode(Request.Url.ToString())  })" class="complete-horse btn btn-primary icon-button btn-sm  hidden-xs" title="Complete Appointment"><i class="fa fa-check"></i></a>
        @if (Helpers.isAdmin())
        {
        <a href="javascript:void(0);" class="remove-vetwork btn btn-danger  icon-button btn-sm" title="Remove Appointment"><i class="fa fa-times"></i></a>
        }
    </td>
</tr>
