﻿@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model VetWork_M

@{
    ViewBag.Title = "Vet Work Management";
    ViewBag.PageTitle = "Vet Work Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "VetWork")">Vet Work</a>
        </li>
        <li class="active">
            <i class="fa fa-user"></i>
            @if (Model.VetWorkID == 0)
            {
                @Html.Raw("Add New Appointment")
            }
            else
            {
                @Html.Raw("Edit Appointment")
            }
        </li>
    </ul>
}

<div class="col-lg-6 col-md-6 col-sm-8 col-xs-24 no-margin no-padding">
    <div class="widget">
        <div class="widget-header bg-blue">
            @if (Model.VetWorkID == 0)
            {
                <span class="widget-caption">New Appointment</span>
            }
            else
            {
                <span class="widget-caption">Edit Appointment</span>
            }

        </div>
        <div class="widget-body">
            @using (Html.BeginForm("SaveRecord", "VetWork", FormMethod.Post, new { @class = "form-horizontal", @style = "clear:none", @enctype = "multipart/form-data" }))
            {
                <input type="hidden" id="ReturnUrl" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
                @Html.EditorForModel()

                <button type="submit" class="btn btn-success">Save Changes</button>
                if (Model.VetWorkID != 0)
                {
                    <a href="@Url.Action("Complete","VetWork", new { id = Model.VetWorkID})" class="btn btn-primary">Complete</a>
                }
                <a href="@ViewBag.ReturnUrl" class="btn btn-warning">Cancel</a>
            }
        </div>
    </div>
</div>



@section Scripts
{
   
    
    <script type="text/javascript">
        jQuery.validator.defaults.ignore = ".ignore";
        //$.validator.unobtrusive.parse("#AddEditForm");
        jQuery(function ($) {
            $.validator.addMethod('date',
            function (value, element) {
                if (this.optional(element)) {
                    return true;
                }

                var ok = true;
                try {
                    $.datepicker.parseDate('dd/mm/yyyy', value);
                }
                catch (err) {
                    ok = false;
                }
                return ok;
            });
        });
        initPlugins();

        $("#HorseID").select2();

    </script>

    
}
