﻿@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model VetWork_M

@{
    ViewBag.Title = "Vet Work Management";
    ViewBag.PageTitle = "Vet Work Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "VetWork")">Vet Work</a>
        </li>
        <li class="active">
            <i class="fa fa-user"></i>

            @Html.Raw("Complete Appointment")

        </li>
    </ul>
}

<div class="col-lg-6 col-md-6 col-sm-8 col-xs-24 no-margin no-padding">

    <form class="form-horizontal" style="clear: none" method="post"  id="CompleteForm">
        <input type="hidden" id="ReturnUrl" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
                        @Html.HiddenFor(model => model.HorseID)
                        @Html.HiddenFor(model => model.HorseName)
                        @Html.HiddenFor(model => model.VetWorkID)
                        @Html.HiddenFor(model => model.NextVisitID)
                        @Html.HiddenFor(model => model.VetName)
                        @Html.HiddenFor(model => model.VisitDate, new { @class = "ignore" })

        <div class="widget">
            <div class="widget-header bg-blue">

                <span class="widget-caption">Appointment Details</span>

            </div>
            <div class="widget-body">


                <div class="form-group">
                    <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.HorseName) </label>
                    <div class="col-lg-9 col-sm-9">
                        @Html.DisplayFor(model => model.HorseName)
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.VetName) </label>
                    <div class="col-lg-9 col-sm-9">
                        @Html.DisplayFor(model => model.VetName)

                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
                        @Html.HiddenFor(model => model.VetID)
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.AgeCategory) </label>
                    <div class="col-lg-9 col-sm-9">
                        @Html.DisplayFor(model => model.AgeCategoryDisplay)
                        @Html.HiddenFor(model => model.AgeCategory)
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.VisitDate)</label>
                    <div class="col-lg-9 col-sm-9">
                        @String.Format("{0:dd/MM/yyyy}", Model.VisitDate)
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
                        @Html.ValidationMessageFor(model => model.VisitDate)
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.InFor)</label>
                    <div class="col-lg-9 col-sm-9">
                        @Html.DisplayFor(model => model.InFor)
                        @Html.HiddenFor(model => model.InFor)
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.Status)</label>
                    <div class="col-lg-9 col-sm-9">
                        @Html.DisplayFor(model => model.Status)
                        @Html.HiddenFor(model => model.Status)

                    </div>
                </div>
            </div>
        </div>

        <div class="widget">
            <div class="widget-header bg-blue">
                <span class="widget-caption">Complete Appointment</span>
            </div>
            <div class="widget-body">

                @Html.EditorForModel()

                <button type="submit" class="btn btn-success">Save Changes</button>
                <a href="@Url.Action("Index")" class="btn btn-warning">Cancel</a>

            </div>
        </div>
    </form>
</div>



@section Scripts
{
    <script type="text/javascript">
        jQuery.validator.defaults.ignore = ".ignore";
        $.validator.unobtrusive.parse("#CompleteForm");
        jQuery(function ($) {
            $.validator.addMethod('date',
            function (value, element) {
                if (this.optional(element)) {
                    return true;
                }

                var ok = true;
                try {
                    $.datepicker.parseDate('dd/mm/yyyy', value);
                }
                catch (err) {
                    ok = false;
                }
                return ok;
            });
        });
        initPlugins();




    </script>
}