﻿@model ThoroughWorks.Models.VetWorkSearch

@{
    ViewBag.Title = "Vet Work Management";
    ViewBag.PageTitle = "Vet Work Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li class="active">
            <i class="fa fa-stethoscope"></i>
            Vet Work
        </li>
    </ul>
}

<div class="well">
    <form id="formConfig" name="formConfig">

        <div class="row">
            <div class="col-lg-3 col-sm-3 col-xs-3">
                <a class="btn btn-blue" href="@Url.Action("Add", "VetWork")">Add a New Appointment</a>
            </div>
        </div>
    </form>
</div>


<div id='calendar'>
</div>


@section Scripts
{
    <script src="~/Content/beyond-admin/js/fullcalendar/fullcalendar.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            // init calendar...

            $('#calendar').fullCalendar({
                // put your options and callbacks here
                timeFormat: 0,
                events: '/VetWork/GetVetWorkCalendarEvents',
                eventClick: function (calEvent, jsEvent, view) {
                    window.location = '/VetWork/WorkList/?VetID=' + calEvent.vetID + '&VisitDate=' + calEvent.startDateTime;
                },
                dayClick: function (date, allDay, jsEvent, view) {
                    var month = date.getMonth();
                    month += 1;
                    window.location = '/VetWork/WorkListD/?VetID=0&VisitDate=' + date.getDate() + '/' + month + '/' + date.getFullYear();
                }

            })
        }
    )
    </script>



}

