﻿@using MvcPaging
@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model IPagedList<VetWork_M>


<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th style="width: 30%;">Horse</th>
            <th style="width: 20%;">Age</th>
            <th style="width: 15%;">Vet</th>
            <th style="width: 10%;">Last Visit</th>
            <th style="width: 10%;">Visit Date</th>
            <th style="width: 20%;">In For</th>
            <th style="width: 10%;">Status</th>
        </tr>
    </thead>
    <tbody>

        

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HorseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgeCategoryDisplay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastVisitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InFor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
    </tr>
}



    </tbody>
</table>
