﻿@using MvcPaging
@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model IPagedList<VetWork_M>


<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th style="width: 15%;">Horse</th>
            <th style="width: 10%;" class="hidden-xs hidden-sm hidden-md">Age</th>
            <th style="width: 15%;" class="hidden-xs">Vet</th>
            <th style="width: 10%;" class="hidden-xs hidden-sm hidden-md">Last Visit</th>
            <th style="width: 10%;" class="hidden-xs hidden-sm">Visit Date</th>
            <th style="width: 20%;">In For</th>
            <th style="width: 10%;" class="hidden-xs hidden-sm">Status</th>
            <th style="width: 15%;"></th>
        </tr>
    </thead>
    <tbody>

        @Html.DisplayForModel()

    </tbody>
</table>
@if (Model.Count > 0)
{
    @Ajax.CustomAjaxPager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, "AjaxList", null, new CustomAjax
    {
        FormToPost = "#formVetWork",
        UrlToPost = @Url.Action("AjaxListing"),
        UpdateType = UpdateType.replace,
        UpdateControl = "#listingData"
    })
}
