﻿@using ThoroughWorks.Web.Models.Helpers
@using ThoroughWorks.Models
@model List<ThoroughWorks.Models.VetWork_M>

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}

@{
    int VetID = (ViewBag.Search as VetWorkSearch ?? new VetWorkSearch()).VetID;
    DateTime Dt = (ViewBag.Search as VetWorkSearch ?? new VetWorkSearch()).Dt;
}

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th style="width: 10%;">Horse</th>
            @if (VetID == 0)
            {
            <th style="width: 10%;">Vet</th>
            }
            <th style="width: 10%;">In For</th>
            @if (Model.Count > 0)
            {
                VetWork_M item = Model.First();
                {
                    List<VetWorkCompleted_M> vcl = item.VetWorkCompleted;
                    if (vcl != null && vcl.Count > 0)
                    {
                        var basewidth = 50;
                        if (VetID == 0)
                        {
                            basewidth = 40;
                        }
                        var width = Math.Floor(basewidth / (decimal)vcl.Count);
                        foreach (VetWorkCompleted_M vc in vcl)
                        {
        
                <th style="width:@width.ToString()%;">
                    @Html.DisplayFor(m => vc.VetWorkAttributeName)

                </th>
                        }
                    }

                }
            }

            <th style="width: 15%;">Comments</th>
            <th style="width: 15%;">Next Visit (Date + In for)</th>

        </tr>
    </thead>
    <tbody>


        @for (var i = 0; i < Model.Count; i++)
        {
            @Html.DisplayFor(m => Model[i], "VetWork_WorksheetPDF", new { VetID = VetID })
        }
    </tbody>
</table>










