﻿@using ThoroughWorks.Web.Models.Helpers
@using ThoroughWorks.Models
@model List<ThoroughWorks.Models.VetWork_M>


@{
    ViewBag.Title = "Vet Work";
    //ViewBag.PageTitle = "Vet Work";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.RenderSidebar = false;

}

@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li class="active">
            <i class="fa fa-stethoscope"></i>
            <a href="@Url.Action("Index", "VetWork")">Vet Work</a>
        </li>
        <li class="active">
            <i class="fa fa-clipboard"></i>
            Work Sheet
        </li>
    </ul>
}


@{
    int VetID = (ViewBag.Search as VetWorkSearch ?? new VetWorkSearch()).VetID;
    DateTime Dt = (ViewBag.Search as VetWorkSearch ?? new VetWorkSearch()).Dt;
}





<form method="post">
    @*@using (Html.BeginForm("WorkSheet", "VetWork", FormMethod.Post, new { @class = "form-horizontal", @style = "clear:none", @enctype = "multipart/form-data" }))
{
    *@<input type="hidden" id="ReturnUrl" name="ReturnUrl" value="@ViewBag.ReturnUrl" />

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th style="width: 10%;">Horse</th>
                <th style="width: 10%;">In For</th>
                @if (Model.Count > 0)
                {
                    VetWork_M item = Model.First();
                    {
                        List<VetWorkCompleted_M> vcl = item.VetWorkCompleted;
                        if (vcl != null && vcl.Count > 0)
                        {
                            foreach (VetWorkCompleted_M vc in vcl)
                            {
        
                    <th>
                        @Html.DisplayFor(m => vc.VetWorkAttributeName)

                    </th>
                            }
                        }

                    }
                }

                <th style="width: 15%;">Comments</th>
                <th style="width: 10%;">Next In Date and For</th>

            </tr>
        </thead>
        <tbody>


            @for (var i = 0; i < Model.Count; i++)
            {
                @Html.EditorFor(m => Model[i], "VetWork_Worksheet")
            }
        </tbody>
    </table>

    <div class="well">
        <input type="submit" class="btn btn-success" value="Save Work Sheet" />
        <a class="btn btn-blue" href="@Url.Action("WorkSheetToPDF", "VetWork")" target="_blank">Print Work Sheet</a>
        <a class="btn btn-warning" href="@ViewBag.ReturnUrl">Close</a>
    </div>

</form>





@section Scripts
{
    <script type="text/javascript">
        jQuery.validator.defaults.ignore = ".ignore";
        $.validator.unobtrusive.parse("#AddEditForm");
        jQuery(function ($) {
            $.validator.addMethod('date',
            function (value, element) {
                if (this.optional(element)) {
                    return true;
                }

                var ok = true;
                try {
                    console.log(value);
                    $.datepicker.parseDate('dd/MM/yyyy', value);
                }
                catch (err) {
                    console.error("dateerr");
                    ok = false;
                }
                return ok;
            });
        });
        initPlugins();

        $('.autogrow').autosize();


    </script>
}

