﻿@model MvcPaging.IPagedList<ThoroughWorks.Models.VetWork_M>
@using ThoroughWorks.Web.Models.Helpers
@using ThoroughWorks.Models
@{
    //ViewBag.Title = "Vet Appointments " + ViewBag.DisplayDate;    
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}


    <div id="listingData">
        @{Html.RenderPartial("ListingPDF");}
    </div>





    



