﻿@model MvcPaging.IPagedList<ThoroughWorks.Models.VetWork_M>
@using ThoroughWorks.Web.Models.Helpers
@using ThoroughWorks.Models
@{
    ViewBag.Title = "Vet Work";
    //ViewBag.PageTitle = "Vet Work";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li class="active">
            <i class="fa fa-stethoscope"></i>
            <a href="@Url.Action("Index", "VetWork")">Vet Work</a>
        </li>
        <li class="active">
            <i class="fa fa-clipboard"></i>
            Work List
        </li>
    </ul>
}


@{
    int VetID = (ViewBag.Search as VetWorkSearch ?? new VetWorkSearch()).VetID;
    string Dt = (ViewBag.Search as VetWorkSearch ?? new VetWorkSearch()).Dt.ToString("dd/MM/yyyy");
}


<div class="well">
    <form id="formConfig" name="formConfig">

        <div class="row">
            <div class="col-lg-12">
                <a class="btn btn-blue" href="@Url.Action("Add", "VetWork")">Add a New Appointment</a>
@if( Model.Count > 0 )
{
                <a class="btn btn-blue" href="@Url.Action("WorkSheet", "VetWork", new { VetID = VetID, VisitDate = Dt, ReturnUrl = Server.UrlEncode(Request.Url.ToString()) })">Work Sheet</a>
                <a class="btn btn-blue" href="@Url.Action("WorkSheetToPDF", "VetWork")" target="_blank">Print Work Sheet</a>
}    
            </div>
        </div>
    </form>
</div>

<div class="clear"></div>

<form id="formVetWork" name="formVetWork">
<input type="hidden" id="Page" name="page" value="@Model.PageNumber"/>    
</form>

<div id="listingData">
    @{Html.RenderPartial("Listing", Model);}
</div>





<script type="text/javascript">

    function Reloadables() {
        $(".remove-vetwork").on("click", function () {
            var url = '@Url.Action("AjaxListing")';
            var vetWorkID = $(this).closest("tr").find(".vetwork-id").val();
            if (confirm('Are you sure you want to delete this appointment?')) {
                showloading();
                var page = $("#Page").val();
                $.ajax({
                    url: '@Url.Action("DeleteRecord")',
                    data: {
                        VetWorkID: vetWorkID,
                        Page: page
                    },
                    context: document.body,
                    success: function (data) {
                        $(".alert").attr("class", "alert alert-success");
                        $(".message-text").html("Appointment Removed Successfully");
                        $(".fa-fw").attr("class", "fa-fw fa fa-check");
                        $(".alert").show();
                        setMessageTimeout();

                        $.post(url, $('#formConfig').serialize(), function (data, status) {
                            $('#listingData').html(data);
                            hideloading();
                            Reloadables();
                        });

                    },
                    error: function (err) {
                        hideloading();
                        alert(err);
                    }
                });
            }
        });

        $("#formConfig").on("submit", function () {
            var url = '@Url.Action("AjaxListing")';
            $('#Page').val('1');
            $.post(url, $('#formConfig').serialize(), function (data, status) {
                $('#listingData').html(data);
                Reloadables();
            });
            return false;
        });
    }
    $(document).ready(function () {
        Reloadables();
    });

</script>



