﻿@using ThoroughWorks.Models
@model ThoroughWorks.Models.EmailSaleCardViewModel

Content-Type: text/html; charset=utf-8

@Html.Raw("<html>")
<head>
    <title>@Model.Subject</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 13px;
            color: #444;
        }

        .widget {
            padding: 0;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            margin: 3px 0 30px 0;
        }

        .widget-header {
            position: relative;
            min-height: 35px;
            box-shadow: 0 0 4px rgba(0,0,0,.3);
            color: #555;
            padding-left: 12px;
            background-color: #5db2ff;
        }

            .widget-header > .widget-caption {
                line-height: 34px;
                padding: 0;
                margin: 0;
                float: left;
                text-align: left;
                font-weight: 400!important;
                font-size: 13px;
                color: white;
                background-color: #5db2ff;
            }

                .widget-header > .widget-caption > span {
                    padding-left: 10px;
                    font-weight:bold;
                }

            .widget-header > .widget-table-caption {
                line-height: 20px;
                padding: 0;
                margin: 0;
                float: left;
                text-align: center;
                vertical-align: middle;
                font-weight: 400!important;
                font-size: 13px;
                color: white;
                background-color: #5db2ff;
            }

                .widget-header > .widget-table-caption > span {
                    padding-left: 0px;
                    font-weight:bold;
                }

        .widget-table-data {
            font-size: 0.9em;
            line-height: 25px;
            text-align: center;
        }

        table {
            border-collapse: collapse;
            border: 1px solid #4e5458;
        }

            table td {
                font-size: 13px;
                border: 1px solid #4e5458;
            }

        @@media (max-width: 767px) {
            .hidden-xs {
                display: none !important;
            }
        }

        @@media (min-width: 768px) and (max-width: 991px) {
            .hidden-sm {
                display: none !important;
            }
        }

        @@media (min-width: 992px) and (max-width: 1199px) {
            .hidden-md {
                display: none !important;
            }
        }
    </style>

</head>

<body>
    <table style="width: 700px; " border="0" cellpadding="5" cellspacing="0">
        <tr>
            <td style="border:0">
                <h4>Hi @Model.OwnerName</h4>
            </td>
            <td rowspan="2" style="border:0; text-align:right;"><img src="@Model.ResolvedLogoFile" alt="ThoroughWorks" width="150" /></td>
        </tr>
        <tr>
            <td style="border:0">@Model.CustomMessage</td>
        </tr>
    </table>
    <br />

    @{
        Dictionary<string, int> salesCardList = new Dictionary<string, int>();
        foreach (var saleCard in Model.SaleCards)
        {
            var horseName = saleCard.HorseName;
            var totalViewers = saleCard.Viewers.Sum(x => x.ViewList.Sum(z => z.Views));
            salesCardList.Add(horseName, totalViewers);
        }
        var ordered = salesCardList.OrderByDescending(x => x.Value);
    }

    <h3>Overall Sale Summary</h3>
    <table style="width:700px;" cellpadding="5" cellspacing="0">
        <tr class="widget-header">
            <td class="widget-caption"><span>Horse</span></td>
            <td class="widget-caption" style="text-align:right;"><span>Total Views</span></td>
        </tr>
        @foreach (var item in ordered)
        {
            <tr>
                <td>@item.Key</td>
                <td style="text-align: right;">@item.Value.ToString()</td>
            </tr>
        }
    </table>
    <br />
    <br />
    @Html.DisplayFor(m => m.SaleCards)

    <p>
        Regards<br />
        @Model.UserName
    </p>
    <p>
        @Html.Raw(HttpUtility.HtmlDecode(Model.EmailSignature))
    </p>
    <p>Powered by <a href="http://www.thoroughworks.com">ThoroughWorks</a></p>
</body>
@Html.Raw("</html>")