﻿@using ThoroughWorks.Web.Models.Helpers
@model ThoroughWorks.Models.Password_M
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageTitle = "Change Your Password";
}

@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li class="active">
            <i class="fa fa-lock"></i>
            Change Your Password
        </li>
    </ul>

}

<form class="well widget flat radius-bordered no-margin" role="form" method="post" id="AddEditForm">
    <div>
        <div class="widget-header bg-blue">
            <span class="widget-caption">Change Your Password</span>
        </div>
        <div class="widget-body">
            @Html.EditorForModel()

        </div>
        <div class="widget-body">
            <input type="submit" class="btn btn-success" value="Change Password" />
            <a href="@Url.Action("Index", "Dashboard")" class="btn btn-warning" >Cancel</a>

        </div>
    </div>
</form>


@*<div class="scontainer">
    <div class="tw-panel tw-form">
        <div class="tw-panel-header">
            <span>Change Password</span>
        </div>
        <div class="tw-panel-body" style="display: none;" id="changesuccess">
            <span>Password has been updated, you can now relogin with new password.</span>
        </div>
        <div class="tw-panel-body CHANGEPASSWORDFORM" id="addEditPassword">


            @{Html.RenderPartial("PasswordChange", Model); }

        </div>
        <div class="tw-panel-footer CHANGEPASSWORDFORM">
            <button type="button" class="btn btn-success" onclick="SavePassword();" id="btnSave">Save changes</button>
            <button type="button" class="btn btn-default" onclick="CancelPasswordReset();">Cancel</button>

        </div>
    </div>
</div>*@

<script type="text/javascript">
    function SavePassword() {
        if ($('#AddEditPasswordForm').valid()) {
            var url = '@Url.Action("ResetPassword", "Login")';
            $.post(url, $('#AddEditPasswordForm').serialize(), function (data, status) {
                $('#changesuccess').show();
                $('.CHANGEPASSWORDFORM').hide();

            }).error(function (error, status, a, b) {
                $('#addEditPassword').html(error.responseText);

            });
        }
    }

</script>


