﻿@model ThoroughWorks.Models.Login_M
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "tw-form" }))
{
    <div class="logobox">
        <div>
            <img src="/content/images/logo.png" alt="ThoroughWorks" />
        </div>
    </div>
    <div class="loginbox bg-white">
        <div class="loginbox-textbox">
            @Html.ValidationSummary(false)
        </div>
        @*<div class="loginbox-title">SIGN IN</div>*@
        @*<div class="loginbox-social">
                <div class="social-title ">Connect with Your Social Accounts</div>
                <div class="social-buttons">
                    <a href="" class="button-facebook">
                        <i class="social-icon fa fa-facebook"></i>
                    </a>
                    <a href="" class="button-twitter">
                        <i class="social-icon fa fa-twitter"></i>
                    </a>
                    <a href="" class="button-google">
                        <i class="social-icon fa fa-google-plus"></i>
                    </a>
                </div>
            </div>
            <div class="loginbox-or">
                <div class="or-line"></div>
                <div class="or">OR</div>
            </div>*@
        <div class="loginbox-textbox">
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username" })
        </div>
        <div class="loginbox-textbox">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
        </div>
        <div class="loginbox-textbox" style="padding: 0px 40px;">
            <div class="checkbox">
                <label>@Html.CheckBoxFor(m => m.RememberMe)
                    <span class="text">Remember me next time.</span>
                </label>
            </div>
        </div>
        <div class="loginbox-submit">
            <input type="submit" class="btn btn-primary btn-block" value="Login">
        </div>
        <div class="loginbox-forgot">
            <a href="#">Forgot Password?</a>
        </div>
        <div class="loginbox-signup">
            <p>
                To request a login or for any questions <br />please contact:<br />
                <a href="mailto:jack@thoroughworks.com">Jack Halford</a><br />
                <a href="tel:+61421485968">0421 485 968</a><br />
                <a href="mailto:jack@thoroughworks.com">jack@thoroughworks.com</a><br />
            </p>
        </div>
    </div>
}
