﻿@using ThoroughWorks.Web.Models.Helpers;
@model ThoroughWorks.Models.Horse_M
<tr>
    <td>
        @Html.HiddenFor(m => m.HorseID, new { @class = "horse-id" })
        @Html.ActionLink(Model.Name, "Edit", "Horse", new { id = Model.HorseID }, null) </td>
    <td class="hidden-xs">@Html.DisplayFor(m => m.AgeCategoryDisplay) </td>
    <td class="hidden-xs">@Helpers.ConvertDateToString(Model.DOB) </td>
    <td class="hidden-xs">@Html.DisplayFor(m => m.SexDisplay) </td>
    <td class="hidden-xs">@Html.DisplayFor(m => m.Colour) </td>
    <td class="hidden-xs">
        @for( int o = 0; o < Model.Owners.Count; o++ )
        {
            @Html.DisplayFor(m => m.Owners[o].Name)
            <br />
        }

    </td>
    
    <td>
        <a href="@Url.Action("Edit", "Horse", new { id = Model.HorseID })" class="edit-horse btn btn-primary icon-button btn-sm  hidden-xs" title="Edit Horse"><i class="fa fa-edit"></i></a>
        <a href="@Url.Action("Owners", "Horse", new { id = Model.HorseID })" class="edit-user btn btn-primary icon-button btn-sm  hidden-xs" title="Edit Owners"><i class="fa fa-users"></i></a>
        <a href="javascript:void(0);" class="remove-horse btn btn-danger  icon-button btn-sm" title="Remove Horse"><i class="fa fa-times"></i></a>
    </td>
</tr>
