﻿.login-container .logobox {
    height: auto !important;
    width: auto !important;
}

    .login-container .logobox div {
        margin: 0 auto;
        width: 80%;
    }

        .login-container .logobox div img {
            width: 100%;
        }

.login-container .loginbox {
    height: auto !important;
    padding: 15px 0px;
}

.login-container .loginbox-textbox .checkbox {
    margin-top: 0px;
}

/*.login-container .loginbox-textbox .checkbox input[type=checkbox] {
        opacity: inherit;
        left: 20px;
    }

    .login-container .loginbox-textbox .checkbox span {
        margin-left: 5px;
        line-height: 25px;
    }*/


.checkbox input[type=checkbox] {
    opacity: inherit;
    left: 20px;
}

input[type=checkbox] + .text, input[type=radio] + .text {
    z-index:5;
}

.checkbox span {
    margin-left: 5px;
    line-height: 25px;
}

.sidebar-filler {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 224px;
    display: block;
}

    .sidebar-filler:before {
        /*content: "";*/
        position: fixed;
        display: block;
        width: 219px;
        bottom: 0;
        top: 0;
        left: 5px;
        background-color: blue;
        -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
        -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
        box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
        z-index: 1;
    }

.navbar {
    height:100px;
}
    .navbar .navbar-inner {
        min-height:100px;
    }

.navbar-brand {
    width:224px;
}
.navbar-brand .logo {
    width: 160px;
    padding-left:15%;
    text-align:center;
}

.sidebar-menu li a {
    background-color: white;
}

/*.navbar-brand {
    padding: 7px 20px !important;
}*/

.page-sidebar .navbar-brand {
    display:block;
}

.navbar-account a .menu-expand:before {
    content: "";
}

.navbar .navbar-inner .navbar-header .navbar-account .account-area > li .dropdown-menu li a {
    padding: 9px 2px 5px 0px;
}


/* Data Boxes */
.databox .databox-number {
    font-size: 22px;
    line-height: 2em;
}



/* Set padding to keep content from hitting the edges *
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default *
input[type="text"],
input[type="password"] {
    max-width: 280px;
}

/* styles for validation helpers *


input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
    */

.loginbox .validation-summary-errors {
    color: #b94a48;
}
.loginbox .validation-summary-errors ul {
    list-style:none;
    padding-left:0px;
    text-align:center;
}

.validation-summary-valid {
    display: none;
}

.clear {
    clear: both;
}

.well {
    margin-top: 15px;
    margin-bottom: 15px;
}

.sidebar-collapse {
    display: none;
}

@media only screen and (min-width: 531px) and (max-width: 880px) {
    .navbar {
        height: 90px;
    }

        .navbar .navbar-inner {
            min-height: 90px;
        }

    .navbar-brand .logo {
        width: 145px;
    }

    .sidebar-collapse {
        display: block;
    }
    .page-sidebar:before, .page-sidebar {
        top: 0px;
    }
}

@media only screen and (max-width: 530px) {
    .navbar-brand .logo {
        width: 145px;
    }

    .sidebar-collapse {
        display: block;
    }
    .page-sidebar:before, .page-sidebar {
        top: 0px;
    }
}

.btn-sm > .fa {
    margin-right: 0px;
}

.alert {
    padding: 15px;
    margin-bottom: 5px;
}

.field-validation-error {
    color:red;
}
.field-validation-valid {
    display: none;
}


@font-face {
  font-family: 'DJHorse';
  src: url('fonts/DJ_Horses_1.eot');
  src: url('fonts/DJ_Horses_1.eot') format('embedded-opentype'), url('fonts/DJ_Horses_1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.horse-font {
  display: inline-block;
  font-family: DJHorse;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:15px;
}
.menu-icon.horse-font {
    font-size: 18px !important;
}