﻿@using ThoroughWorks.Models;
@model CardHorseViewerModel

@{
    var preSale = Model.ViewList.Where(x => x.Date < ViewBag.SaleStartDate).Sum(x => x.Views);
    var total = Model.ViewList.Sum(x => x.Views);
    
}
<tr>
    <td>@Model.ViewerName</td>
    <td style="text-align: center;" class="hidden-xs">
        @if (preSale > 0)
        {
            @Html.Raw(preSale)
        }
    </td>
    @foreach (var date in (List<DateTime>)ViewBag.ViewDates)
    {
        var dayTotal = ((List<CardHorseViewerModel>)ViewBag.TotalList).Sum(x => x.ViewList.Where(z => z.Date == date).Sum(z => z.Views));
        var hidden = "";
        if (dayTotal == 0)
        {
            hidden = "hidden-sm hidden-md";
        }
        
        if (Model.ViewList.Any(x => x.Date == date))
        {
        <td style="text-align: center;" class="hidden-xs">@Model.ViewList.FirstOrDefault(x => x.Date == date).Views</td>
        }
        else
        {
        <td style="text-align: center;" class="hidden-xs @hidden"></td>
        }
    }

    <td style="text-align: center;">@total</td>
</tr>
