﻿@using ThoroughWorks.Web.Models.Helpers;
@model ThoroughWorks.Models.Card_M

<tr>
    <td>@Html.ActionLink(Model.CardUID, "Edit", "SaleCard", new { id = Model.CardID, ReturnUrl = Server.UrlEncode(Request.Url.ToString()) }, null)</td>
    <td>@Html.ActionLink(String.Format("{0:dd/MM/yyyy}",Model.InspectionDate), "Edit", "SaleCard", new { id = Model.CardID, ReturnUrl = Server.UrlEncode(Request.Url.ToString()) }, null)</td>
    <td>@Html.ActionLink(String.IsNullOrEmpty(Model.PersonName) ? "Name not provided" : Model.PersonName, "Edit", "SaleCard", new { id = Model.CardID, ReturnUrl = Server.UrlEncode(Request.Url.ToString()) }, null)</td>
    <td>@Html.Raw(String.Join("<br/>", (from aa in Model.Horses
                                        select aa.Name).ToArray()))

    </td>
    <td style="text-align: right;">
        <a href="@Url.Action("Edit", "SaleCard", new { id = Model.CardID, ReturnUrl = Server.UrlEncode(Request.Url.ToString()) })" class="edit-card btn btn-primary icon-button btn-sm  hidden-xs" title="Edit Inspection Card"><i class="fa fa-edit"></i></a>
        @if (Helpers.isAdmin())
        {
            @Html.HiddenFor(m => m.CardID, new { @class = "cardid" })
            @Html.HiddenFor(m => m.UserSaleLocationID, new { @class = "saleid" })
            <a href="javascript:void(0);" class="remove-card btn btn-danger  icon-button btn-sm" title="Remove Card"><i class="fa fa-times"></i></a>
        }

    </td>

</tr>

