﻿@using ThoroughWorks.Web.Models.Helpers;
@using ThoroughWorks.Web.App_Code;
@model ThoroughWorks.Models.Owner_M

<tr>
  <td><div class="checkbox">@Html.CheckBoxFor(m => m.IsSelected)</div></td>
  <td>
    @Html.HiddenFor(m => m.OwnerID, new { @class = "owner-id" })
    @Html.HiddenFor(m => m.EmailAddress)
    @Html.HiddenFor(m => m.HorsesOnSale)
    @Html.HiddenFor(m => m.Name)
    @Html.ActionLink(Model.Name, "Edit", "Owner", new { id = Model.OwnerID }, null)
  </td>
  <td class="hidden-xs">
       @foreach (var horse in Model.HorsesOnSale)
      {
          @Html.Raw(horse.Name)<br />
      }
  <td>
      @Html.TextAreaFor(m => m.Message, new { @class="form-control", @style = "height:100%; min-height:60px;", value = "Testing" })
  </td>
</tr>
