﻿@model ThoroughWorks.Models.SaleCardHorses

@{
    var bgColor= "none";
if (Model.Selected)
{
    bgColor = "rgb(215, 255, 216)";
}
}
<tr class="row-click" style="background-color:@bgColor; cursor:pointer;">
    @*<td>@Html.CheckBoxFor(m => m.Selected, new { @class = "selected" })
    </td>*@
    <td>
        @Html.HiddenFor(m => m.Selected, new { @class = "selected" })
        @Html.DisplayFor(m => m.LotNumber)
        @Html.HiddenFor(m => m.LotNumber)
        @Html.HiddenFor(m => m.SessionNumber, new { @class = "sessionnumber" })
    </td>
    <td>@Html.DisplayFor(m => m.Colour)
        @Html.HiddenFor(m => m.Colour)
    </td>
    <td>@Html.DisplayFor(m => m.Sex)
        @Html.HiddenFor(m => m.Sex, new { @class = "sex" })
    </td>
    <td>@Html.DisplayFor(m => m.Sire)
        @Html.HiddenFor(m => m.Sire)
    </td>
    <td>@Html.DisplayFor(m => m.Dam)
        @Html.HiddenFor(m => m.Dam)
    </td>
    @*<td>@Html.DisplayFor(m => m.DOB)
        @Html.HiddenFor(m => m.DOB)
    </td>*@
    <td class="ignore-clicks">
        @Html.HiddenFor(m => m.Sequence)
        @Html.HiddenFor(m => m.AttachmentsPath)
        @if (!String.IsNullOrEmpty(Model.HorseImage))
        {
        @*<div class="thumbnail">*@
                <a href="@Url.Action("GetImageFile", "ImageGallery", new { imagePath = "~/files/" + Model.HorseID + "/" + Model.HorseImage })" data-lightbox="horseimage" title="@Model.HorseName">
                    @*@GeneralHelper.GetImage(Model.HorseImage, Model.HorseID)*@See Horse
                </a>
        @*</div>*@
        }
    </td>
    <td class="ignore-clicks">
        @if (!String.IsNullOrEmpty(Model.AttachmentsPath))
        {
            @GeneralHelper.GetAttachmentPath(Model.HorseID, Model.AttachmentsPath)
        }
                                    @*<span onclick="ToggleDetail(this,'@Model.HorseID','@ViewBag.SaleLocationID.');"><i class="icon-plus pointer" style="font-size: 24px;"></i></span>*@
        @Html.HiddenFor(m => m.HorseID)
        @Html.HiddenFor(m => m.HorseImage)
        @Html.HiddenFor(m => m.HorseName)
    </td>
</tr>

