﻿@model ThoroughWorks.Models.UserSaleLocation_M

<tr>
    <td>@Html.DisplayFor(m => m.SaleName)</td>
    <td class="hidden-xs">@Html.DisplayFor(m => m.Location)</td>
    <td class="hidden-xs hidden-sm">@Html.DisplayFor(m => m.StartDate)</td>
    <td class="hidden-xs hidden-sm">@Html.DisplayFor(m => m.EndDate)</td>
    <td>
        <a href="@String.Format(ViewBag.ReturnUrl, Model.UserSaleLocationID)" class="btn btn-blue"><i class="fa fa-check"></i>Select</a>
    </td>
</tr>
