﻿@using ThoroughWorks.Web.Models.Helpers
@using ThoroughWorks.Models
@model VetWorkAttribute_M


<tr class="sortable">
    <td>
        @Html.HiddenFor(m => m.VetWorkAttributeID, new { @class = "vetworkattribute-id" })
        @Html.HiddenFor(m => m.Sequence, new { @class = "sequence" })
        @Html.HiddenFor(m => m.SubscriberID, new { @class = "subscriber-id" })
        @Html.HiddenFor(m => m.VetWorkAttributeID, new { @class = "vetworkattribute-id" })
        @Html.HiddenFor(m => m.AttributeName, new { @class = "vetworkattribute-id" })
        @Html.ActionLink(Model.AttributeName, "Edit", new { id = Model.VetWorkAttributeID }, null)</td>
    

    <td style="text-align: center;">
        <a href="@Url.Action("Edit", "VetWorkAttribute", new { id = Model.VetWorkAttributeID })" class="edit-horse btn btn-primary icon-button btn-sm  hidden-xs" title="Edit Attribute"><i class="fa fa-edit"></i></a>
        <a href="javascript:void(0);" class="remove-vetworkattribute btn btn-danger  icon-button btn-sm" title="Remove Attribute"><i class="fa fa-times"></i></a>
    </td>
</tr>