﻿@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model Viewer_M




<div class="form-group">
    <label class="col-lg-3 col-md-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.ViewerName)<span class="required">*</span></label>
    <div class="col-lg-9 col-md-9 col-sm-9">
        <div class="input-group">@Html.TextBoxFor(m => m.ViewerName, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
        @Html.ValidationMessageFor(model => model.ViewerName)
        @Html.HiddenFor(model => model.ViewerID)
    </div>
</div>



