﻿@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model UserSaleLocation_M

@{
    ViewBag.Title = "Sales Location Management";
    ViewBag.PageTitle = "Sales Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li>
            <i class="fa fa-list"></i>
            <a href="@Url.Action("Index", "SaleLocation")">Sales</a>
        </li>
        <li class="active">
            <i class="fa fa-list"></i>
            @if (Model.UserSaleLocationID > 0)
            {
                @Model.SaleName
            }
            else
            {
                @Html.Raw("Add New Sale")
            }

        </li>
    </ul>
}

<div class="widget">
    <div class="widget-header bg-blue">
        @if (Model.UserSaleLocationID == 0)
        {
            <span class="widget-caption">New Sale</span>
        }
        else
        {
            <span class="widget-caption">Edit @Model.SaleName</span>
        }

    </div>
    <div class="widget-body">
        @using (Html.BeginForm("SaveRecord", "SaleLocation", FormMethod.Post, new { @class = "tw-form", @style = "clear:none", @enctype = "multipart/form-data" }))
        {

            @Html.EditorForModel()

            <input type="submit" class="btn btn-success" value="Save" />
            <a href="@Url.Action("Index")" class="btn btn-warning">Cancel</a>
        }
    </div>
</div>


@section Scripts
    {

    <script src="~/Content/beyond-admin/js/datetime/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        initPlugins();
        //$(document).ready(function () {
        //    $(".date-picker").datepicker({
        //        dateFormat: 'dd/mm/yy',
        //    });
        //});
    </script>

}