﻿@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model List<ThoroughWorks.Models.UserHorseSale_M>

@{
    ViewBag.Title = "Horses at the Sale";
    ViewBag.PageTitle = "Horses at the " + ViewBag.SaleLocationName + " Sale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li>
            <i class="fa fa-list"></i>
            <a href="@Url.Action("Index", "SaleLocation")">Sales</a>
        </li>
        <li>
            <i class="fa fa-list"></i>
            <a href="@Url.Action("Edit", "SaleLocation", new { id = ViewBag.SaleLocationID })">
            @ViewBag.SaleLocationName
            </a>
        </li>
        <li class="active">
            <i class="horse-font">5</i>
            Horses
        </li>
    </ul>
}

<div class="col-lg-12 col-sm-12 col-xs-24 no-padding">
    <div class="widget">
        <div class="widget-header bg-blue">
            <span class="widget-caption">Horses at @ViewBag.SaleLocationName</span>
        </div>
        <div class="widget-body">
            @using (Html.BeginForm("Horses", "SaleLocation", FormMethod.Post))
            {
                <input type="hidden" name="LocationID" value="@ViewBag.SaleLocationID" id="LocationID" />
                <div class="no-padding clear" id="listingHorseData">
                    <table class="table table-striped table-hover table-bordered dragtable" id="tblHorses">
                        <thead>
                            <tr>
                                <th style="width: 10%;">Lot #</th>
                                <th style="width: 35%;">Horse</th>
                                <th style="width: 45%;">Session</th>
                                <th style="width: 10%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @Html.EditorForModel()
                        </tbody>
                    </table>

                </div>
                <div class="no-padding clear" style="margin-top:20px;">
                    @Html.LinkToAddNestedForm("Add New Horse", "#tblHorses", "#tblHorses tr.tablerow", "", typeof(UserHorseSale_M))
                    <input type="submit" class="btn btn-success" value="Save" />
                    <a href="@Url.Action("Index", "SaleLocation", new { id = ViewBag.SaleLocationID })" class="btn btn-warning">Close</a>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

        function removeNestedForm(element, container, deleteElement) {
            if (confirm('Are you sure you want to delete this item?')) {
                $container = $(element).parents(container);
                $container.find(deleteElement).val('True');
                //$container.find('.chkLabourItem').hide();
                //$container.find('.chkMaterialItem').hide();
                //$container.find('.icon').hide();
                $container.hide();
            }
        }

        function addNestedForm(container, counter, ticks, content) {
            var nextIndex = $(counter).length;
            var pattern = new RegExp(ticks, "gi");
            content = content.replace(pattern, nextIndex);
            $(container).append(content);
        }

        //drag and  drop
        var fixHelperModified = function (e, tr) {
            var $originals = tr.children();
            var $helper = tr.clone();
            $helper.children().each(function (index) {
                $(this).width($originals.eq(index).width())
            });
            return $helper;
        },
        updateIndex = function (e, ui) {

            $('td.sequence', ui.item.parent()).each(function (i) {
                $(this).children('#SpanSequence').html(i + 1);
                $(this).children('.hdnSequence').val(i + 1);
            });
            //SaveSequence();
        };

        $(document).ready(function () {
            $(".dragtable tbody").sortable({
                helper: fixHelperModified,
                stop: updateIndex

            });
        });
    </script>
}