﻿@using MvcPaging
@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model IPagedList<UserSaleLocation_M>


<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th style="width: 25%;">Sale Name</th>
            <th style="width: 15%;" class="hidden-xs">Location</th>
            <th style="width: 13%;" class="hidden-xs hidden-sm">Start Date</th>
            <th style="width: 12%;" class="hidden-xs hidden-sm">End Date</th>
            <th style="width: 10%;">Horses</th>
            <th style="width: 15%;"></th>
        </tr>
    </thead>
    <tbody>

        @Html.DisplayForModel()

    </tbody>
</table>
@if (Model.Count > 0)
{
    @Ajax.CustomAjaxPager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, "AjaxList", null, new CustomAjax
    {
        FormToPost = "#formConfig",
        UrlToPost = @Url.Action("AjaxListing"),
        UpdateType = UpdateType.replace,
        UpdateControl = "#listingData"
    })
}
<script type="text/javascript">
    function DeleteRecord(id) {
        var url = '@Url.Action("AjaxListing")';
        if (confirm('Are you sure you want to delete this record.?')) {
            showloading();
            $.ajax({
                url: '@Url.Action("DeleteRecord")' + '?LocationID=' + id,
                context: document.body,
                success: function (data) {
                    location.href = location.href;
                },
                error: function (err) {
                    hideloading();
                    alert(err);
                }
            });


        }
    }
    @*function EditRecord(id) {
        getRequest('@Url.Action("Edit")' + '?LocationID=' + id, '#AddEditScreen');
        $('#AddEditScreen').show();
        $('#divlist').hide();
        $('#ViewerList').hide();
    }*@

    @*function showHorses(locationid) {
        var url = '@Url.Action("Index", "LocationHorses")/' + locationid;
        getRequest(url, '#horseList');
        $('#divlist').hide();
        $('#horseList').show();
        $('#ViewerList').hide();
    }*@

</script>
