﻿@using MvcPaging
@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers

@model SaleCard
@{
    var methodtype = "Add";
    if (Model.CardID > 0)
    {
        methodtype = "Edit";
    }
    ViewBag.Title = methodtype + " Inspection Card - " + Model.SaleName;
    ViewBag.PageTitle = methodtype + " Inspection Card - " + Model.SaleName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li class="hidden-xs">
            <i class="fa fa-list"></i>
            <a href="@Url.Action("Index", "SaleLocation")">Sales</a>
        </li>
        <li class="hidden-xs">
            <i class="fa fa-list"></i>
            <a href="@Url.Action("Edit", "SaleLocation", new { id = Model.UserSaleLocationID })">@Model.SaleName</a>
        </li>
        <li class="active">
            <i class="fa fa-file-text"></i>
            @methodtype Inspection Card
        </li>
    </ul>
}

<div id="divlist">

    @using (Html.BeginForm(methodtype, "SaleCard", FormMethod.Post, new { @id = "save" }))
    {
        @Html.HiddenFor(m => m.CardID)
        @Html.HiddenFor(model => model.UserSaleLocationID)
        @Html.HiddenFor(model => model.SaleName)
        @Html.HiddenFor(model => model.UserID)
        @Html.HiddenFor(model => model.SubscriberID)
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.Active)

        <div class="row">
            <div class="col-sm-8">

                <div class="form-horizontal">
                    @if (Model.CardID != 0)
                    {
                        <div class="form-group ">
                            @Html.LabelFor(m => m.CardUID, new { @class = "control-label col-sm-2" })
                            <h3 class="col-sm-8 no-margin" style="font-weight: bold !important">@Model.CardUID</h3>
                        </div>
                    }
                    <div class="form-group">
                        @Html.LabelFor(m => m.PersonName, new { @class = "control-label col-sm-2" })
                        <div class="col-sm-8">
                            @Html.HiddenFor(m => m.PersonName, new { @style = "width:100%;" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.InspectionDate, new { @class = "control-label col-sm-2" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.InspectionDate, String.Format("{0:dd/MM/yyyy}", Model.InspectionDate), new { @class = "form-control date-picker ignore", data_date_format = "dd/mm/yyyy", @style = "width:120px;" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            @if (Model.CardID == 0)
                            {
                                <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>Generate Interest Card </button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>Save Interest Card </button>
                                if (Helpers.isAdmin())
                                {
                                <button type="submit" class="btn btn-danger" value="Remove Card" form="remove"><i class="fa fa-times"></i>Remove Card</button>
                                }
                            }
                            <a href="@ViewBag.ReturnUrl" class="btn btn-blue">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div style="clear: both"></div>
        
        
        <div class="well">
            <h4>Select Horses</h4>
            <div class="form-inline">
                <div id="divSelectorButtons">
                    <input type="button" id="clearAllButton" name="clearAllButton" class="btn btn-sm btn-secondary" value="Clear All Selections" />
                    <input type="button" id="fullParadeButton" name="fullParadeButton" class="btn btn-sm btn-primary" value="Full Parade" />
                    <input type="button" id="allColtsButton" name="allColtsButton" class="btn btn-sm btn-primary" value="All Colts" />
                    <input type="button" id="allFilliesButton" name="allFilliesButton" class="btn btn-sm btn-primary" value="All Fillies" />
                </div>
                @if (Model.NumberSessions > 1)
                {
                    <div class="row">
                        <div id="divSessions">

                            @for (int i = 0; i < Model.NumberSessions; i++)
                            {
                                int sess = i + 1;
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="@sess.ToString()" class="session-checkbox" style="opacity:0;" >
                                        <span class="text">Session @sess.ToString()</span>
                                    </label>
                                </div>                            
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        
              
        <div class="no-padding clear " style="margin-top: 20px;">
            <table class="table table-bordered dragtable" id="tblHorseList">
                <thead>
                    <tr>
                        <th style="width: 8%">Lot #</th>
                        <th style="width: 10%">Colour</th>
                        <th style="width: 10%">Sex</th>
                        <th style="width: 26%">Sire</th>
                        <th style="width: 26%">Dam</th>
                        <th style="width: 10%">Image</th>
                        <th style="width: 10%">Information</th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.Horses.Any())
                    {
                        <tr>
                            <td colspan="7">No Records Found.
                            </td>
                        </tr>
                    }
                    else
                    {
                        @Html.DisplayFor(m => m.Horses)
                    }
                </tbody>
            </table>
        </div>
    }
    @using (Html.BeginForm("Remove", "SaleCard", FormMethod.Post, new { @id = "remove" }))
    {
        @Html.HiddenFor(m => m.CardID)
        @Html.HiddenFor(m => m.UserSaleLocationID)
    }
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('form#remove').on("submit", function () {
                return confirm("Are you sure you want to remove this card?");
            });
            $(".row-click").on("click", function () {
                var selected = $(this).closest("tr").find(".selected");
                if ($(selected).val() == "True") {
                    $(selected).val("False");
                    $(this).css("background", "none");
                } else {
                    $(selected).val("True");
                    $(this).css("background", "rgb(215, 255, 216)");
                }
            });
            $(".row-click td.ignore-clicks").on("click", function () {
                var selected = $(this).closest("tr").find(".selected");
                if ($(selected).val() == "True") {
                    $(selected).val("False");
                    $(this).closest("tr").css("background", "none");
                } else {
                    $(selected).val("True");
                    $(this).closest("tr").css("background", "rgb(215, 255, 216)");
                }
            });

            $("#clearAllButton").on("click", function () {

                $('#tblHorseList tr').each(function () {
                    var selected = $(this).closest("tr").find(".selected");
                    $(selected).val("False");
                    $(this).css("background", "none");
                })
                $(".session-checkbox").prop('checked', false);
            });

            $("#fullParadeButton").on("click", function () {
                $('#tblHorseList tr').each(function () {
                    var selected = $(this).closest("tr").find(".selected");
                    $(selected).val("True");
                    $(this).css("background", "rgb(215, 255, 216)");
                })
            });

            $("#allColtsButton").on("click", function () {
                $('#tblHorseList tr').each(function () {
                    var sex = $(this).find('.sex').val();
                    var selected = $(this).closest("tr").find(".selected");
                    if (sex == "F") {
                        $(selected).val("False");
                        $(this).css("background", "none");
                    }
                    else {
                        $(selected).val("True");
                        $(this).css("background", "rgb(215, 255, 216)");
                    }

                })
            });

            $("#allFilliesButton").on("click", function () {
                $('#tblHorseList tr').each(function () {
                    var sex = $(this).find('.sex').val();
                    var selected = $(this).closest("tr").find(".selected");
                    if (sex == "M") {
                        $(selected).val("False");
                        $(this).css("background", "none");
                    }
                    else {
                        $(selected).val("True");
                        $(this).css("background", "rgb(215, 255, 216)");
                    }
                })
            });

            $(".session-checkbox").on("click", function () {
                var optionChanged = this.value;
                var bCheckValue = $(this).is(':checked');

                // for each row in table that is for the changed session
                $('#tblHorseList tr').each(function () {
                    var sess = $(this).find('.sessionnumber').val();

                    if (sess == optionChanged) {
                        var selected = $(this).closest("tr").find(".selected");
                        if (!bCheckValue) {
                            $(selected).val("False");
                            $(this).css("background", "none");
                        }
                        else {
                            $(selected).val("True");
                            $(this).css("background", "rgb(215, 255, 216)");
                        }
                    }
                })


            });

            initPlugins();


            // Enable select 2 to add new entries
            $("#PersonName").select2(
                {
                    placeholder: "Select a Viewer",
                    ajax: {
                        url: "/SaleCard/GetAllViewers/",
                        dataType: "json",
                        type: "GET",
                        data: function (searchTerm) {
                            return { selectviewer: searchTerm };
                        },
                        results: function (data) {
                            return { results: data };
                        },
                    },

                    formatResult: viewerFormatResult,
                    formatSelection: viewerFormatSelection,

                    initSelection: function (item, callback) {
                        var person = $("#PersonName").val();
                        if (person != "") {
                            $(".select2-chosen").html(person);
                        }
                    }
                }
            );

            function viewerFormatResult(viewer) {
                var markup = "<table class='viewer-result'><tr>";
                if (viewer.name !== undefined) {
                    markup += "<div class='viewer-name'>" + viewer.name + "</div>";
                }
                markup += "</td></tr></table>"
                return markup;
            }

            function viewerFormatSelection(viewer) {
                return viewer.name;
            }

        });
    </script>
}