﻿@using MvcPaging
@using ThoroughWorks.Models

@using ThoroughWorks.Web.Models.Helpers

@model SaleCard

@{
    ViewBag.Title = Model.SaleName + " - Inspection Card - " + Model.CardUID;
    ViewBag.PageTitle = Model.SaleName + " - Inspection Card - " + Model.CardUID;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs
{
   <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li>
            <i class="fa fa-list"></i>
            <a href="@Url.Action("Index", "SaleLocation")">Sales</a>
        </li>
        <li>
            <i class="fa fa-list"></i>
            <a href="@Url.Action("Edit", "SaleLocation", new { id = Model.UserSaleLocationID })">@Model.SaleName</a>
        </li>
        <li class="active">
            <i class="fa fa-file-text"></i>
            Inspection Card Added
        </li>
    </ul>
}

<div id="divlist">
  <div class="widget">
    <div class="widget-body">
        <div>
          <h3>Thank you, your Inspection Card has been registered!</h3>
          <h4>Your Card Reference Number is <b>@Model.CardUID</b></h4>
        </div>

        <div style="margin-top: 20px;">
          <a href="@Url.Action("Add", "SaleCard", new { id = Model.UserSaleLocationID })" class="btn btn-success">Add New Inspection Card</a>
          <a href="@Url.Action("Index", "SaleCard", new { id = Model.UserSaleLocationID })" class="btn btn-warning">Close</a>
        </div>

      </div>
    </div>
  </div>