﻿@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model List<ThoroughWorks.Models.UserSaleLocation_M>

@{
    ViewBag.Title = "Choose Sale";
    ViewBag.PageTitle = "Choose Sale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li>
            <i class="fa fa-list"></i>
            <a href="@Url.Action("Index", "SaleLocation")">Sales</a>
        </li>
        <li class="active">Choose Sale
        </li>
    </ul>
}

<div class="well widget flat radius-bordered no-margin">
    <div class="widget-body">
        <div class="no-padding clear">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th style="width: 25%;">Sale Name</th>
                        <th style="width: 25%;" class="hidden-xs">Location</th>
                        <th style="width: 20%;" class="hidden-xs hidden-sm">Start Date</th>
                        <th style="width: 20%;" class="hidden-xs hidden-sm">End Date</th>
                        <th style="width: 10%;"></th>
                    </tr>
                </thead>
                <tbody>
                    @Html.DisplayForModel()
                </tbody>
            </table>
        </div>
    </div>
</div>
