﻿@model MvcPaging.IPagedList<ThoroughWorks.Models.Owner_M>
@using ThoroughWorks.Web.Models.Helpers
@using ThoroughWorks.Models
@{
    ViewBag.Title = "Email Owners";
    ViewBag.PageTitle = "Email Owners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li >
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li class="hidden-xs">
            <i class="fa fa-list"></i>
            <a href="@Url.Action("Index", "SaleLocation")">Sales</a>
        </li>
        <li class="hidden-xs">
            <i class="fa fa-list"></i>
            <a href="@Url.Action("Index", "SaleCard", new { id = ViewBag.UserSaleLocationID })">@ViewBag.SaleName</a>
        </li>
        <li  class="hidden-xs">
            <i class="fa fa-bar-chart-o"></i>
            <a href="@Url.Action("SaleStatistics", "SaleCard", new { id = ViewBag.UserSaleLocationID })">Sale Statistics</a>
        </li>
        <li class="active">
            <i class="fa fa-users"></i>
            Email Owners
        </li>
    </ul>
}

@{
    string SearchName = (ViewBag.Search as OwnerSearch ?? new OwnerSearch()).SearchName;
}

<div class="well">
    <form id="formConfig" name="formConfig">
        <input type="hidden" id="Page" name="Page" />
        @Html.Hidden("saleName", (string)ViewBag.SaleName)
        @Html.Hidden("userSaleLocationID", (int)ViewBag.UserSaleLocationID)
        <div class="form-inline">
            <div class="form-group ">
                <div class="col-lg-12 no-padding">
                    <label class="sr-only" for="SearchName">Name</label>
                    @Html.TextBox("SearchName", "", new { @class = "form-control", placeholder = "Name" })
                </div>
            </div>
            <div class="form-group ">
                <div class="col-lg-12 no-padding">
                    <input type="submit" class="btn btn-blue" value="Search">
                </div>
            </div>
            <div class="form-group ">
                <div class="col-lg-12 no-padding">
                    <button type="submit" class="btn btn-success" name="SendEmails" id="SendEmails" onclick="$('#EmailOwners').submit();">Send Emails</button>
                </div>
            </div>
        </div>
    </form>
    <div class="clear"></div>
</div>

<div id="listingData">
    @using (Html.BeginForm("EmailOwners", "SaleCard", new { saleName = ViewBag.SaleName, userSaleLocationID = ViewBag.UserSaleLocationID }, FormMethod.Post, new { @class = "form-horizontal", @style = "clear:none", @name = "EmailOwners", @id = "EmailOwners" }))
    {
        Html.RenderPartial("EmailOwnersListing", Model);
    }
</div>

@section Scripts
{
    <script type="text/javascript">
        function Reloadables() {
            $("#formConfig").on("submit", function () {
                var url = '@Url.Action("AjaxEmailOwnersListing")';
                $('#Page').val('1');
                $.post(url, $('#formConfig').serialize(), function (data, status) {
                    $('#listingData').html(data);
                    Reloadables();
                });
                return false;
            });
        }

        $(document).ready(function () {
            Reloadables();
        });
    </script>
}
