﻿@using MvcPaging
@using ThoroughWorks.Web.App_Code;
@using ThoroughWorks.Models

@using ThoroughWorks.Web.Models.Helpers
@model IPagedList<Owner_M>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th style="width: 5%"></th>
      <th style="width: 20%">Name</th>
      <th style="width: 30%" class="hidden-xs">Horses on Sale</th>
      <th style="width: 45%">Message</th>
    </tr>
  </thead>
  <tbody>
    @if (Model.Count == 0)
    {
      <tr>
        <td colspan="4">
          No Record Found.
        </td>
      </tr>
    }
    else
    {
      @Html.DisplayForModel();
    }
  </tbody>
</table>

@if (Model.Count > 0)
{
  @Ajax.CustomAjaxPager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, "AjaxList", null, new CustomAjax
    {
      FormToPost = "#formConfig",
      UrlToPost = @Url.Action("AjaxEmailOwnersListing"),
      UpdateType = UpdateType.replace,
      UpdateControl = "#listingData"
    })
}
