﻿@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model Horse_M
<style type="text/css">
    table {
        border-spacing: 10px;
        border-collapse: separate;
    }
</style>
<div class="row" style="margin:0px;padding-top:10px;padding-left:20px">
   <button type="button" class="btn btn-default" onclick="BackToHorseList();">Back</button>
</div>
<table style="width: 100%; margin-left: 20px;" border="0">

    <tr>
        <td style="width: 10%;">Horse:</td>
        <td style="width: 70%;">@Model.Name</td>

    </tr>
     <tr>
        <td>Date of Birth:</td>
        <td>@Helpers.ConvertDateToString(@Model.DOB)</td>

    </tr>
      <tr>
        <td>Sire:</td>
        <td>@Helpers.EmptyThanSymbol(Model.Sire,"-")</td>

    </tr>

    <tr>
        <td>Dam:</td>
        <td>@Helpers.EmptyThanSymbol(Model.Dam,"-")</td>
    </tr>
    <tr>
        <td style="vertical-align:top;">Image:</td>
        <td>
             
                <div style="width:33%">
                    <div class="thumbnail">@GeneralHelper.GetImage(@Model.ImagePath, @Model.HorseID)</div>
                </div>
            
            
        </td>
    </tr>
    <tr>
        <td>Attachment:</td>
        <td>
            @if (!String.IsNullOrWhiteSpace(Model.AttachmentsPath))
            {
               <a target="_blank" href="@Url.Content("~/files/" + Model.HorseID + "/" + Model.AttachmentsPath)">@Model.AttachmentsPath</a>
            }
            else
            {
                <span>No Attachment</span>
            }
        </td>
    </tr>
    

    <tr>
        <td>Comment:</td>
        <td>@Helpers.EmptyThanSymbol(Model.Comments,"-")</td>

    </tr>
</table>
<script type="text/javascript">
    function BackToHorseList() {
        var url = '@Url.Action("LoadHorses","SaleCard")' + '?CardID=' + $('#CardID').val();
        getRequest(url, '#listingData');
    }
</script>
