﻿@model ThoroughWorks.Models.SaleCardViewModel

<h3>@Model.HorseName</h3>

<div class="row no-padding no-margin">
    <div class="col-lg-6 col-sm-6 col-md-6 no-margin no-padding">
        <form id="comment-save" method="post">
            @Html.HiddenFor(m => Model.UserHorseSaleID, new { @class = "horse-sale-id"})
            @Html.HiddenFor(m => Model.SaleID, new { @class = "sale-id"})
            <div class="form-group">
                <label for="Comments">Comments</label>
                @Html.TextArea("Comments", new { @class = "form-control comment" })
                <input type="button" class="btn btn-success comment-save" value="Save">
            </div>
            <div class="form-group">
                <span class="comment-message" style="color:#53a93f!important;"></span>
            </div>
        </form>
    </div>
</div>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>

            <th style="width: 20%">Viewer</th>
            <th style="width: 5%; text-align: center;" class="hidden-xs">Pre Sale</th>
            @foreach (var date in Model.ViewDates.Where(x => x >= Model.SaleStartDate).ToList())
            {
                var hiddensm = "";
                if (Model.Viewers.Sum(x => x.ViewList.Where(z => z.Date == date).Sum(z => z.Views)) == 0)
                {
                    hiddensm = "hidden-sm hidden-md";
                }

                <th style="width: 10px; text-align: center;" class="hidden-xs @hiddensm">@date.ToString("dd MMM")</th>
            }
            <th style="width: 5%; text-align: center;">Total</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Viewers != null)
        {
            if (!Model.Viewers.Any())
            {
            <tr>
                <td colspan="3">No Views Found.
                </td>
            </tr>
            }
            else
            {
            @Html.DisplayFor(m => m.Viewers, new { SaleStartDate = Model.SaleStartDate, ViewDates = Model.ViewDates, TotalList = Model.Viewers })
            }
        }
    </tbody>
    <tfoot>
        <tr style="border-top: solid 1px black; font-weight: bold;">
            <td>Totals</td>
            @{
                var presaletotal = Model.Viewers.Sum(x => x.ViewList.Where(y => y.Date < ViewBag.SaleStartDate).Sum(z => z.Views));
                var total = Model.Viewers.Sum(x => x.ViewList.Sum(z => z.Views));
            }
            <td style="text-align: center;" class="hidden-xs">
                @if (presaletotal > 0)
                {
                    @Html.Raw(presaletotal)
                }
            </td>
            @foreach (var date in Model.ViewDates.Where(x => x >= Model.SaleStartDate).ToList())
            {
                var dayTotal = Model.Viewers.Sum(x => x.ViewList.Where(y => y.Date == date).Sum(z => z.Views));
                var hiddensm = "";
                if (dayTotal == 0)
                {
                    hiddensm = "hidden-sm hidden-md";
                }
                <td style="text-align: center;" class="hidden-xs @hiddensm">
                    @if (dayTotal > 0)
                    {
                        @Html.Raw(dayTotal)
                    }
                </td>
            }
            <td style="text-align: center;">
                @if (total > 0)
                {
                    @Html.Raw(total)
                }
            </td>
        </tr>
    </tfoot>
</table>

<script type="text/javascript">
    // ajax save of comments
    $(".comment-save").on("click", function () {
        // override save action and use ajax instead.
        //using (Html.BeginForm("SaveSaleCardViewerComments", "SaleCard", new { userHorseSaleID = Model.SaleID }, FormMethod.Post, new { id = "comment-save" }))
        var url = '@Url.Action("SaveSaleCardViewerComments", "SaleCard")';
        var form = $("#comment-save");
        var saleID = $(form).find(".sale-id").val();
        var horseSaleID = $(form).find(".horse-sale-id").val();
        var comment = $(form).find(".comment").val();
        $.ajax({
            url: "@Url.Action("SaveSaleCardViewerComments", "SaleCard")",
            type: 'POST',
            data: { SaleID: saleID, UserHorseSaleID: horseSaleID, Comments: comment },
            success: function (result) {
                $(".comment-message").html("Comment saved successfully");
                //LoadList();
                //$("#content").html("");
                //$(".messageArea").attr("class", "messageArea message-success");
                //$(".message-text").text("Job Type Removed");
                //$(".messageArea").css("display", "block");
                //if (timeout !== undefined)
                //    clearTimeout(timeout);
                //timeout = setTimeout(function () { $(".message-success").slideUp('slow') }, 5000);
            }
        });

        return false;
    });


</script>