﻿@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model List<ThoroughWorks.Models.Card_M>

@{
    ViewBag.Title = "Inspection Cards";
    ViewBag.PageTitle = "Inspection Cards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li>
            <i class="fa fa-list"></i>
            <a href="@Url.Action("Index", "SaleLocation")">Sales</a>
        </li>
        <li>
            <i class="fa fa-list"></i>
            <a href="@Url.Action("Edit", "SaleLocation", new { id = ViewBag.SaleLocationID })"><span>@ViewBag.SaleLocationName</span></a>
        </li>
        <li class="active">
            <i class="fa fa-file-text"></i>
            Inspection Cards
        </li>
    </ul>
}

<div class="row">
    <div class="col-lg-6 col-sm-6 col-xs-12">
        <a class="btn btn-success" href="@Url.Action("Add", "Salecard", new { id = @ViewBag.SaleLocationID, ReturnUrl = Server.UrlEncode(Request.Url.ToString()) })">Add a New Inspection Card</a>
        <a href="@ViewBag.ReturnUrl" class="btn btn-blue">Back</a>
    </div>
    <div class="col-lg-6 col-sm-6 col-xs-12">
        <div class="pull-right">
            @if (Helpers.IsInRole(Convert.ToString((int)ThoroughWorks.Web.Models.Helpers.EnumHelper.Roles.SaleManager)) || Helpers.IsInRole(Convert.ToString((int)ThoroughWorks.Web.Models.Helpers.EnumHelper.Roles.AdminUser)))
            {
                <a href="@Url.Action("SaleStatistics", new { id = @ViewBag.SaleLocationID, ReturnUrl = Server.UrlEncode(Request.Url.ToString()) })" class="btn btn-secondary">View Sale Statistics</a>
            }
            <a href="@Url.Action("ChooseSale", new { ReturnUrlType = "cards", forceDisplaySales = true, })" class="btn btn-warning">Choose a Different Sale</a>
        </div>
    </div>
</div>
<div class="well">
    @using (Html.BeginForm("Index", "SaleCard", FormMethod.Get, new { id = "formConfig" }))
    { 
        <h4>Search</h4>
        <input type="hidden" id="Page" name="page" />
        <input type="hidden" id="ReturnUrl" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
        <div class="form-inline">
            <div class="form-group ">
                <div class="col-lg-12 no-padding">
                    <label class="sr-only" for="DateFrom">From</label>
                    @Html.TextBox("DateFrom", "", new { @class = "form-control date-picker", placeholder = "Date From", data_date_format="dd/mm/yyyy" })
                </div>
            </div>
            <div class="form-group ">
                <div class="col-lg-12 no-padding">
                    <label class="sr-only" for="DateTo">To</label>
                    @Html.TextBox("DateTo", "", new { @class = "form-control date-picker", placeholder = "Date To", data_date_format="dd/mm/yyyy" })
                </div>
            </div>
            <div class="form-group ">
                <div class="col-lg-12 no-padding">
                    <input type="submit" class="btn btn-blue" value="Search">
                </div>
            </div>
        </div>
    }
    <div class="clear"></div>
</div>
<div class="well clearfix" style="padding: 10px;">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th style="width: 10%">Ref ID</th>
                <th style="width: 15%">Inspection Date</th>
                <th style="width: 20%">Person Name</th>
                <th style="width: 35%">Interested Horses</th>
                <th style="width: 20%"></th>
            </tr>
        </thead>
        <tbody>
            @Html.DisplayForModel()
        </tbody>
    </table>
</div>

@section Scripts
{
    <script src="~/Content/beyond-admin/js/datetime/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        //jQuery.validator.defaults.ignore = ".ignore";
        //jQuery(function ($) {
        //    $.validator.addMethod('date',
        //    function (value, element) {
        //        if (this.optional(element)) {
        //            return true;
        //        }

        //        var ok = true;
        //        try {
        //            $.datepicker.parseDate('dd/mm/yy', value);
        //        }
        //        catch (err) {
        //            ok = false;
        //        }
        //        return ok;
        //    });
        //});
        initPlugins();
        $(document).ready(function () {
            $('.remove-card').on("click", function () {
                var cardID = $(this).parent().find(".cardid").val();
                var saleID = $(this).parent().find(".saleid").val();
                if (confirm("Are you sure you want to remove this Card?")) {
                    alert("removing card " + cardID);
                    $.post("/SaleCard/Remove", { CardID: cardID, UserSaleLocationID: saleID }, function (data) {
                        location.href = location.href;
                    });
                }
                else {
                    return false;
                }
            });
            //$(".date-picker").datepicker({
            //    dateFormat: "dd/mm/yy"
            //});
        });
    </script>
}