﻿@using ThoroughWorks.Models
@model SaleCard
@*<ul class="thumbnails mws-gallery">
    @foreach (SaleCardHorses horse in Model.horses)
    {
        <li onclick="ShowHorseDetailPage('@horse.HorseID')">
            <span class="thumbnail">
                @GeneralHelper.GetImage(horse.HorseImage,horse.HorseID)
            </span>
            <span>
                @horse.HorseName 
            </span>
        </li>
    }
    
</ul>*@
<div class="row" style="margin: 0px; padding-top: 10px; padding-left: 20px">
    <button type="button" class="btn btn-default" onclick="BackToCardList();">Back</button>
</div>
 
<div class="row" style="margin: 0px; padding-top: 20px;">
    @foreach (SaleCardHorses horse in Model.Horses)
    {
   
        <div class="col-xs-5 col-sm-5 col-md-3 pointer" style="padding-bottom:15px" onclick="ShowHorseDetailPage('@horse.HorseID')">
            <div class="thumbnail">
                @GeneralHelper.GetImage(horse.HorseImage, horse.HorseID)
            </div>
            <div class="caption">
                @horse.HorseName
            </div>
        </div>
    
    
        
    }
</div>
<script type="text/javascript">
    function ShowHorseDetailPage(id) {
        var locationid = $('#CardID').val();
        var url = '@Url.Action("HorseDetail", "SaleCard")' + '?HorseID=' + id + '&CardID=' + locationid;
        getRequest(url, '#listingData');
    }
    function BackToCardList() {
        var url = '@Url.Action("AjaxListing")';
        showloading();
        $.post(url, $('#formConfig').serialize(), function (data, status) {
            $('#listingData').html(data);
            hideloading();
        });
    }
</script>
