﻿@using ThoroughWorks.Web.Models.Helpers
@model ThoroughWorks.Models.SaleStatisticsModel

@{
    ViewBag.Title = "Sales Statistics - " + Model.SaleName;
    ViewBag.PageTitle = "Sales Statistics - " + Model.SaleName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li class="hidden-xs">
            <i class="fa fa-list"></i>
            <a href="@Url.Action("Index", "SaleLocation")">Sales</a>
        </li>
        <li class="hidden-xs">
            <i class="fa fa-list"></i>
            <a href="@Url.Action("Index", "SaleCard", new { id = Model.UserSaleLocationID })">@Model.SaleName</a>
        </li>
        <li class="active">
            <i class="fa fa-bar-chart-o"></i>
            Sale Statistics
        </li>
    </ul>
}

<script src="/Scripts/amcharts/amcharts.js" type="text/javascript"></script>
<script type="text/javascript">
    function handleClick(event) {
        $(".horse-id").val(event.item.dataContext.HorseID);

        $("#viewer-details").load("/SaleCard/HorseViewerDetail?saleID=" + @Model.SaleID + "&HorseID=" + event.item.dataContext.HorseID);
        //$("#viewer-details").html("<p>" + event.item.category + "</p>");
        $("#viewer-details").focus();

    }

    $(document).ready(function () {

        
        $("#selectHorseButton").on("click", function () {
            var SaleID = $(document).find('.sale-id').val();
            var HorseID = $(document).find('.horse-id').val();
            if (HorseID != "") {
                $("#viewer-details").load("/SaleCard/HorseViewerDetail?saleID=" + SaleID + "&HorseID=" + HorseID);
                $("#viewer-details").focus();
            }
        });

    });  ///document.ready
</script>


<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-24">
        <a href="@ViewBag.ReturnUrl" class="btn btn-blue">Back</a>
        <a href="@Url.Action("Add", "SaleCard", new { ReturnUrl = Server.UrlEncode(Request.Url.ToString()), id = Model.UserSaleLocationID })" class="btn btn-success">Add Inspection Card</a>
    </div>
</div>
<div class="well">
    <form id="formConfig" name="formConfig" method="get">
        @*<input type="hidden" value="@Model.SaleID" name="id" />*@
        <input type="hidden" value="@ViewBag.ReturnUrl" name="ReturnUrl" />
        <div class="form-inline">
            <div class="form-group">
                <div class="col-lg-12 no-padding">
                    <label for="Owner">Owner: </label>
                    @Html.DropDownListFor(m => m.OwnerID, (IEnumerable<SelectListItem>)ViewBag.OwnerList, "-- Show All --", new { @class = "form-control", @style = "margin-left:10px; min-width:250px;" })
                </div>
            </div>
            <div class="form-group ">
                <div class="col-lg-12 no-padding">
                    <input type="submit" class="btn btn-blue" value="Search">
                    @if (((IEnumerable<SelectListItem>)ViewBag.OwnerList).Count() > 0)
                    {
                    <a href="@Url.Action("EmailOwners", "SaleCard", new { userSaleLocationID = Model.UserSaleLocationID, saleName = Model.SaleName })" class="btn btn-secondary">Email Owners</a>
                    }
                </div>
            </div>
        </div>
    </form>
    <div class="clear"></div>
</div>
<div class="row" style="margin-top: 20px; display: none;">
    <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="databox databox-halved radius-bordered databox-shadowed">
            <div class="databox-left bg-white">
                <span class="databox-number sky">@Model.Horses</span>
            </div>
            <div class="databox-right bg-sky padding-10">
                <span class="databox-title white">Horses At Sale</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="databox databox-halved radius-bordered databox-shadowed">
            <div class="databox-left bg-white">
                <span class="databox-number sky">@Model.RegisteredCards</span>
            </div>
            <div class="databox-right bg-sky padding-10">
                <span class="databox-title white">Cards Registered</span>
                <div class="databox-text white"><a class="white" href="@Url.Action("Index", "SaleCard", new { id = Model.SaleID })">View List</a></div>
            </div>
        </div>
    </div>
</div>

@if (Model.OwnerID.HasValue)
{
    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-24 no-margin no-padding" id="export">
        <div class="widget">
            <div class="widget-header bg-blue">
                <span class="widget-caption">Send Sale Statistics Email to Owner</span>
            </div>
            <div class="widget-body">
                @using (Html.BeginForm("ExportEmail", "SaleCard", FormMethod.Post, new { @class = "form-horizontal", @style = "clear:none" }))
                {
                    @Html.Hidden("ThisUrl", Server.UrlEncode(Request.Url.ToString()))
               
                    @Html.Hidden("selectedOwnerID", Model.OwnerID)
                    @Html.Hidden("userSaleLocationID", @Model.UserSaleLocationID)
                    @Html.Hidden("saleName", (string)ViewBag.SaleName)
                    <label class="control-label" for="message">Message</label>
                    @Html.TextArea("message", "Here is a quick update on your lots at the " + Model.SaleName, new { @class = "form-control", cols = "4", rows = "4" })<br />
                    <button type="submit" class="btn btn-success">Send</button>
                }
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-24">
        <div class="widget">
            <div class="widget-body">
                <h3 style="margin-left: 10px;">Horses by # of Inspection Cards</h3>
                <div class="clearfix">
                    @{
                        // 30 pixels per horse
                        var height = ((Model.HorseViews.Count() + 1) * 35).ToString() + "px";
                    }
                    <div id="chartdiv" style="width: 100%; height:@height;"></div>
                    <script type="text/javascript">

                        var chart;
                        var act;
                        var chartdata = new Array(@Html.Raw(Model.HorseViewsChartData));
                        AmCharts.ready(function () {

                            // SERIAL CHART
                            chart = new AmCharts.AmSerialChart();
                            chart.dataProvider = chartdata;
                            chart.categoryField = "Horse";
                            //chart.startDuration = 1;

                            // add click listener
                            chart.addListener("clickGraphItem", handleClick);

                            // AXES
                            // category
                            var categoryAxis = chart.value;
                            //categoryAxis.labelRotation = 90;
                            //categoryAxis.gridPosition = "start";

                            // value
                            // in case you don't want to change default settings of value axis,
                            // you don't need to create it, as one value axis is created automatically.
                            var valueAxis = new AmCharts.ValueAxis();
                            valueAxis.axisAlpha = 0;
                            valueAxis.integersOnly = true;
                            chart.addValueAxis(valueAxis);

                            // GRAPH

                            var graph = new AmCharts.AmGraph();
                            graph.valueField = "Views";
                            graph.balloonText = "[[category]] - Views: [[value]]";
                            graph.lineAlpha = 0;
                            graph.fillAlphas = 0.8;
                            graph.title = "Views";
                            graph.fillColors = "#1400FF";
                            graph.type = "column";
                            chart.addGraph(graph);

                            chart.rotate = "true";

                            // LEGEND
                            //var legend = new AmCharts.AmLegend();
                            //chart.addLegend(legend);

                            chart.write("chartdiv");
                        });
                    </script>
                </div>
                
                <form id="formSelectHorse" name="formSelectHorse" method="post">
                    <input type="hidden" value="@ViewBag.ReturnUrl" name="ReturnUrl" />
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="col-lg-12 no-padding">
                                <label for="Owner" style="margin-right:10px;">Horse: </label>
                                @Html.DropDownListFor(m => m.HorseID, (IEnumerable<SelectListItem>)ViewBag.HorseList, "<Select Horse>", new { @class = "form-control horse-id", @style = "min-width:250px;" })
                                <input type="hidden" id="id" name="id" value="@Model.SaleID" class="sale-id" />
                                <input type="hidden" id="OwnerID" name="OwnerID" value="@Model.OwnerID" />
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-lg-12 no-padding">
                                <input type="button" id="selectHorseButton" name="selectHorseButton" class="btn btn-blue" value="Show Inspections">
                                @*<a href="@Url.Action("HorseViewerDetail", "SaleCard", new { saleID = Model.SaleID })" class="btn btn-secondary">View Inspections</a>*@
                            </div>
                        </div>
                    </div>
                </form>

                <div class="clearfix">
                    <div style="margin: 10px;">
                        <div id="viewer-details" style="width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
