﻿@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model Owner_M

@{
    ViewBag.Title = "Owner Management";
    ViewBag.PageTitle = "Owner Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li>
            <i class="fa fa-users"></i>
            <a href="@Url.Action("Index", "Owner")">Owners</a>
        </li>
        <li class="active">
            <i class="fa fa-user"></i>
            @if (Model.OwnerID == 0)
            {
                @Html.Raw("Add New Owner")
            }
            else
            {
                @Model.Name
            }
        </li>
    </ul>
}

<div class="col-lg-6 col-md-6 col-sm-8 col-xs-24 no-margin no-padding">
    <div class="widget">
        <div class="widget-header bg-blue">
            @if (Model.OwnerID == 0)
            {
                <span class="widget-caption">New Owner</span>
            }
            else
            {
                <span class="widget-caption">Edit @Model.Name</span>
            }

        </div>
        <div class="widget-body">
            @using (Html.BeginForm("SaveRecord", "Owner", FormMethod.Post, new { @class = "form-horizontal", @style = "clear:none" }))
            {
                @Html.EditorForModel()

                <button type="submit" class="btn btn-success">Save Changes</button>
                <a href="@Url.Action("Index")" class="btn btn-warning">Cancel</a>
            }
        </div>
    </div>
</div>

@if (Model.OwnerID > 0)
{
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24 no-margin no-padding">
        <div class="widget">
            <div class="widget-header bg-blue">
                <span class="widget-caption">Horses Owned by @Model.Name</span>
            </div>
        <div class="widget-body">
            <div class="row no-margin" style="padding-bottom:15px;">
                <a href="@Url.Action("Add", "Horse", new { id = Model.OwnerID, ReturnUrl = Server.UrlEncode(Request.Url.ToString()) })" class="btn btn-blue">Add a New Horse</a>
                </div>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>

                            <th style="width: 15%">Name</th>
                            <th style="width: 10%" class="hidden-xs">Date of birth</th>
                            <th style="width: 5%" class="hidden-xs">Sex</th>
                            <th style="width: 10%" class="hidden-xs">Colour</th>
                            @*<th style="width: 10%" class="hidden-xs hidden-sm">Date Arrived</th>
                            <th style="width: 10%" class="hidden-xs hidden-sm">Date Sold</th>
                            <th style="width: 18%" class="hidden-xs hidden-sm">Comments</th>*@
                            <th style="width: 12%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.OwnedHorses == null)
                        {
                            <tr>
                                <td colspan="8">No Records Found.
                                </td>
                            </tr>
                        }
                        else
                        {
                            @Html.DisplayFor(m => m.OwnedHorses)
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}