﻿@model MvcPaging.IPagedList<ThoroughWorks.Models.Owner_M>
@using ThoroughWorks.Web.Models.Helpers
@using ThoroughWorks.Models
@{
    ViewBag.Title = "Owner Management";
    ViewBag.PageTitle = "Owner Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li class="active">
            <i class="fa fa-users"></i>
            Owners
        </li>
    </ul>
}

@{
    string SearchName = (ViewBag.Search as OwnerSearch ?? new OwnerSearch()).SearchName;
}

<div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-8">
        <a class="btn btn-blue" href="@Url.Action("Add", "Owner")">Add a New Owner</a>
    </div>
</div>
<div class="well">
    <form id="formConfig" name="formConfig">
        <h4>Search</h4>
        <input type="hidden" id="Page" name="Page" />
        <div class="form-inline">
            <div class="form-group ">
                <div class="col-lg-12 no-padding">
                    <label class="sr-only" for="SearchName">Name</label>
                    @Html.TextBox("SearchName", "", new { @class = "form-control", placeholder = "Name" })
                </div>
            </div>
            <div class="form-group ">
                <div class="col-lg-12 no-padding">
                    <input type="submit" class="btn btn-blue" value="Search">
                </div>
            </div>
        </div>
    </form>
    <div class="clear"></div>
</div>
<div id="listingData">
    @{Html.RenderPartial("Listing", Model);}
</div>

@section Scripts
{
    <script type="text/javascript">
        function Reloadables() {
           $(".remove-owner").on("click", function () {
                var url = '@Url.Action("AjaxListing")';
                var ownerID = $(this).closest("tr").find(".owner-id").val();
                if (confirm('Are you sure you want to delete this owner?')) {
                    showloading();
                    $.ajax({
                        url: '@Url.Action("DeleteRecord")',
                        data: { OwnerID: ownerID },
                        context: document.body,
                        success: function (data) {
                            $(".alert").attr("class", "alert alert-success");
                            $(".message-text").html("Owner Removed Successfully");
                            $(".fa-fw").attr("class", "fa-fw fa fa-check");
                            $(".alert").show();
                            setMessageTimeout();

                            $.post(url, $('#formConfig').serialize(), function (data, status) {
                                $('#listingData').html(data);
                                hideloading();
                            });

                        },
                        error: function (err) {
                            hideloading();
                            alert(err);
                        }
                    });
                }
            });

            $("#formConfig").on("submit", function () {
                var url = '@Url.Action("AjaxListing")';
                $('#Page').val('1');
                $.post(url, $('#formConfig').serialize(), function (data, status) {
                    $('#listingData').html(data);
                });
                return false;
            });
        }

        $(document).ready(function () {
            Reloadables();
        });

    </script>
}