﻿@using MvcPaging
@using ThoroughWorks.Models

@using ThoroughWorks.Web.Models.Helpers
@model IPagedList<Owner_M>


<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th style="width: 15%">Name</th>
            <th style="width: 10%" class="hidden-xs">Email Address</th>
            <th style="width: 5%" class="hidden-xs">Contact Number</th>
            <th style="width: 12%"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count == 0)
        {
            <tr>
                <td colspan="9">No Record Found.
                </td>
            </tr>
        }
        else
        {
            @Html.DisplayForModel()
        }
    </tbody>
</table>

@if (Model.Count > 0)
{
    @Ajax.CustomAjaxPager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, "AjaxList", null, new CustomAjax
    {
        FormToPost = "#formConfig",
        UrlToPost = @Url.Action("AjaxListing"),
        UpdateType = UpdateType.replace,
        UpdateControl = "#listingData"
    })
}
