﻿@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model Horse_M

@Html.Hidden("UserID", SessionHelper.UserID)
@Html.Hidden("SubscriberID", SessionHelper.SubscriptionID)
@Html.Hidden("SearchTags")
@Html.Hidden("SearchUserID")
@Html.Hidden("page")



<div class="form-group">
    <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.AgeCategory)</label>
    <div class="col-lg-9 col-sm-9">
        @Html.DropDownList("AgeCategory", DropDownHelper.GetAllHorseAgeCategories(), "--Select Age Category--", new { @class = "form-control" })
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
        @Html.ValidationMessageFor(model => model.AgeCategory)
    </div>
</div>



<div class="form-group">
    <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.DOB)</label>
    <div class="col-lg-9 col-sm-9">
        <div class="input-group">@Html.TextBoxFor(m => m.DOB, String.Format("{0:dd/MM/yyyy}", Model.DOB), new { @class = "form-control date-picker ignore", data_date_format = "dd/mm/yyyy" })
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
        @Html.ValidationMessageFor(model => model.DOB)
    </div>
</div>

<div class="form-group">
    <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.SireID)</label>
    <div class="col-lg-9 col-sm-9">
        @Html.DropDownList("SireID", DropDownHelper.GetAllSires(Model.SireID), "--Select Sire--", new { @style = "width:100%;" })
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
        @Html.ValidationMessageFor(model => model.SireID)
    </div>
</div>

<div class="form-group">
    <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.Dam)</label>
    <div class="col-lg-9 col-sm-9">
        @Html.TextBoxFor(m => m.Dam, new { @class = "form-control" })
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
        @Html.ValidationMessageFor(model => model.Dam)
    </div>
</div>




<div class="form-group">
    <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.Name) <span class="required">*</span></label>
    <div class="col-lg-9 col-sm-9">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
        @Html.ValidationMessageFor(model => model.Name)
        @Html.HiddenFor(model => model.HorseID)
    </div>
</div>


<div class="form-group">
    <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.Sex)</label>
    <div class="col-lg-9 col-sm-9">
        <div class="radio" style="float: left;">
            <label>
                @Html.RadioButtonFor(m => m.Sex, "Colt") <span class="text">Colt</span>
            </label>
        </div>
        <span style="width: 40px; display: inline-block;"></span>
        <div class="radio" style="float: left;">
            <label>
                @Html.RadioButtonFor(m => m.Sex, "Filly") <span class="text">Filly</span>
            </label>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
        @Html.ValidationMessageFor(model => model.Sex)
    </div>
</div>



<div class="form-group">
    <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.Colour)</label>
    <div class="col-lg-9 col-sm-9">
        @Html.TextBoxFor(m => m.Colour, new { @class = "form-control" })
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
        @Html.ValidationMessageFor(model => model.Colour)
    </div>
</div>

@if (Model.HorseID == 0)
{
    <div class="form-group">
        <label class="col-lg-12 col-sm-12" for="Name">Owner</label>
        <div class="col-lg-12 col-sm-12">
            <div class="no-padding clear">
                <table class="table table-striped table-hover table-bordered dragtable" id="tblOwners">
                    <thead>
                        <tr>
                            <th style="width: 25%;">Owner</th>
                            <th style="width: 25%;">Email</th>
                            <th style="width: 25%;">Contact Number</th>
                            <th style="width: 25%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @Html.EditorForModel()
                    </tbody>
                </table>

            </div>
            <div class="no-padding clear" style="margin-top: 20px;">

                @Html.LinkToAddNestedForm("Add New Owner", "#tblOwners", "#tblOwners tr.tablerow", "Owners", typeof(ThoroughWorks.Models.HorseOwner_M))

            </div>
        </div>
    </div>
}
else
{
    <div class="form-group">
        <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.Owners)</label>
        <div class="col-lg-9 col-sm-9">
            @for (int i = 0; i < Model.Owners.Count; i++)
            {
                @Model.Owners[i].Name
                <br />
            }

            <a href="@Url.Action("Owners", "Horse", new { id = Model.HorseID })" class="view-owners btn btn-warning btn-sm"  style="float:right;">Modify Owners</a>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
            @Html.ValidationMessageFor(model => model.Owners)
        </div>
    </div>
}

<div class="form-group">
    <div class="row no-margin">
        <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.Image)</label>
        <div class="col-lg-9 col-sm-9">
            @Html.HiddenFor(model => model.ImagePath)
            @Html.EditorFor(model => model.Image)
        </div>
    </div>
    @if (!String.IsNullOrWhiteSpace(Model.ImagePath))
    {
        <div class="row no-margin">
            <div class="col-lg-3 col-sm-3"></div>
            <div class="col-lg-9 col-sm-9">
                <a href="@Url.Action("GetImageFile", "ImageGallery", new { imagePath = "~/files/" + Model.HorseID + "/" + Model.ImagePath })" data-lightbox="horseimage" title="@Model.Name">
                    <img alt="imgpreview" style="width:100px;height:100px;margin-top:10px" src="@Url.Content("~/files/" + Model.HorseID + "/" + Model.ImagePath)" />
                </a>
                <br />
                <a href="javascript:void(0);" class="removeimage" style="color: red; font-size: 0.8em; margin-top: 10px;">Remove Image</a>
            </div>
        </div>
    }
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
        @Html.ValidationMessageFor(model => model.Image)
    </div>
</div>

<div class="form-group">
    <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.DateArrived)</label>
    <div class="col-lg-9 col-sm-9">
        <div class="input-group">@Html.TextBoxFor(m => m.DateArrived, String.Format("{0:dd/MM/yyyy}", Model.DateArrived), new { @class = "form-control date-picker ignore", data_date_format = "dd/mm/yyyy" })
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
        @Html.ValidationMessageFor(model => model.DateArrived)
    </div>
</div>

<div class="form-group">
    <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.DateSold)</label>
    <div class="col-lg-9 col-sm-9">
        <div class="input-group">@Html.TextBoxFor(m => m.DateSold, String.Format("{0:dd/MM/yyyy}", Model.DateSold), new { @class = "form-control date-picker ignore", data_date_format = "dd/mm/yyyy" })
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
        @Html.ValidationMessageFor(model => model.DateSold)
    </div>
</div>

<div class="form-group">
    <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.Current)</label>
    <div class="col-lg-9 col-sm-9">
        <div class="radio" style="float: left;">
            <label>
                @Html.RadioButtonFor(m => m.Current, "true") <span class="text">Current</span>
            </label>
        </div>
        <span style="width: 40px; display: inline-block;"></span>
        <div class="radio" style="float: left;">
            <label>
                @Html.RadioButtonFor(m => m.Current, "false") <span class="text">Non-Current</span>
            </label>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
        @Html.ValidationMessageFor(model => model.Current)
    </div>
</div>


<div class="form-group">
    <div class="row no-margin">
        <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.Attachments)</label>
        <div class="col-lg-9 col-sm-9">
            @Html.HiddenFor(model => model.AttachmentsPath)
            @Html.EditorFor(model => model.Attachments)
        </div>
    </div>
    @if (!String.IsNullOrWhiteSpace(Model.AttachmentsPath))
    {
        <div class="row no-margin">
            <div class="col-lg-3 col-sm-3"></div>
            <div class="col-lg-9 col-sm-9">
                <a target="_blank" href="@Url.Content("~/files/" + Model.HorseID + "/" + Model.AttachmentsPath)">@Model.AttachmentsPath</a>
                <br />
                <a href="javascript:void(0);" class="removeattachment" style="color: red; font-size: 0.8em; margin-top: 10px;">Remove Attachment</a>
            </div>
        </div>
    }
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
        @Html.ValidationMessageFor(model => model.Attachments)
    </div>
</div>

<div class="form-group">
    <label class="col-lg-12 col-sm-12" for="Name">@Html.DisplayNameFor(m => m.Comments)</label>
    <div class="col-lg-12 col-sm-12">
        @Html.TextAreaFor(m => m.Comments, new { @class = "form-control" })
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
        @Html.ValidationMessageFor(model => model.Comments)
    </div>
</div>

