﻿@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model HorseOwner_M

<tr class="tablerow">
    
    <td>
        
        @Html.DropDownList("OwnerID", DropDownHelper.GetAllOwners(), "--Select Owner--", new { @style = "width:100%;" })

        
        @Html.HiddenFor(m => m.HorseOwnerID, new { @class = "form-control" })
        @Html.HiddenFor(m => m.HorseID, new { @class = "form-control" })
    </td>
    <td>@Html.DisplayFor(m => m.EmailAddress, new { @class = "form-control" })</td>
    <td>@Html.DisplayFor(m => m.ContactNumber, new { @class = "form-control" })</td>

    <td>
        
        @Html.HiddenFor(m => m.Delete, new { @class = "mark-for-delete" })

        @Html.LinkToRemoveNestedForm("Remove", "tr.tablerow", "input.mark-for-delete")
    </td>
</tr>