﻿@using ThoroughWorks.Web.Models.Helpers;
@model MvcPaging.IPagedList<ThoroughWorks.Models.UserDetail_M>
@{
    ViewBag.Title = "User Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageTitle = "User Management";
}

@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li class="active">
            <i class="fa fa-user"></i>
            @if (SessionHelper.SubscriptionID == 0)
            {
                @Html.Raw("Administrators")
            }
            else
            {
                @Html.Raw("Users")
            }
        </li>
    </ul>

}


<div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-8">
        <a class="btn btn-blue" href="@Url.Action("Add")">Add a New User</a>
    </div>
</div>
<div class="well">
    <form id="formConfig" name="formConfig">
        <h4>Search</h4>
        <input type="hidden" id="Page" name="page" />
        <div class="form-inline">
            <div class="form-group ">
                <div class="col-lg-12 no-padding">
                    <label class="sr-only" for="SearchFirstName">First Name</label>
                    @Html.TextBox("SearchFirstName", "", new { @class = "form-control", placeholder = "First Name" })
                </div>
            </div>
            <div class="form-group ">
                <div class="col-lg-12 no-padding">
                    <label class="sr-only" for="SearchLastName">Last Name</label>
                    @Html.TextBox("SearchLastName", "", new { @class = "form-control", placeholder = "Last Name" })
                </div>
            </div>
            <div class="form-group ">
                <div class="col-lg-12 no-padding">
                    <input type="submit" class="btn btn-blue" value="Search">
                </div>
            </div>
        </div>
    </form>
    <div class="clear"></div>
</div>
<div id="listingData">
    @{Html.RenderPartial("Listing", Model);}
</div>
@section Scripts
{
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <script type="text/javascript">
        function Reloadables() {
           $(".remove-user").on("click", function () {
                var url = '@Url.Action("AjaxListing")';
                var userID = $(this).closest("tr").find(".user-id").val();
                if (confirm('Are you sure you want to delete this user?')) {
                    showloading();
                    $.ajax({
                        url: '@Url.Action("DeleteRecord")',
                        data: { UserID: userID },
                        context: document.body,
                        success: function (data) {
                            $(".alert").attr("class", "alert alert-success");
                            $(".message-text").html("User Removed Successfully");
                            $(".fa-fw").attr("class", "fa-fw fa fa-check");
                            $(".alert").show();
                            setMessageTimeout();

                            $.post(url, $('#formConfig').serialize(), function (data, status) {
                                $('#listingData').html(data);
                                hideloading();
                                Reloadables();
                            });

                        },
                        error: function (err) {
                            hideloading();
                            alert(err);
                        }
                    });
                }
            });

            $("#formConfig").on("submit", function () {
                var url = '@Url.Action("AjaxListing")';
                $('#Page').val('1');
                $.post(url, $('#formConfig').serialize(), function (data, status) {
                    $('#listingData').html(data);
                    Reloadables();
                });
                return false;
            });
        }
        $(document).ready(function () {
            Reloadables();
        });
    </script>
}
