﻿@using MvcPaging
@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model IPagedList<UserDetail_M>


<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th style="width: 20%;">Name</th>
            <th style="width: 15%;" class="hidden-xs hidden-sm">Phone Number</th>
            <th style="width: 30%;" class="hidden-xs">Email</th>
            <th style="width: 15%;" class="hidden-xs">Role</th>
            <th style="width: 15%;"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            foreach (UserDetail_M user in Model)
            {
            <tr>
                <td>@Html.ActionLink(user.FirstName + " " + user.LastName, "Edit", new { UserID = user.UserID })
                    @Html.HiddenFor(m => user.UserID, new { @class = "user-id"})
                </td>
                <td class="hidden-xs hidden-sm">@user.PhoneNumber </td>
                <td class="hidden-xs">@user.EmailID  </td>
                <td class="hidden-xs">@Html.Raw(user.RoleMasterName)</td>
                <td style="text-align:center;">
                    <a href="@Url.Action("Edit", new { UserID = user.UserID })" class="edit-user btn btn-primary icon-button btn-sm  hidden-xs" title="Edit User"><i class="fa fa-edit"></i></a>
                    <a href="javascript:void(0);" @*onclick="DeleteRecord('@user.UserID')" *@class="remove-user btn btn-danger  icon-button btn-sm" title="Remove User"><i class="fa fa-times"></i></a>
                </td>
            </tr>
            }
        }
    </tbody>
</table>

@if (Model.Count > 0)
{
    @Ajax.CustomAjaxPager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, "AjaxList", null, new CustomAjax
    {
        FormToPost = "#formConfig",
        UrlToPost = @Url.Action("AjaxListing"),
        UpdateType = UpdateType.replace,
        UpdateControl = "#listingData"
    })
}
