﻿@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model UserDetail_M

@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageTitle = "My Profile";
    var userFullName = (Model.UserID > 0) ? Model.FirstName + " " + Model.LastName : "User";

    var passwordPlaceholder = "";
    if (Model.UserID > 0)
    {
        passwordPlaceholder = "To change your password please enter here.  Leave blank to keep existing password";
    }
    
}

@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li class="active">
            <i class="fa fa-user"></i>
            <a href="@Url.Action("MyProfile", "UserManagement")">
                @Html.Raw("My Profile")
            </a>
        </li>
        <li class="active">
            @userFullName
        </li>
    </ul>
}

<form class="well widget flat radius-bordered no-margin" role="form" method="post" id="formUser">
    <div>
        <div class="widget-header bg-blue">
            <span class="widget-caption">User Information</span>
        </div>
        <div class="widget-body">
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.EmailID)
                @Html.TextBoxFor(m => m.EmailID, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber)
                @Html.TextBoxFor(model => model.PhoneNumber, null, new { maxlength = 20, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
        </div>
        <div class="widget-header bg-blue">
            <span class="widget-caption">Access Details</span>
        </div>
        <div class="widget-body">
            <div class="form-group">
                @Html.LabelFor(model => model.UserName)
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", disabled = "disabled" })
                @Html.HiddenFor(model => model.UserName)

                @Html.HiddenFor(model => model.UserID)
                @Html.HiddenFor(model => model.SubscriberID)
            </div>

            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.RoleMasterIDs)
                    @Html.HiddenFor(model => model.RoleMasterIDs)
                </div>
                @Html.ListBox("SelectedRoles", DropDownHelper.GetAllRoles(Model.RoleMasterIDs, Model.SubscriberID == 0), new { multiple = "multiple", disabled = "disabled", @style = "width:100%;" })
            </div>

        </div>



        <div class="widget-header bg-blue">
            <span class="widget-caption">Email Signature</span>
        </div>
        <div class="widget flat radius-bordered">

            <div class="widget-body">
                <div class="widget-main no-padding">
                    <div id="summernote"></div>
                    @Html.HiddenFor(m => m.EmailSignature)
                </div>
            </div>




            <div class="widget-body">

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a href="@ViewBag.ReturnUrl" class="btn btn-warning">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <script src="/content/beyond-admin/js/select2/select2.js"></script>

    <!--Summernote Scripts-->
    <script src="/content/beyond-admin/js/editors/summernote/summernote.js"></script>
    <script>
        $('#summernote').summernote(
            {
                height: 300,
                onImageUpload: function (files, editor, welEditable) {
                    sendFile(files[0], editor, welEditable);

                }
            });

        function sendFile(file, editor, welEditable) {
            data = new FormData();
            data.append("file", file);
            $.ajax({
                data: data,
                type: "POST",
                url: "/UserManagement/SendSignatureImage",
                cache: false,
                contentType: false,
                processData: false,
                success: function (url) {
                    editor.insertImage(welEditable, url);
                }
            })
        };


    </script>


    <script type="text/javascript">

        $(document).ready(function () {
            var sig = $("#EmailSignature").val().replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>')
            $(".note-editable").html(sig);


            $("#formUser").on("submit", function () {
                $("#EmailSignature").val($(".note-editable").html().replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;'));
            });


            // hide video, full screen, code view and help buttons on signature control
            $('button[data-original-title="Video"]').remove();
            $('button[data-original-title="Full Screen"]').remove();
            $('button[data-original-title="Code View"]').remove();
            $('button[data-original-title="Help"]').remove();
            

        });


        jQuery.validator.defaults.ignore = ".ignore";

        $.validator.unobtrusive.parse("#AddEditForm");

        $('.multiselect').multiselect();

        $("#SelectedRoles").select2({
            placeholder: "Select Roles",
            allowClear: true
        });

        

    </script>
}