﻿@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model Owner_M

@Html.Hidden("UserID", SessionHelper.UserID)
@Html.Hidden("SubscriberID", SessionHelper.SubscriptionID)
@Html.Hidden("SearchName")
@Html.Hidden("Page")
@Html.Hidden("OwnerID")

<div class="form-group">
    <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.Name) <span class="required">*</span></label>
    <div class="col-lg-9 col-sm-9">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
        @Html.ValidationMessageFor(model => model.Name)
        @Html.HiddenFor(model => model.OwnerID)
    </div>
</div>

<div class="form-group">
    <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.EmailAddress)</label>
    <div class="col-lg-9 col-sm-9">
      @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
        @Html.ValidationMessageFor(model => model.EmailAddress)
    </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.ContactNumber)</label>
  <div class="col-lg-9 col-sm-9">
      @Html.TextBoxFor(m => m.ContactNumber, new { @class = "form-control" })
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
    @Html.ValidationMessageFor(model => model.ContactNumber)
  </div>
</div>

@*<div class="form-group">
  <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.OwnedHorses)</label>
  <div class="col-lg-9 col-sm-9">
    @foreach (var horse in Model.OwnedHorses)
    {
      <div>@Html.DisplayFor(h => horse.Name)</div>
    }
  </div>
</div>*@