﻿@using ThoroughWorks.Web.Models.Helpers
@using ThoroughWorks.Models
@model UserSaleLocation_M
<tr>
    <td>@Html.HiddenFor(m => m.UserSaleLocationID, new { @class = "sale-id" })
        @Html.ActionLink(Model.SaleName, "Edit", new { id = Model.UserSaleLocationID }, null)</td>
    <td class="hidden-xs">@Model.Location  </td>
    <td class="hidden-xs hidden-sm">@Helpers.ConvertDateToString(Model.StartDate)  </td>
    <td class="hidden-xs hidden-sm">@Helpers.ConvertDateToString(Model.EndDate)   </td>
    <td><span style="float:left;">@Model.Horses.Count()<span class="hidden-xs"> Horse(s)</span></span>
        <a href="@Url.Action("Horses", new { id = Model.UserSaleLocationID })" class="view-horses btn btn-primary icon-button btn-sm" style="float:right;" title="View Horses At Sale"><i class="horse-font">5</i></a>
        </td>
    <td style="text-align: center;">
        <a href="@Url.Action("Edit", "SaleLocation", new { id = Model.UserSaleLocationID })" class="edit-horse btn btn-primary icon-button btn-sm  hidden-xs" title="Edit Sale"><i class="fa fa-edit"></i></a>
        <a href="javascript:void(0);" class="remove-sale btn btn-danger  icon-button btn-sm" title="Remove Sale"><i class="fa fa-times"></i></a>
        <a href="@Url.Action("Index", "SaleCard", new { id = Model.UserSaleLocationID, ReturnUrl = Server.UrlEncode(Request.Url.ToString()) })" class="view-stats btn btn-secondary icon-button btn-sm" title="View Inspection Cards"><i class="fa fa-file-text"></i></a>
        <a href="@Url.Action("SaleStatistics", "SaleCard", new { id = Model.UserSaleLocationID, ReturnUrl = Server.UrlEncode(Request.Url.ToString()) })" class="view-stats btn btn-secondary icon-button btn-sm" title="View Sales Statistics"><i class="fa fa-bar-chart-o"></i></a>
    </td>
</tr>

