﻿@model ThoroughWorks.Models.AdvertisingBanner_M

<tr>

    <td>@Html.ActionLink(Model.Name, "Edit", new { id = @Model.ID }, null)</td>
    <td class="hidden-xs hidden-sm">@Html.DisplayFor(m => m.Url)</td>
    <td class="hidden-xs">@Html.DisplayFor(m => m.DisplayedFrom)</td>
    <td class="hidden-xs">@Html.DisplayFor(m => m.DisplayedTo)</td>
    <td>
        <a href="@Url.Action("Edit", new { id = @Model.ID })" class="btn btn-primary icon-button btn-sm  hidden-xs" title="Edit Advertisement"><i class="fa fa-edit"></i></a>
        <a href="javascript:void(0)" onclick="DeleteRecord('@Model.ID')" class="remove-advertisement btn btn-danger  icon-button btn-sm" title="Remove Advertisement"><i class="fa fa-times"></i></a>
    </td>
</tr>
