﻿@using ThoroughWorks.Web.Models.Helpers

@model ThoroughWorks.Models.Subscriber_M

@{
    ViewBag.Title = "Subscriber Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageTitle = "Subscriber Details";
}


@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li class="active">
            <i class="fa fa-dollar"></i>
            <a href="@Url.Action("Index", "Subscriber")">Subscriptions</a>
        </li>
        <li class="active">
        @if (Model.SubscriberID == 0)
            {
                @Html.Raw("Add New Subsription")
            }
            else
            {
                @Html.Raw("Edit Subsription")
            }
        </li>
    </ul>
}

@*<form class="well widget flat radius-bordered no-margin" role="form" method="post" id="AddEditForm" enctype="multipart/form-data">*@
@using (Html.BeginForm("SaveRecord", "Subscriber", FormMethod.Post, new { @class = "well widget flat radius-bordered no-margin", @enctype = "multipart/form-data" }))
{
    <div>
        <div class="widget-header bg-blue">
            <input id="ReturnUrl" name="ReturnUrl" class="ReturnUrl" type="hidden" value="@ViewBag.ReturnUrl" />
            @Html.HiddenFor(m => m.Active)
            @Html.HiddenFor(m => m.ResolvedLogoFile)
            @if (Model.SubscriberID == 0)
            {
                <span class="widget-caption">New Subscriber</span>
            }
            else
            {
                <span class="widget-caption">Edit @Model.BusinessName</span>
            }
        </div>
        <div class="widget-body">
            <div class="form-group">
                @Html.LabelFor(model => model.ContactName)
                @Html.TextBoxFor(model => model.ContactName, null, new { maxlength = 500, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ContactName)

                @Html.HiddenFor(model => model.SubscriberID, new { @class = "SubscriberID" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BusinessName)
                @Html.TextBoxFor(model => model.BusinessName, null, new { maxlength = 1000, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BusinessName)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EmailID)
                @Html.TextBoxFor(model => model.EmailID, null, new { maxlength = 400, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmailID)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address)
                @Html.TextBoxFor(model => model.Address, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Address)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.City)
                @Html.TextBoxFor(model => model.City, null, new { maxlength = 200, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.City)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.State)
                @Html.TextBoxFor(model => model.State, null, new { maxlength = 200, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.State)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PostalCode)
                @Html.TextBoxFor(model => model.PostalCode, null, new { maxlength = 20, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PostalCode)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Mobile)
                @Html.TextBoxFor(model => model.Mobile, null, new { maxlength = 20, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Mobile)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phone)
                @Html.TextBoxFor(model => model.Phone, null, new { maxlength = 20, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Phone)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Fax)
                @Html.TextBoxFor(model => model.Fax, null, new { maxlength = 50, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Fax)
            </div>
        </div>

        <div class="widget-header bg-blue">
            <span class="widget-caption">Logo</span>
        </div>
        @if (!String.IsNullOrWhiteSpace(Model.ImagePath))
        {
            <div class="row no-margin">
                <div class="col-lg-12 col-sm-12">
                    <a href="@Url.Action("GetImageFile", "ImageGallery", new { imagePath = "~/SubscriberFiles/" + Model.SubscriberID + "/" + Model.ImagePath })" target="_blank" title="@Model.BusinessName">
                        <img alt="imgpreview" style="max-width:150px;margin-top:10px" src="@Url.Content("~/SubscriberFiles/" + Model.SubscriberID + "/" + Model.ImagePath)" />
                    </a>
                    <br />
                    <a href="javascript:void(0);" class="removeimage" style="color: red; margin-top: 10px;">Remove Image</a>
                </div>
            </div>
        }
        <div class="widget-body">
             <div class="row no-margin">
            <div class="form-group">
                @Html.LabelFor(model => model.ImagePath)
                @Html.HiddenFor(model => model.ImagePath)
                @Html.EditorFor(model => model.Image)
            </div>
            <div class="col-lg-9 col-sm-9">
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
            @Html.ValidationMessageFor(model => model.Image)
        </div>
        </div>

        <div class="widget-body">
            <div class="form-group">
                @*<button type="button" class="btn btn-success" onclick="SaveRecord();" id="btnSave">Save Changes</button>*@
                <button type="submit" class="btn btn-success">Save Changes</button>

                @if( Helpers.isSuperAdmin() )
                {
                    <a class="btn btn-warning" href="@Url.Action("Index", "Subscriber")">Cancel</a>
                }
            </div>
        </div>
    </div>



}




@section Scripts
{

    <script type="text/javascript">
        $(document).ready(function () {
            $(".removeimage").on("click", function () {
                var subID = '@Model.SubscriberID';
                if (confirm("Are you sure you want to remove this image?")) {
                    $.post("/Subscriber/RemoveImage", { id: subID }, function (data) {
                        location.href = $("#ReturnUrl").val();
                    });
                }
            });
        });
    </script>
}


