﻿@model MvcPaging.IPagedList<ThoroughWorks.Models.Subscriber_M>

@{
    ViewBag.Title = "Subscriber Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageTitle = "Subscriber Management";
}


@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li class="active">
            <i class="fa fa-dollar"></i>
            Subscriptions
        </li>
    </ul>
}

<div id="divlist">
    <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-8">
            <a class="btn btn-blue" href="@Url.Action("Add", "Subscriber")";" >Add a New Subscriber</a>
        </div>
    </div>
    <div class="well">
        <form id="formConfig" name="formConfig">
            <h4>Search</h4>
            <input type="hidden" id="Page" name="page" />
            <div class="form-inline">
                <div class="form-group ">
                    <div class="col-lg-12 no-padding">
                        <label class="sr-only" for="SearchContactName">Contact Name</label>
                        @Html.TextBox("SearchContactName", "", new { @class = "form-control", placeholder = "Contact Name" })
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-lg-12 no-padding">
                        <label class="sr-only" for="SearchBusinessName">Business Name</label>
                        @Html.TextBox("SearchBusinessName", "", new { @class = "form-control", placeholder = "Business Name" })
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-lg-12 no-padding">
                        <input type="submit" class="btn btn-blue" value="Search">
                    </div>
                </div>
            </div>
        </form>
        <div class="clear"></div>
    </div>
    <div id="listingData">
        @{Html.RenderPartial("Listing", Model);}
    </div>
</div>

<div id="PaymentList">
</div>

<div id="UserList">
</div>


@section Scripts
{
    <link href="~/Content/dropzone.css" rel="stylesheet" />
    <script src="~/Scripts/dropzone.js"></script>
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <script src="~/Content/beyond-admin/js/datetime/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
 

        function SearchRecord() {
            var url = '@Url.Action("AjaxListing")';
            $('#Page').val('1');
            $.post(url, $('#formConfig').serialize(), function (data, status) {
                $('#listingData').html(data);
            });
            return false;
        }

        
    </script>


}