﻿@using MvcPaging
@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model IPagedList<Subscriber_M>

<style type="text/css">
    .currentWeekExpired {
        background-color: #C4E9FF;
    }

    .expired {
        background-color: #FFD3C0;
    }

    .bordertop {
        border-top: 1px solid #bcbcbc;
    }
</style>
<div style="padding: 10px 0px" class="clearfix">
    <div class="currentWeekExpired pull-left" style="width: 18px; height: 18px; margin-left: 10px;">
    </div>
    <span class="pull-left" style="margin-left: 10px;">Expires This Week</span>
    <div class="expired pull-left" style="width: 18px; height: 18px; margin-left: 10px;">
    </div>
    <span class="pull-left" style="margin-left: 10px;">Already Expired</span>
</div>
<div class="clear">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th style="width: 15%;">Business Name</th>
                <th style="width: 15%;">Contact Name</th>
                <th style="width: 15%;" class="hidden-xs hidden-sm">Address</th>
                <th style="width: 15%;" class="hidden-xs">Email</th>
                <th style="width: 10%;" class="hidden-xs">Mobile</th>
                <th style="width: 13%;">Expire</th>
                <th style="width: 17%;"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0)
            {

                foreach (Subscriber_M subscriber in Model)
                {
                    DateTime startdate = DateTime.Today.AddDays(-1 * (int)(DateTime.Today.DayOfWeek)); ;
                    DateTime enddate = startdate.AddDays(6);
                    string classname = "";
                    if (subscriber.SubscriberPayments.Count > 0)
                    {

                        if (DateTime.Now.Date > subscriber.SubscriberPayments.FirstOrDefault().ExpirationDate.Date)
                        {
                            classname = "expired";
                        }
                        else if (startdate <= subscriber.SubscriberPayments.FirstOrDefault().ExpirationDate &&
                            enddate >= subscriber.SubscriberPayments.FirstOrDefault().ExpirationDate)
                        {
                            classname = "currentWeekExpired";
                        }
                    }
                <tr>
                    <td class="@classname">
                        <a href="@Url.Action("Edit", new { SubscriberID = subscriber.SubscriberID })" >@subscriber.BusinessName</a>
                        
                    </td>
                    <td class="@classname">
                        <a href="@Url.Action("Edit", new { SubscriberID = subscriber.SubscriberID })" >@subscriber.ContactName</a>
                    </td>
                    <td class="@classname hidden-xs hidden-sm">@subscriber.Address </td>
                    <td class="@classname hidden-xs">@subscriber.EmailID  </td>
                    <td class="@classname hidden-xs">@subscriber.Mobile  </td>
                    <td class="@classname">
                        @if (subscriber.SubscriberPayments.Count > 0)
                        {
                            @Helpers.ConvertDateToString(subscriber.SubscriberPayments.FirstOrDefault().ExpirationDate)
                        }
                    </td>
                    <td class="@classname">
                        <a href="@Url.Action("Edit", new { SubscriberID = subscriber.SubscriberID })" onclick="EditRecord('@subscriber.SubscriberID')" class="edit-user btn btn-primary icon-button btn-sm  hidden-xs" title="Edit Subscriber"><i class="fa fa-edit"></i></a>
                        <a href="javascript:void(0)" onclick="DeleteRecord('@subscriber.SubscriberID')" class="remove-user btn btn-danger  icon-button btn-sm" title="Remove Subscriber"><i class="fa fa-times"></i></a>
                        <a href="javascript:void(0)" onclick="ShowPaymentHistory('@subscriber.SubscriberID')" class="remove-user btn btn-secondary  icon-button btn-sm" title="Show Payment History"><i class="fa fa-dollar"></i></a>
                        <a href="@Url.Action("ShowUser", new { SubscriberID = subscriber.SubscriberID })" class="remove-user btn btn-secondary  icon-button btn-sm" title="Show Users"><i class="fa fa-user"></i></a>
                    </td>
                </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7">No Record Found.
                    </td>
                </tr>
            }
        </tbody>
    </table>


    @if (Model.Count > 0)
    {
        @Ajax.CustomAjaxPager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, "AjaxList", null, new CustomAjax
{
    FormToPost = "#formConfig",
    UrlToPost = @Url.Action("AjaxListing"),
    UpdateType = UpdateType.replace,
    UpdateControl = "#listingData"
})
    }
</div>
<script type="text/javascript">
    function DeleteRecord(id) {
        var url = '@Url.Action("AjaxListing")';
        if (confirm('Are you sure you want to delete this record?')) {
            showloading();
            $.ajax({
                url: '@Url.Action("DeleteRecord")' + '?SubscriberID=' + id,
                context: document.body,
                success: function (data) {

                    $.post(url, $('#formConfig').serialize(), function (data, status) {
                        $('#listingData').html(data);
                        hideloading();

                        $(".alert").attr("class", "alert alert-success");
                        $(".message-text").html("Subscriber Removed Successfully");
                        $(".fa-fw").attr("class", "fa-fw fa fa-check");
                        $(".alert").show();
                        setMessageTimeout();
                    });

                },
                error: function (err) {
                    hideloading();
                    alert(err.responseText);
                }
            });


        }
    }
    
    function ShowPaymentHistory(id) {
        getRequest('@Url.Action("ShowPayment")' + '?SubscriberID=' + id, '#PaymentList');
        $('#PaymentList').show();
        $('#divlist').hide();
        //$('#AddEditScreen').hide();
        $('#UserList').hide();
    }

    function ShowUser(id) {
        getRequest('@Url.Action("ShowUser")' + '?SubscriberID=' + id, '#UserList');
        $('#UserList').show();
        $('#PaymentList').hide();
        $('#divlist').hide();
        //$('#AddEditScreen').hide();

    }
</script>
