﻿@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model Subscriber_M

<div class="well widget flat radius-bordered no-margin">
    <div>
        <div class="widget-header bg-blue">
            <span class="widget-caption">@Model.ContactName - Payment History</span>
        </div>
        <div class="widget-body">
            <div class="form-group">
                <button type="button" class="btn btn-default" onclick="BackToSubscriber();">Back</button>
            </div>
            <div class="form-group">

                <form id="frmPayment">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 23%;">Amount</th>
                                <th style="width: 23%;">Date Paid</th>
                                <th style="width: 23%;">Expiration Date</th>
                                <th style="width: 30%"></th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.SubscriberPayments.Count > 0)
                            {
                                foreach (SubscriberPayment_M payment in Model.SubscriberPayments)
                                {
                                <tr>
                                    <td>@payment.Amount.ToString("N2")  </td>
                                    <td>@Helpers.ConvertDateToString(payment.DatePaid)  </td>
                                    <td>@Helpers.ConvertDateToString(payment.ExpirationDate) </td>
                                    <td>
                                        <a href="javascript:void(0);" onclick="EditPayment('@payment.SubsciberPaymentID');" class="edit-user btn btn-primary icon-button btn-sm  hidden-xs" title="Edit Payment"><i class="fa fa-edit"></i></a>
                                        <a href="javascript:void(0);" onclick="DeletePayment('@payment.SubsciberPaymentID')" class="remove-user btn btn-danger  icon-button btn-sm" title="Remove Payment"><i class="fa fa-times"></i></a>
                                </tr>
                                }
                            }

                            <tr>
                                <td>
                                    <input type="text" name="Amount" value="" onkeypress="return onlyPositiveNumbersWithDecimal(this,event);" class="form-control" />
                                    @Html.ValidationMessage("Amount")

                                    @Html.HiddenFor(j => j.SubscriberID)
                                    @Html.Hidden("SubsciberPaymentID", "")
                                </td>
                                <td>
                                    <input type="text" name="DatePaid" value="" class="form-control date-picker" data-date-format="dd/mm/yyyy" />
                                    @Html.ValidationMessage("DatePaid")
                                </td>
                                <td>
                                    <input type="text" name="ExpirationDate" value="" class="form-control date-picker" data-date-format="dd/mm/yyyy" />
                                    @Html.ValidationMessage("ExpirationDate")
                                </td>
                                <td>
                                    <input type="submit" class="btn btn-success" id="SaveUpdate" value="Add" onclick="return AddPayment();">
                                    <input type="button" class="btn btn-default" id="Cancel" value="Cancel" onclick="return CancelPayment();">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    initPlugins();
    //$('.date-picker').datepicker({ dateFormat: 'dd/mm/yy' });

    function DeletePayment(id) {
        if (confirm('Are you sure you want to delete this record?')) {
            getRequest('@Url.Action("DeletePayment")' + '?PaymentID=' + id, '#PaymentList');
        }

    }
    function BackToSubscriber() {

        var url = '@Url.Action("AjaxListing")';
        $.post(url, $('#formConfig').serialize(), function (data, status) {
            $('#listingData').html(data);
            $('#PaymentList').hide();
            $('#divlist').show();
            $('#AddEditScreen').hide();
            $('#UserList').hide();
        });


    }

    function EditPayment(id) {
        var url = '@Url.Action("GetPaymentByID", "Subscriber")' + '?PaymentID=' + id
        $.getJSON(url, null, function (data) {
            $("[name='Amount']").val(data.Amount);
            $("[name='DatePaid']").val(data.DatePaidStr);
            $("[name='ExpirationDate']").val(data.ExpirationDateStr);
            $("[name='SubsciberPaymentID']").val(data.SubsciberPaymentID);
            $('#SaveUpdate').val('Update');
        });
    }

    function CancelPayment() {
        $("[name='Amount']").val('');
        $("[name='DatePaid']").val('');
        $("[name='ExpirationDate']").val('');
        $("[name='SubsciberPaymentID']").val('');
        $('#SaveUpdate').val('Add');
        return false;
    }
    function AddPayment() {
        if (Valid() == true) {

            showloading();
            var url = '@Url.Action("SavePayment")';
                $.post(url, $('#frmPayment').serialize(), function (data, status) {
                    $('#PaymentList').html(data);

                    hideloading();
                }).error(function (error, status, a, b) {
                    $('#PaymentList').html(error.responseText);
                    hideloading();
                });

            }
            return false;
        }
        function Valid() {
            var bvalid = true;
            if ($.trim($("[name='Amount']").val()) == '') {
                $("[name='Amount']").css('border', '1px solid red');
                bvalid = false;
            }
            else {
                $("[name='Amount']").css('border', '');
            }

            if ($.trim($("[name='DatePaid']").val()) == '') {
                $("[name='DatePaid']").css('border', '1px solid red');
                bvalid = false;
            }
            else {
                $("[name='DatePaid']").css('border', '');
            }


            if ($.trim($("[name='ExpirationDate']").val()) == '') {
                $("[name='ExpirationDate']").css('border', '1px solid red');
                bvalid = false;
            }
            else {
                $("[name='ExpirationDate']").css('border', '');
            }

            return bvalid;
        }
</script>
