﻿@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model Subscriber_M

@{
    ViewBag.Title = "Subscriber User Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageTitle = "Subscription Users";
}


@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li>
            <i class="fa fa-dollar"></i>
            <a href="@Url.Action("Index", "Subscriber")">Subscriptions</a>
        </li>
        <li class="active">
            <i class="fa fa-user"></i>
            Users
        </li>
    </ul>
}

<div class="well widget flat radius-bordered no-margin">
    <div>
        <div class="widget-body">
            <div class="form-group">
                <a href="@Url.Action("Add", "UserManagement", new { SubscriberID = Model.SubscriberID, ReturnUrl = Server.UrlEncode(Request.Url.ToString()) })" class="btn btn-success">Add New User</a>
                <a href="@Url.Action("Index", "Subscriber")" class="btn btn-default">Back</a>
            </div>
            <div class="form-group">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 40%;">User</th>
                            <th style="width: 40%;">Roles</th>
                            <th style="width: 20%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.SubscriberUsers.Count > 0)
                        {
                            foreach (SubscriberUser_M user in Model.SubscriberUsers)
                            {
                            <tr>
                                <td>@user.UserName </td>
                                <td>@Html.Raw(user.RoleNames)</td>
                                <td>
                                    <a href="javascript:void(0)" onclick="DeleteUser('@user.SubscriberUserID')" class="remove-user btn btn-danger  icon-button btn-sm" title="Remove User"><i class="fa fa-times"></i></a>
                            </tr>
                            }
                        }
                        <tr>
                            <td>
                                @Html.Hidden("SubscriberID", @Model.SubscriberID)
                            </td>

                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    initPlugins();
    function DeleteUser(id) {
        if (confirm('Are you sure you want to delete this record?')) {
            getRequest('@Url.Action("DeleteUser")' + '?SubscriberUserID=' + id, '#UserList');
            window.location = window.location;
            //$('#UserList').show();
            //$('#PaymentList').hide();
            //$('#divlist').hide();
            //$('#AddEditScreen').hide();

        }

    }
    function BackToSubscriber() {

        var url = '@Url.Action("AjaxListing")';
        $.post(url, $('#formConfig').serialize(), function (data, status) {
            $('#listingData').html(data);
            $('#PaymentList').hide();
            $('#divlist').show();
            $('#AddEditScreen').hide();
            $('#UserList').hide();
        });


    }


    function CancelUser() {
        $("[name='UserID']").val('0');

        return false;
    }
    function AddUser() {

        if (Valid() == true) {
            showloading();
            var url = '@Url.Action("SaveUser")';
            $.post(url, $('#frmUser').serialize(), function (data, status) {
                $('#UserList').html(data);
                $('#UserList').show();
                $('#PaymentList').hide();
                $('#divlist').hide();
                $('#AddEditScreen').hide();

                hideloading();
            }).error(function (error, status, a, b) {
                $('#PaymentList').html(error.responseText);
                hideloading();
            });

        }
        return false;
    }
    function Valid() {
        var bvalid = true;
        if ($.trim($("[name='UserID']").val()) == '' || $.trim($("[name='UserID']").val()) == '0') {
            $("[name='UserID']").css('border', '1px solid red');
            bvalid = false;
        }
        else {
            $("[name='UserID']").css('border', '');
        }


        return bvalid;
    }
</script>

