﻿@using System.Web.Optimization
@{
    ViewBag.Title = "Error";
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!-- Viewport Metatag -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title></title>
      @Styles.Render("~/AdminBlueTheme")
     
</head>

<body>
    <!-- Header -->
    <!-- Header -->
    <div id="tw-header" class="clearfix">
        <!-- Logo Container -->
        <div id="tw-logo-container">

            <!-- Logo Wrapper, images put within this wrapper will always be vertically centered -->
            <div id="tw-logo-wrap">
                <h3 style="color: white;">ThoroughWorks</h3>
                @*<img src="@Url.Content("~/Images/logo.png")" alt="logo">*@
            </div>
        </div>

        <!-- User Tools (notifications, logout, profile, change password) -->
        <div id="tw-user-tools" class="clearfix">
        </div>


    </div>
    <div class="scontainer">

        <div class="container">
            <div id="mws-error-page">
                <h1> <span>Access Denied</span></h1>
                <h5>You are not authorized for this page.</h5>
                <p><a href="javascript:window.history.back()">click here</a> to go back</p>
            </div>
        </div>

    </div>
</body>
</html>
