﻿@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model VetWorkAttribute_M




<div class="form-group">
    <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.AttributeName)<span class="required">*</span></label>
    <div class="col-lg-9 col-sm-9">
        <div class="input-group">@Html.TextBoxFor(m => m.AttributeName, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
        @Html.HiddenFor(m => m.Sequence)
        @Html.HiddenFor(m => m.SubscriberID)
        @Html.ValidationMessageFor(model => model.AttributeName)
        @Html.HiddenFor(model => model.VetWorkAttributeID)
    </div>
</div>



