﻿@using ThoroughWorks.Models
@helper GetImage(string imagename, int horseid)
{
    if (String.IsNullOrWhiteSpace(imagename))
    {
        //No image found
    <img src="~/Images/no-preview.jpg" class="responseimg" style="max-height: 114px;" /> 
    }
    else
    {
        if (File.Exists(Server.MapPath("~/files/") + @horseid + "/" + @imagename))
        {
            string imageshowingpath = "/files/" + horseid + "/" + imagename;
    <img src="@imageshowingpath" class="responseimg" style="max-height:114px;" />
        }
        else
        {
    <img src="~/Images/no-preview.jpg" class="responseimg" style="max-height: 114px;" /> 
        }
    }
}

@helper GetTop1FoundImage(List<Horse_M> lst)
{
    bool found = false;
    foreach (Horse_M img in lst)
    {

        if (File.Exists(Server.MapPath("~/files/") + @img.HorseID + "/" + @img.ImagePath))
        {
            string imageshowingpath = "files/" + @img.HorseID + "/" + @img.ImagePath;
    <img src="@imageshowingpath" class="responseimg" />
            found = true;
            break;
        }

    }
    if (!found)
    {
    <img src="~/Images/no-horse-image.png" class="responseimg" /> 
    }
    
}

@helper GetAttachmentPath(int horseid, string attachment)
{
    var url = new System.Web.Mvc.UrlHelper(Context.Request.RequestContext);
    if (File.Exists(Server.MapPath("~/files/") + horseid + "/" + attachment))
    {
    <a target="_blank" href="@url.Content("~/files/" + horseid + "/" + attachment)" title="Open Attachment">
        <img src="/Content/Themes/Admin/icol32/report_magnify.png" alt="Open Report" /></a>
    }
}
