﻿@model MvcPaging.IPagedList<ThoroughWorks.Models.Sire_M>
@using ThoroughWorks.Web.Models.Helpers
@using ThoroughWorks.Models
@{
    ViewBag.Title = "Sire Management";
    ViewBag.PageTitle = "Sire Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li class="active">
            <i class="horse-font">5</i>
            Sires
        </li>
    </ul>

}

<div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-8">
        <a class="btn btn-blue" href="@Url.Action("Add", "Sire")">Add a New Sire</a>
    </div>
</div>


<div class="well">
    <form id="formConfig" name="formConfig">
        <h4>Search</h4>
        <input type="hidden" id="Page" name="page" />
        <div class="form-inline">
            <div class="form-group ">
                <div class="col-lg-12 no-padding">
                    <label class="sr-only" for="SearchOwner">Owner</label>
                    @Html.TextBox("SearchSire", "", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group ">
                <div class="col-lg-12 no-padding">
                    <input type="hidden" id="Page" name="page" value="1">
                    <input type="submit" class="btn btn-blue" value="Search">
                </div>
            </div>
        </div>
    </form>
    <div class="clear"></div>
</div>


<div id="listingData">
    @{Html.RenderPartial("Listing", Model);}
</div>



@section Scripts
{

    <script type="text/javascript">
        function Reloadables() {
           $(".remove-sire").on("click", function () {
                var url = '@Url.Action("AjaxListing")';
                var sireID = $(this).closest("tr").find(".sire-id").val();
                if (confirm('Are you sure you want to delete this sire?')) {
                    showloading();
                    $.ajax({
                        url: '@Url.Action("DeleteRecord")',
                        data: { EntityID: sireID },
                        context: document.body,
                        success: function (data) {
                            $(".alert").attr("class", "alert alert-success");
                            $(".message-text").html("Sire Removed Successfully");
                            $(".fa-fw").attr("class", "fa-fw fa fa-check");
                            $(".alert").show();
                            setMessageTimeout();

                            $.post(url, $('#formConfig').serialize(), function (data, status) {
                                $('#listingData').html(data);
                                hideloading();
                                Reloadables();
                            });

                        },
                        error: function (err) {
                            hideloading();
                            alert(err);
                        }
                    });
                }
            });

            $("#formConfig").on("submit", function () {
                var url = '@Url.Action("AjaxListing")';
                $('#Page').val('1');
                $.post(url, $('#formConfig').serialize(), function (data, status) {
                    $('#listingData').html(data);
                    Reloadables();
                });
                return false;
            });

            $("#tblAttributes").sortable({
                items: '.sortable',
                //placeholder: 'sortable-placeholder',
                //'start': function (event, ui) {
                //ui.placeholder.html("<tr><td colspan='13'>Drag Here</td></tr>")
                //},
                helper: function (e, tr) {
                    var $originals = tr.children();
                    var $helper = tr.clone();
                    $helper.children().each(function (index) {
                        // Set helper cell sizes to match the original sizes
                        $(this).width($originals.eq(index).width());
                    });
                    return $helper;
                },
                update: function (event, ui) {
                    index = 0;
                    groupId = null;
                    $("#tblAttributes .sortable").each(function () {
                        index++;
                        $(this).find(".sequence").val(index);
                    });

                    $("#sortable-form").submit();
                }
            }).disableSelection();

        }

        $(document).ready(function () {
            Reloadables();
        });

    </script>

    
}