﻿@using MvcPaging
@using ThoroughWorks.Models

@using ThoroughWorks.Web.Models.Helpers
@model IPagedList<Sire_M>

<table class="table table-striped table-hover table-bordered" id="tblAttributes">
    <thead>
        <tr>
            <th style="width: 30%;">Sire</th>
            <th style="width: 15%;"></th>
        </tr>
    </thead>
    <tbody>

        @Html.DisplayForModel()

    </tbody>
</table>


@if (Model.Count > 0)
{
    @Ajax.CustomAjaxPager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, "AjaxList", null, new CustomAjax
    {
        FormToPost = "#formConfig",
        UrlToPost = @Url.Action("AjaxListing"),
        UpdateType = UpdateType.replace,
        UpdateControl = "#listingData"
    })
}