﻿@using MvcPaging
@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model VetWork_M




<tr>
    <td>
@Html.DisplayFor(m => m.HorseName )
@Html.HiddenFor(m => m.VetWorkID)
@Html.HiddenFor(m => m.VetWorkID)
@Html.HiddenFor(m => m.VetID)    
@Html.HiddenFor(m => m.HorseID)            
@Html.HiddenFor(m => m.HorseName)      
@Html.HiddenFor(m => m.AgeCategory)            
@Html.HiddenFor(m => m.VisitDate, new { @class = "ignore" })            
@Html.HiddenFor(m => m.InFor)            
@Html.HiddenFor(m => m.Status)   
@Html.HiddenFor(model => model.NextVisitID)                 
    </td>
    <td>
        @Html.DisplayFor(m => m.InFor)
    </td>

@if (Model.VetWorkID != 0)
{            
    
    List<VetWorkCompleted_M> vcl = Model.VetWorkCompleted;
    if( vcl != null && vcl.Count > 0 )
    {
        for(var i = 0;i < Model.VetWorkCompleted.Count;i++)
        {
            <td>
                @Html.HiddenFor(m => Model.VetWorkCompleted[i].VetWorkCompletedID)   
                @Html.HiddenFor(m => Model.VetWorkCompleted[i].VetWorkID)   
                @Html.HiddenFor(m => Model.VetWorkCompleted[i].VetWorkAttributeID)   
                @Html.HiddenFor(m => Model.VetWorkCompleted[i].VetWorkAttributeName)   
                @Html.TextAreaFor(m => Model.VetWorkCompleted[i].AttributeValue, new { @class = "form-control autogrow"  })
                @Html.ValidationMessageFor(m => Model.VetWorkCompleted[i].AttributeValue)
            </td>
        }
    }
    
}

    <td>
        @Html.TextAreaFor(m => m.WorkCompleted, new { @class = "form-control autogrow", rows="5" })
        @Html.ValidationMessageFor(model => model.WorkCompleted)
    </td>
    <td>
        <div class="input-group">@Html.TextBoxFor(m => m.NextVisitDate, String.Format("{0:dd/MM/yyyy}", Model.NextVisitDate), new { @class = "form-control date-picker ignore", data_date_format = "dd/mm/yyyy"})
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
        </div>
        <br />
        @Html.TextAreaFor(m => m.NextInFor, new { @class = "form-control autogrow", @style="width:200px;" })
        @Html.ValidationMessageFor(model => model.NextInFor)
    </td>
</tr>



