﻿@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model VetWork_M

@Html.Hidden("UserID", SessionHelper.UserID)
@Html.Hidden("SubscriberID", SessionHelper.SubscriptionID)
@Html.Hidden("page")

@{
    string VetID = ViewBag.VetID;
    int? HorseID = ViewBag.HorseID;
    string VisitDate = ViewContext.RouteData.Values["action"].ToString() == "Add" ? (ViewBag.VisitDate == null ? "" : ViewBag.VisitDate) : ""; 
}

@if (ViewContext.RouteData.Values["action"].ToString() != "Complete")
{
    <div class="form-group">
        <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.HorseName) <span class="required">*</span></label>
        <div class="col-lg-9 col-sm-9">
            @Html.DropDownList("HorseID", DropDownHelper.GetAllUserHorses(HorseID, SessionHelper.SubscriptionID), "--Select Horse--", new { @style = "width:100%;" })
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
            @Html.ValidationMessageFor(model => model.HorseID)
            @Html.HiddenFor(model => model.HorseID)
            @Html.HiddenFor(model => model.VetWorkID)
            @Html.HiddenFor(model => model.NextVisitID)
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.VetName) <span class="required">*</span></label>
        <div class="col-lg-9 col-sm-9">
            @Html.DropDownList("VetID", DropDownHelper.GetAllVets(VetID), "--Select Vet--", new { @class = "form-control" })

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
            @Html.ValidationMessageFor(model => model.VetID)
            @Html.HiddenFor(model => model.VetID)
        </div>
    </div>


    <div class="form-group">
        <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.VisitDate)<span class="required">*</span></label>
        <div class="col-lg-9 col-sm-9">
            <div class="input-group">@Html.TextBoxFor(m => m.VisitDate, String.Format("{0:dd/MM/yyyy}", Model.VisitDate), new { @class = "form-control date-picker ignore", data_date_format = "dd/mm/yyyy" })
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
            @Html.ValidationMessageFor(model => model.VisitDate)
        </div>
    </div>





    <div class="form-group">
        <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.InFor)<span class="required">*</span></label>
        <div class="col-lg-9 col-sm-9">
            @Html.TextBoxFor(m => m.InFor, new { @class = "form-control" })
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
            @Html.ValidationMessageFor(model => model.InFor)
        </div>
    </div>

    if (ViewContext.RouteData.Values["action"].ToString() == "Edit")
    {
    <div class="form-group">
        <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.Status)</label>
        <div class="col-lg-9 col-sm-9">
            @Html.DisplayFor(m => m.Status)
            @Html.HiddenFor(m => m.Status)
        </div>

    </div>
    }

}
else  // Action is Complete
{





    


    <div class="form-group">
        <div class="col-lg-12 col-sm-12">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th style="width: 25%;">Treatment</th>
                        <th style="width: 75%;">Details</th>

                    </tr>
                </thead>
                <tbody>
                        @Html.EditorFor(m => m.VetWorkCompleted)
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.WorkCompleted)</label>
        <div class="col-lg-9 col-sm-9">
            @Html.TextAreaFor(m => m.WorkCompleted, new { @class = "form-control" })
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
            @Html.ValidationMessageFor(model => model.WorkCompleted)
        </div>
    </div>


    <div class="form-group">
        <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.NextVisitDate)</label>
        <div class="col-lg-9 col-sm-9">
            <div class="input-group">@Html.TextBoxFor(m => m.NextVisitDate, String.Format("{0:dd/MM/yyyy}", Model.NextVisitDate), new { @class = "form-control date-picker ignore", data_date_format = "dd/mm/yyyy" })
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
            @Html.ValidationMessageFor(model => model.NextVisitDate)
        </div>
    </div>


    <div class="form-group">
        <label class="col-lg-3 col-sm-3" for="Name">@Html.DisplayNameFor(m => m.NextInFor)</label>
        <div class="col-lg-9 col-sm-9">
            @Html.TextBoxFor(m => m.NextInFor, new { @class = "form-control" })
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24">
            @Html.ValidationMessageFor(model => model.NextInFor)
        </div>
    </div>










}
