﻿@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model VetWorkCompleted_M

<tr>
    <td>
        @Html.HiddenFor(m => m.VetWorkCompletedID)
        @Html.HiddenFor(m => m.VetWorkID)
        @Html.HiddenFor(m => m.VetWorkAttributeID)
        @Html.DisplayFor(m => m.VetWorkAttributeName)
    </td>
    <td>
        @Html.TextBoxFor(m => m.AttributeValue, null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AttributeValue)

    </td>
</tr>

