﻿@using ThoroughWorks.Web.Models.Helpers;
@model ThoroughWorks.Models.Owner_M

@{
  bool isAdmin = Helpers.isAdmin();
  bool isSuperAdmin = Helpers.isSuperAdmin();
}

<tr>
  <td>
    @Html.HiddenFor(m => m.OwnerID, new { @class = "owner-id" })
    @Html.ActionLink(Model.Name, "Edit", "Owner", new { id = Model.OwnerID }, null)
  </td>
  <td class="hidden-xs">@Html.DisplayFor(m => m.EmailAddress)</td>
  <td class="hidden-xs">@Html.DisplayFor(m => m.ContactNumber)</td>
  <td>
    <a href="@Url.Action("Edit", "Owner", new { id = Model.OwnerID })" class="edit-owner btn btn-primary icon-button btn-sm hidden-xs" title="Edit Owner"><i class="fa fa-edit"></i></a>
    @if (isAdmin || isSuperAdmin)
    {
      <a href="javascript:void(0);" class="remove-owner btn btn-danger icon-button btn-sm" title="Remove Owner"><i class="fa fa-times"></i></a>
    }
  </td>
</tr>
