﻿@using System.Web.Optimization
@using ThoroughWorks.Models
@using ThoroughWorks.Data
@using ThoroughWorks.Web.Models.Helpers
@model List<UserSaleLocation_M>
<div class="tw-panel grid_8" style="box-shadow: none;">
    <div class="tw-panel-header">
        <span>Current Sales</span>
    </div>

    <div class="tw-panel-body no-padding clearfix" style="margin-bottom: 30px;">
        <table class="tw-table">
            <thead>
                <tr>
                    <th style="width: 20%;">Sale Name</th>
                    <th style="width: 20%;">Location</th>
                    <th style="width: 15%;">Start Date</th>
                    <th style="width: 15%;">End Date</th>
                    <th style="width: 30%;"></th>
            </thead>
            <tbody>
                @foreach (UserSaleLocation_M saleslocation in Model)
                {
                    <tr>
                        <td>@saleslocation.SaleName  </td>
                        <td>@saleslocation.Location  </td>
                        <td>@Helpers.ConvertDateToString(saleslocation.StartDate)  </td>
                        <td>@Helpers.ConvertDateToString(saleslocation.EndDate)   </td>
                        <td>
                            <a href="@Url.Action("Add","SaleCard", new { id = saleslocation.UserSaleLocationID})" class="btn btn-success btn-xs">Add Card</a>
                            @if (Helpers.IsInRole(Convert.ToString((int)ThoroughWorks.Web.Models.Helpers.EnumHelper.Roles.SaleManager)) || Helpers.IsInRole(Convert.ToString((int)ThoroughWorks.Web.Models.Helpers.EnumHelper.Roles.AdminUser)))
                            {
                                
                            <a href="@Url.Action("SaleStatistics","SaleCard", new { id = saleslocation.UserSaleLocationID, ReturnUrl= Server.UrlEncode(Request.Url.ToString())})" class="btn btn-primary btn-xs">View Statistics</a>
                            }
                            <a href="@Url.Action("Index","SaleCard", new { id = saleslocation.UserSaleLocationID})" class="btn btn-primary btn-xs">View Cards</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>
<script type="text/javascript">
    function getHorses(locationid) {
        var url = '@Url.Action("LoadHorses", "Dashboard")' + '?LocationID=' + locationid;
        getRequest(url, '#DashboardData');
    }

@*    function ViewInterestCard(locationid)
    {
        var url = '@Url.Action("ViewInterestCard", "Dashboard")' + '?LocationID=' + locationid;
        getRequest(url, '#DashboardData');
    }*@
</script>
