﻿@using System.Web.Optimization
@using ThoroughWorks.Models
@using ThoroughWorks.Data
@using ThoroughWorks.Web.Models.Helpers

@model DashboardStatistics
@{
    
    //string layout = "";
    //string title = "";
    //if (Helpers.isAdmin() || Helpers.isSuperAdmin())
    //{
    //    layout = "~/Views/Shared/AdminLayout.cshtml";
    //    title = "ThoroughWorks :: Dashboard";
    //}
    //else
    //{
    //    layout = "~/Views/Shared/UserLayout.cshtml";
    //    title = "ThoroughWorks :: Dashboard";
    //}
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ThoroughWorks :: Dashboard";
    ViewBag.PageTitle = "Dashboard";
}

@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li class="active">
            <i class="fa fa-home"></i>
            Home
        </li>
    </ul>
}
@{
}

<div class="col-lg-12 col-sm-12 col-xs-12">
    @if (Helpers.isSuperAdmin())
    {
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="databox databox-halved radius-bordered databox-shadowed">
                    <div class="databox-left bg-white">
                        <span class="databox-number sky">@Model.AdminSubscribers</span>
                    </div>
                    <div class="databox-right bg-sky padding-10">
                        <span class="databox-title white">Subscribers</span>
                        <div class="databox-text white"><a class="white" href="@Url.Action("Index", "Subscriber")">View List</a></div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="databox databox-halved radius-bordered databox-shadowed">
                    <div class="databox-left bg-white">
                        <span class="databox-number azure">@Model.Horses</span>
                    </div>
                    <div class="databox-right bg-azure padding-10">
                        <span class="databox-title white">Horses</span>
                        <div class="databox-text white">across all active subscribers</div>

                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        if (Helpers.isVet())
        {
        <div class="row">
            <div class="col-xs-24 col-md-12">
                <div class="well with-header">
                    <div class="header bordered-azure">
                        Today's Appointments
                    </div>

                    <form id="formVetWork" name="formVetWork">
                        <input type="hidden" id="Page" name="page" value="1">
                    </form>

                    <div id="listingData">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>

                                    <th style="width: 15%">Horse Name</th>
                                    @if (Helpers.isAdmin())
                                    {
                                        <th style="width: 15%">Vet Name</th>
                                    }
                                    <th style="width: 10%" class="hidden-xs hidden-sm hidden-md">Age Category</th>
                                    <th style="width: 10%" class="hidden-xs hidden-sm">Last Visit</th>
                                    <th style="width: 25%">In For</th>
                                    <th style="width: 12%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.VetWork.Count == 0)
                                {
                                    <tr>
                                        <td colspan="9">No Record Found.
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    @Html.DisplayFor(m => m.VetWork)
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        }
        <div class="row">
            <div class="col-xs-24 col-md-12">
                <div class="well with-header with-footer">
                    <div class="header bordered-azure">
                        Current Sale Lists
                    </div>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width: 30%;">Sale Name</th>
                                <th style="width: 20%;" class="hidden-xs">Location
                                </th>
                                <th style="width: 15%;" class="hidden-xs">Start Date
                                </th>
                                <th style="width: 15%;" class="hidden-xs">End Date
                                </th>
                                <th style="width: 20%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @Html.DisplayFor(m => m.CurrentSaleLocations)
                        </tbody>
                    </table>

                    <div class="footer">
                        @Model.CurrentSaleLocations.Count Current Sales Found
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@section Scripts
{
    <script type="text/javascript">

        function Reloadables() {
            $(".remove-vetwork").on("click", function () {
                var url = '@Url.Action("VetWork")';
                var vetWorkID = $(this).closest("tr").find(".vetwork-id").val();
                var vetID = $(this).closest("tr").find(".vet-id").val();
                if (confirm('Are you sure you want to delete this appointment?')) {
                    showloading();
                    $.ajax({
                        url: '@Url.Action("DeleteVetWorkRecord")',
                        data: {
                            VetWorkID: vetWorkID,
                            VetID: vetID
                        },
                        context: document.body,
                        success: function (data) {
                            $(".alert").attr("class", "alert alert-success");
                            $(".message-text").html("Appointment Removed Successfully");
                            $(".fa-fw").attr("class", "fa-fw fa fa-check");
                            $(".alert").show();
                            setMessageTimeout();

                            $.post(url, $('#formConfig').serialize(), function (data, status) {
                                $('#listingData').html(data);
                                hideloading();
                                Reloadables();
                            });

                        },
                        error: function (err) {
                            hideloading();
                            alert(err);
                        }
                    });
                }
            });
        }

        $(document).ready(function () {
            Reloadables();
        });

    </script>
}