﻿@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model List<Card_M>
<style type="text/css">
    .tw-table thead tr th {
    border-top:1px solid #CCCCCC;
    }
</style>
<div class="tw-panel grid_8s boxnone" id="divInterestCardiLst">
    <div class="tw-panel-header">
        <span>Inspection Card List </span>
    </div>


    <div class="tw-panel-body clearfix" style="padding: 0px;">
        <div class="row" style="margin: 0px; padding: 10px 20px">
            <button type="button" class="btn btn-default" onclick="BackToDashboard();">Back</button>
        </div>

        <table class="tw-table" id="tblHorseList">
            <thead>
                <tr>

                    <th style="width: 40%">Ref ID</th>
                    <th style="width: 20%">Person Name</th>
                    <th style="width: 40%">Interested Horses</th>

                </tr>
            </thead>
            <tbody>
                @if (Model.Count == 0)
                {
                    <tr>
                        <td colspan="3">No Cards Found.
                        </td>
                    </tr>
                }
                else
                {
                    foreach (Card_M cardm in Model)
                    {
                    <tr>
                        <td>@cardm.UserRefNo</td>
                        <td>@Helpers.EmptyThanSymbol(@cardm.PersonName, "-") </td>
                        <td>@Html.Raw(String.Join("<br/>", (from aa in cardm.Horses
                                                            select aa.Name).ToArray()))    </td>

                    </tr>
                        
                    }
                }
            </tbody>
        </table>
    </div>

</div>
<script type="text/javascript">
    function BackToDashboard() {
        window.location.href = '@Url.Action("Index","Dashboard")';
    }

</script>