﻿@using System.Web.Optimization
@using ThoroughWorks.Models
@using ThoroughWorks.Data
@using ThoroughWorks.Web.Models.Helpers
@model DashboardStatistics
<div class="tw-stat-container clearfix">

            <!-- Statistic Item -->
            <a href="@Url.Action("Index","Horse")" class="tw-stat">
                <!-- Statistic Icon (edit to change icon) -->
                <i class="tw-stat-icon icol32-horse"></i>

                <!-- Statistic Content -->
                <span class="tw-stat-content">
                    <span class="tw-stat-title">Horses</span>
                    <span class="tw-stat-value">@Model.Horses</span>
                </span>
            </a>

             <!-- Statistic Item -->
            <a href="@Url.Action("Index","SaleLocation")" class="tw-stat">
                <!-- Statistic Icon (edit to change icon) -->
                <span class="tw-stat-icon icol32-building"></span>

                <!-- Statistic Content -->
                <span class="tw-stat-content">
                    <span class="tw-stat-title">Sales</span>
                    <span class="tw-stat-value">@Model.SalesLocation </span>
                </span>
            </a>
        </div>