﻿
@using ThoroughWorks.Web.Models.Helpers
@using ThoroughWorks.Models
@model Sire_M


<tr class="sortable">
    <td>
        @Html.HiddenFor(m => m.SireID, new { @class = "sire-id" })
        @Html.HiddenFor(m => m.SireID, new { @class = "sire-id" })
        @Html.HiddenFor(m => m.SireName, new { @class = "sire-id" })
        @Html.ActionLink(Model.SireName, "Edit", new { id = Model.SireID }, null)</td>
    

    <td style="text-align: center;">
        <a href="@Url.Action("Edit", "Sire", new { id = Model.SireID })" class="edit-horse btn btn-primary icon-button btn-sm  hidden-xs" title="Edit Sire"><i class="fa fa-edit"></i></a>
        <a href="javascript:void(0);" class="remove-sire btn btn-danger  icon-button btn-sm" title="Remove Sire"><i class="fa fa-times"></i></a>
    </td>
</tr>