﻿@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model Horse_M

@{
    ViewBag.Title = "Horse Management";
    ViewBag.PageTitle = "Horse Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    int? SireID = ViewBag.SireID;
}


@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li>
            <i class="horse-font">5</i>
            <a href="@Url.Action("Index", "Horse")">Horses</a>
        </li>
        <li class="active">
            <i class="fa fa-user"></i>
            @if (Model.HorseID == 0)
            {
                @Html.Raw("Add New Horse")
            }
            else
            {
                @Html.Raw("Edit")
            }
        </li>
    </ul>
}

<div class="col-lg-9 col-md-9 col-sm-9 col-xs-24 no-margin no-padding">
    <div class="widget">
        <div class="widget-header bg-blue">
            @if (Model.HorseID == 0)
            {
                <span class="widget-caption">New Horse</span>
            }
            else
            {
                <span class="widget-caption">Edit @Model.Name</span>
            }

        </div>
        <div class="widget-body">
            @using (Html.BeginForm("SaveRecord", "Horse", FormMethod.Post, new { @class = "form-horizontal", @style = "clear:none", @enctype = "multipart/form-data" }))
            {
                <input type="hidden" id="ReturnUrl" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
                @Html.EditorForModel()

                <button type="submit" class="btn btn-success">Save Changes</button>
                <a href="@Url.Action("Index")" class="btn btn-warning">Cancel</a>
            }
        </div>
    </div>
</div>



@if(Model.HorseID > 0 )
{

 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24 no-margin no-padding">
        <div class="widget">
            <div class="widget-header bg-blue">
                <span class="widget-caption">Vet Work for @Model.Name</span>
            </div>
        <div class="widget-body">
            <div class="row no-margin" style="padding-bottom:15px;">
                <a href="@Url.Action("Add", "VetWork", new { HorseID = Model.HorseID, ReturnUrl = Server.UrlEncode(Request.Url.ToString()) })" class="btn btn-blue">Add a New Appointment</a>
                </div>




<form id="formVetWork" name="formVetWork">
        <input type="hidden" id="ID" name="id" value="@Model.HorseID">
        <input type="hidden" id="Page" name="page" value="1">
    </form>


<div id="listingData">
    @{Html.RenderAction("VetWork", Model.HorseID);}
</div>

</div>
</div>
</div>









}



@section Scripts
{
    <script src="~/Scripts/Fileinput/fileinput.js"></script>
    @*<script src="~/Content/beyond-admin/js/datetime/bootstrap-datepicker.js"></script>*@
    <script type="text/javascript">
        jQuery.validator.defaults.ignore = ".ignore";
        $.validator.unobtrusive.parse("#AddEditForm");
        jQuery(function ($) {
            $.validator.addMethod('date',
            function (value, element) {
                if (this.optional(element)) {
                    return true;
                }

                var ok = true;
                try {
                    $.datepicker.parseDate('dd/mm/yyyy', value);
                }
                catch (err) {
                    ok = false;
                }
                return ok;
            });
        });
        initPlugins();

        function Reloadables() {
            $("#SireID").select2({ containerCssClass: "selected-sire" });

            $(".removeimage").on("click", function () {
                //var thisUrl = '@Server.UrlEncode(Request.Url.ToString())';
                var horseID = '@Model.HorseID';
                if (confirm("Are you sure you want to remove this image?")) {
                    $.post("/Horse/RemoveImage", { id: horseID }, function (data) {
                        location.href = location.href;
                    });
                }
            });

            $(".removeattachment").on("click", function () {
                //var thisUrl = '@Server.UrlEncode(Request.Url.ToString())';
                var horseID = '@Model.HorseID';
                if (confirm("Are you sure you want to remove this Attachment?")) {
                    $.post("/Horse/RemoveAttachment", { id: horseID }, function (data) {
                        location.href = location.href;
                    });
                }

            });

            $('#AgeCategory').change(function () {
                setDefaultHorseName();
            });

            $('#DOB').change(function () {
                setDefaultHorseName();
            });

            $('#SireID').change(function () {
                setDefaultHorseName();
            });

            $('#Dam').change(function () {
                setDefaultHorseName();
            });

            // If Weanling or Yearling, if Sire/Dam/DOB known, set default name
            function setDefaultHorseName() {
                if ($('#Name').val().length == 0) {
                    var ageSelected = $('#AgeCategory  option:selected').text();
                    if (ageSelected == "Weanling" || ageSelected == "Yearling") {
                        if ($("#SireID option:selected").text().length > 0 && $('#Dam').val().length > 0 && $('#DOB').val().length > 0) {
                            var dt = $('#DOB').val();
                            var arrDt = dt.split('/');
                            var horseName = $("#SireID option:selected").text() + "/" + $('#Dam').val() + "/" + arrDt[2].substring(2, 4);
                            $('#Name').val(horseName);
                        }
                    }

                }
            }

            $(".remove-vetwork").on("click", function () {
                var url = '@Url.Action("VetWork")';
                var vetWorkID = $(this).closest("tr").find(".vetwork-id").val();
                var horseID = $(this).closest("tr").find(".horse-id").val();
                if (confirm('Are you sure you want to delete this appointment?')) {
                    showloading();
                    $.ajax({
                        url: '@Url.Action("DeleteVetWorkRecord")',
                        data: {
                            VetWorkID: vetWorkID,
                            HorseID: horseID
                        },
                        context: document.body,
                        success: function (data) {
                            $(".alert").attr("class", "alert alert-success");
                            $(".message-text").html("Appointment Removed Successfully");
                            $(".fa-fw").attr("class", "fa-fw fa fa-check");
                            $(".alert").show();
                            setMessageTimeout();

                            $.post(url, $('#formVetWork').serialize(), function (data, status) {
                                $('#listingData').html(data);
                                hideloading();
                                Reloadables();

                            });

                        },
                        error: function (err) {
                            hideloading();
                            alert(err);
                        }
                    });
                }
            });
        }

        $(document).ready(function () {
            Reloadables();
        });
    
        function removeNestedForm(element, container, deleteElement) {
            if (confirm('Are you sure you want to delete this item?')) {
                $container = $(element).parents(container);
                $container.find(deleteElement).val('True');
                $container.hide();
            }
        }

        function addNestedForm(container, counter, ticks, content) {
            var nextIndex = $(counter).length;
            var pattern = new RegExp(ticks, "gi");
            content = content.replace(pattern, nextIndex);
            $(container).append(content);
        }


    </script>
}
