﻿@model MvcPaging.IPagedList<ThoroughWorks.Models.Horse_M>
@using ThoroughWorks.Web.Models.Helpers
@using ThoroughWorks.Models
@{
    ViewBag.Title = "Horse Management";
    ViewBag.PageTitle = "Horse Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li class="active">
            <i class="horse-font">5</i>
            Horses
        </li>
    </ul>

}

@{
    string SearchTags = (ViewBag.Search as HorseSearch ?? new HorseSearch()).SearchTags;
    bool SearchCurrentOnly = (ViewBag.Search as HorseSearch ?? new HorseSearch()).CurrentOnly;
}



<div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-8">
        <a class="btn btn-blue" href="@Url.Action("Add", "Horse")">Add a New Horse</a>
    </div>
</div>
<div class="well">
    <form id="formConfig" name="formConfig">
        <h4>Search</h4>
        <input type="hidden" id="Page" name="page" />
        <div class="form-inline">
            <div class="col-lg-12 no-padding">
                @Html.TextBox("SearchTags", "", new { @class = "form-control tagInput", placeholder = "Enter search tags", @style = "width:100%;" })
            </div>

            <div class="col-lg-12 no-padding">
                <label>Current Horses Only</label>
                <div class="checkbox">
                    @Html.CheckBox("CurrentOnly", SearchCurrentOnly)
                </div>
            </div>

            <div class="form-group ">
                <div class="col-lg-12 no-padding">
                    <input type="submit" class="btn btn-blue" value="Search">
                </div>
            </div>
        </div>
</form>
    <div class="clear"></div>
</div>
<div id="listingData">
    @{Html.RenderPartial("Listing", Model);}
</div>

@section Scripts
{

    <script type="text/javascript">

        function Reloadables() {
            $(".remove-horse").on("click", function () {
                var url = '@Url.Action("AjaxListing")';
                var horseID = $(this).closest("tr").find(".horse-id").val();
                if (confirm('Are you sure you want to delete this horse?')) {
                    showloading();
                    $.ajax({
                        url: '@Url.Action("DeleteRecord")',
                        data: { HorseID: horseID },
                        context: document.body,
                        success: function (data) {
                            $(".alert").attr("class", "alert alert-success");
                            $(".message-text").html("Horse Removed Successfully");
                            $(".fa-fw").attr("class", "fa-fw fa fa-check");
                            $(".alert").show();
                            setMessageTimeout();

                            $.post(url, $('#formConfig').serialize(), function (data, status) {
                                $('#listingData').html(data);
                                hideloading();
                                Reloadables();

                            });

                        },
                        error: function (err) {
                            hideloading();
                            alert(err);
                        }
                    });
                }
            });

            $("#formConfig").on("submit", function () {
                var url = '@Url.Action("AjaxListing")';
                $('#Page').val('1');
                $.post(url, $('#formConfig').serialize(), function (data, status) {
                    $('#listingData').html(data);
                });
                return false;
            });

            $(".tagInput").tagsinput({ confirmKeys: [13, 9, 188, 186] });
        }
        $(document).ready(function () {
            Reloadables();
        });

    </script>

    <script src="~/Content/beyond-admin/js/tagsinput/bootstrap-tagsinput.js"></script>
}