﻿@using ThoroughWorks.Web.Models.Helpers
@model List<ThoroughWorks.Models.HorseOwner_M>

@{
    ViewBag.Title = "Horse Owners";
    ViewBag.PageTitle = "Horse Owners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs
{
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
        </li>
        <li>
            <i class="horse-font">5</i>
            <a href="@Url.Action("Index", "Horse")">Horses</a>
        </li>
        <li>
            <i class="horse-font">5</i>
            <a href="@Url.Action("Edit", "Horse", new { id = ViewBag.HorseID} )">@ViewBag.HorseName</a>
            
        </li>
        <li class="active">
            <i class="fa menu-icon glyphicon fa-users"></i>
            Owners
        </li>
    </ul>
}

<div class="col-lg-12 col-sm-12 col-xs-24 no-padding">
    <div class="widget">
        <div class="widget-header bg-blue">
            <span class="widget-caption">Owners of @ViewBag.HorseName</span>
        </div>
        <div class="widget-body">
            @using (Html.BeginForm("Owners", "Horse", FormMethod.Post))
            {
                <input type="hidden" name="HorseID" value="@ViewBag.HorseID" id="HorseID" />
                <div class="no-padding clear" id="listingHorseData">
                    <table class="table table-striped table-hover table-bordered dragtable" id="tblHorses">
                        <thead>
                            <tr>
                                <th style="width: 25%;">Owner</th>
                                <th style="width: 25%;">Email</th>
                                <th style="width: 25%;">Contact Number</th>
                                <th style="width: 25%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @Html.EditorForModel()
                        </tbody>
                    </table>

                </div>
                <div class="no-padding clear" style="margin-top:20px;">
                    
                    @Html.LinkToAddNestedForm("Add New Owner", "#tblHorses", "#tblHorses tr.tablerow", "", typeof(ThoroughWorks.Models.HorseOwner_M))


                    <input type="submit" class="btn btn-success" value="Save" />
                    <a href="@Url.Action("Index", "Horse", new { id = @ViewBag.HorseID  })" class="btn btn-warning">Close</a>
                </div>
            }
        </div>
    </div>
</div>



@section Scripts
{
    <script type="text/javascript">
        
        initPlugins();
        $("#OwnerID").select2();
        

        function removeNestedForm(element, container, deleteElement) {
            if (confirm('Are you sure you want to delete this item?')) {
                $container = $(element).parents(container);
                $container.find(deleteElement).val('True');
                $container.hide();
            }
        }

        function addNestedForm(container, counter, ticks, content) {
            var nextIndex = $(counter).length;
            var pattern = new RegExp(ticks, "gi");
            content = content.replace(pattern, nextIndex);
            $(container).append(content);
        }

       
    </script>
}