﻿@using MvcPaging
@using ThoroughWorks.Models

@using ThoroughWorks.Web.Models.Helpers
@model IPagedList<VetWork_M>





<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>

            <th style="width: 15%">Vet</th>
            <th style="width: 10%">Visit Date</th>
            <th style="width: 20%" class="hidden-xs hidden-sm">In For</th>
            <th style="width: 10%" class="hidden-xs hidden-sm hidden-md">Status</th>
            <th style="width: 10%" class="hidden-xs hidden-sm hidden-md">Next Visit</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count == 0)
        {
            <tr>
                <td colspan="9">No Record Found.
                </td>
            </tr>
        }
        else
        {
            @Html.DisplayForModel()
        }
    </tbody>
</table>

@if (Model.Count > 0)
{
    @Ajax.CustomAjaxPager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, "AjaxList", null, new CustomAjax
    {
        FormToPost = "#formVetWork",
        UrlToPost = @Url.Action("VetWork"),
        UpdateType = UpdateType.replace,
        UpdateControl = "#listingData"
    })
}