﻿@using ThoroughWorks.Models
@using ThoroughWorks.Web.Models.Helpers
@model AdvertisingBanner_M


@Html.HiddenFor(model => model.ID)
@Html.Hidden("UserID", SessionHelper.UserID)

<div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, null, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Name)

</div>

<div class="form-group">
    @Html.LabelFor(model => model.Url)
    @Html.TextBoxFor(model => model.Url, null, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Url)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.DisplayedFrom)
    <input type="text" name="DisplayedFrom" value="@String.Format("{0:dd/MM/yyyy}",Model.DisplayedFrom)" class="form-control date-picker" data-date-format="dd/mm/yyyy" />
    @Html.ValidationMessageFor(model => model.DisplayedFrom)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.DisplayedTo)
    <input type="text" name="DisplayedTo" value="@String.Format("{0:dd/MM/yyyy}",Model.DisplayedTo)" class="form-control date-picker" data-date-format="dd/mm/yyyy" />
    @Html.ValidationMessageFor(model => model.DisplayedTo)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Image)
    @Html.EditorFor(model => model.Image)
    @Html.HiddenFor(model => model.ImagePath)
    @Html.ValidationMessageFor(model => model.Image)
    @if (!String.IsNullOrWhiteSpace(Model.ImagePath))
    {
        <img alt="imgpreview" style="max-width:100%; margin-top:10px;" src="@Url.Content("~/files/Advertising/" + Model.ID + "/" + Model.ImagePath)" />
    }
</div>

